@model IEnumerable<Models.DiamondData>
@using Common;
<div class="container">
    <div class="row">
        <!-- Card 1 -->
        @foreach (var item in Model)
        {
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 mb-2 ">
                <div class="card compare-card">
                    <div class="m-1">
                        <input type="checkbox" class="compare-diamond-id" data-diamondId="@item.Id" value="@item.Id" checked />
                        <lable><b>Compare</b></lable>
                    </div>
                    <img src="@SD.ImgUrl@item.IconPath" class="card-img-top mx-auto d-block" style="max-width:120px; height:auto;padding-top:5px;" alt="Card image">
                    <div class="card-body">

                        <table class="table table-sm table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" colspan="2">Diamond Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Shape</td>
                                    <td>@item.ShapeName</td>
                                </tr>
                                <tr>
                                    <td>Carat</td>
                                    <td>@item.Carat</td>
                                </tr>
                                <tr>
                                    <td>Color</td>
                                    <td>@item.ColorName</td>
                                </tr>
                                <tr>
                                    <td>Clarity</td>
                                    <td>@item.ClarityName</td>
                                </tr>
                                <tr>
                                    <td>Cut</td>
                                    <td>@item.CutName</td>
                                </tr>
                                <tr>
                                    <td>Lab</td>
                                    <td>@item.LabName</td>
                                </tr>
                                <tr>
                                    <td>Polish</td>
                                    <td>@item.PolishName</td>
                                </tr>

                                <tr>
                                    <td>Symmetry</td>
                                    <td>@item.SymmetyName</td>
                                </tr>

                                <tr>
                                    <td>Depth</td>
                                    <td>@item.Depth</td>
                                </tr>
                                <tr>
                                    <td>Price</td>
                                    <td>@item.Price</td>
                                </tr>

                            </tbody>
                        </table>
                        <a class="btn btn-sm btn-dark " href="@Url.Action("GetSingleDiamond","Diamond")?diamondId=@item.Id" target="_blank">
                            View Diamond
                        </a>
                        <button class="btn btn-sm btn-dark btnWishlist" data-diamondId="@item.Id">Add to Wishlist</button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>