@model IEnumerable<Models.DiamondData>


<div class="table-responsive">
	<table class="table table-bordered table-hover text-center">
		<thead class="bg-light">
			<tr>
				<th>Actions</th>
				<th>Shape</th>
				<th>Carat</th>
				<th>Color</th>
				<th>Clarity</th>
				<th>Cut</th>
				<th>CERT.</th>
				<th>Polish</th>
				<th>Symmetry</th>
				<th>Depth</th>
				<th>Price</th>
				<th>Compare</th>
				<th>Wishlist</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<a href="/Diamond/GetSingleDiamond?diamondId=@item.Id&&diamondProparty=image">
							<img src="/assets/img/shape-svg/Round.svg" class="img-fluid" style="height:70px;width:70px;align-content:center;" />
						</a>
						<a href="/Diamond/GetSingleDiamond?diamondId=@item.Id&&diamondProparty=v360">
							<img src="~/assets/img/360-degrees.png" style="height:35px;width:30px;align-content:center;" />
						</a>
					</td>
					<td>@item.ShapeName</td>
					<td>@item.CaratName</td>
					<td>@item.ColorName</td>
					<td>@item.ClarityName</td>
					<td>@item.CutName</td>
					<td>@item.Certificate</td>
					<td>@item.PolishName</td>
					<td>@item.SymmetryName</td>
					<td>@item.Depth</td>
					<td>@item.Price</td>
					<th><input type="checkbox" style="width:25px;height:25px;" /></th>
					<th>
						<img src="~/assets/img/heart.png" style="width:25px;height:25px;" />
					</th>
					<th><a class="btn btn-dark text-capitalize" href="/Diamond/GetSingleDiamond?diamondId=@item.Id">Details</a></th>
				</tr>
			}

		</tbody>
	</table>
</div>


