@model Models.DiamondAllDataDto
@using Common;

<div class="row mb-12">
    <div class="col-md-12 ml-auto text-center">
        <h5>Diamonds Available: @Model.DiamondCounter.ToString("N0")</h5>
    </div>

    @*<div class="col-md-4 ">
        <input type="text" id="diamondFilter" class="form-control shadow-sm" placeholder="Search Diamonds..." />
    </div>*@

</div>


<div class="table-responsive p-4">
    <table id="diamondTable" class="table table-bordered border-dark table-hover align-middle shadow-sm">
        <thead class="table-light border-dark text-center" style="background-color:#d2d2d2;">
            <tr>
                <th>Quick Ship</th>
                <th>CERT.</th>
                <th>Shape</th>
                <th>Carat</th>
                <th>Color</th>
                <th>Clarity</th>
                <th>Cut</th>
                <th>Polish</th>
                <th>Symmetry</th>
                <th>Depth</th>
                <th>Price</th>
                <th>Compare</th>
                <th>Wishlist</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DiamondData)
            {
                <tr class="text-center">
                    <td>
                        <a href="@item.DiamondVideoPath" target="_blank">
                            <img src="@SD.ImgUrl@item.IconPath" class="rounded shadow-sm" style="height:60px;width:60px;" />
                        </a>
                        <a href="@item.DiamondVideoPath" target="_blank">
                            <img src="@SD.ImgUrl/assets/img/360-degrees.png" class="rounded" style="height:35px;width:35px;" />
                        </a>
                        <img src="@SD.ImgUrl/assets/img/icon/fast-shipping-icon.png" class="rounded" style="height:45px;width:45px;float:right" />
                    </td>
                    <td>
                        <a href="#" data-certi="@item.Certificate" class="text-decoration-none text-dark clsCertificate">
                            @if (item.LabName == "IGI")
                            {
                                <img src="@SD.ImgUrl/assets/img/logo/IGI.png" style="width:200px;" />
                            }
                            else if (item.LabName == "GIA")
                            {
                                <img src="@SD.ImgUrl/assets/img/logo/GIA.png" style="width:200px;" />
                            }
                        </a>
                    </td>
                    <td>@item.ShapeName</td>
                    <td>@item.Carat</td>
                    <td>@item.ColorName</td>
                    <td>@item.ClarityName</td>
                    <td>@item.CutName</td>
                    <td>@item.PolishName</td>
                    <td>@item.SymmetyName</td>
                    <td>@item.Depth</td>
                    <td>@item.Price</td>
                    <td><input type="checkbox" style="width:20px;height:20px;" diamondId="@item.Id" /></td>
                    <td>
                        <a class="wishlist-toggle" data-diamondId="@item.Id">
                            <img src="@SD.ImgUrl/assets/img/Heart-Unchecked.png" class="img-fluid heart-unchecked" style="width:25px;height:25px;" />
                            <img src="@SD.ImgUrl/assets/img/Heart-Checked.png" class="img-fluid heart-checked" style="width:25px;height:25px;display:none;" />
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-dark rounded-pill" href="@Url.Action("GetSingleDiamond","Diamond",new { diamondId= item.Id})">
                            Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>




