@model Models.DiamondData
@using Common;

@{
    ViewData["Title"] = "GetSingleDiamond";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        .footer-add-to-cart {
            z-index: 9999;
        }

        .btn-theme {
            background-color: #151542;
            color: white;
            border: none;
            border-radius: 5px;
        }

            .btn-theme:hover {
                background-color: #151542;
                color: #fff;
            }

        .btn-big {
            font-size: 2rem;
            padding: 1.5rem 3rem;
            width: 100%;
            text-transform: uppercase;
        }

        .footer-add-to-cart {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            background-color: #fff;
            box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
        }

            .footer-add-to-cart.absolute {
                position: absolute;
            }
    </style>
}

<div class="section-padding padding-top-20 pb-0">
    <div class="container-fluid">
        <div class="row">
            <!-- product details wrapper start -->
            <div class="col-lg-12 order-1 order-lg-2">
                <!-- product details inner end -->
                <div class="product-details-inner">
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <p>
                                <b>Home | Search Lab Grown Diamonds</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product-large-slider">
                                <div class="pro-large-img img-zoom">
                                    @if (Model.DiamondImagePath != null)
                                    {
                                        <img src="@Model.DiamondImagePath" alt="product-details">
                                    }
                                    else if (Model.DiamondVideoPath != null)
                                    {
                                        <a href="#" id="AddToWishList" class="float-end" data-diamondId="@Model.Id">
                                            <img src="@SD.ShapeImgUrl/assets/img/Heart-Unchecked.png" class="img-fluid heart-unchecked" style="width:25px;height:25px;" />
                                            <img src="@SD.ShapeImgUrl/assets/img/Heart-Checked.png" class="img-fluid heart-checked" style="width:25px;height:25px;display:none;" />
                                        </a>
                                        <iframe src="@Model.DiamondVideoPath"
                                                style="width:100%; height:420px; padding:5px 5px;"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen>
                                        </iframe>

                                    }
                                    else
                                    {
                                        <img src="~/assets/img/no-image-icon-23489.png" alt="product-details">
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-details-des">
                                @* <div class="manufacturer-name">
                                        <a href="#">@Model.LabShape</a>
                                    </div> *@
                                <h3 class="product-name"> @Model.Carat Carat @Model.ShapeName Shape @Model.ColorName  @Model.ClarityName @Model.LabName</h3>
                                <p style="font-size:medium;"> ( @Model.CutName ) Cut | ( @Model.ColorName ) Color | ( @Model.ClarityName ) Clarity</p>

                                <div class="certi-details-box">
                                    <a href="@Model.Certificate" data-certi="@Model.Certificate" class="text-decoration-none text-dark clsCertificate" target="_blank">
                                        @if (Model.LabName == "IGI")
                                        {
                                            <img src="~/assets/img/logo/IGI.png" style="width:200px;" class="blinking-image" />
                                        }
                                        else if (Model.LabName == "GIA")
                                        {
                                            <img src="~/assets/img/logo/GIA.png" style="width:200px;" class="blinking-image" />
                                        }
                                    </a>
                                    <span></span>
                                </div>

                                <div class="price-box">
                                    <p style="font-size:22px;font-weight:bold;">
                                        $ @Model.Price
                                    </p>
                                    @*<span class="price-old"><del>@Model.Amount</del></span>*@
                                </div>
                                <hr />

                                @*<div class="ratings d-flex">
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <div class="pro-review">
                                            <span>1 Reviews</span>
                                        </div>
                                    </div>*@

                                <div class="manufacturer-name">
                                    <h5>Short Description</h5>
                                </div>

                                <div class="pro-desc">

                                    <p>
                                        This <b>@Model.Carat</b> carat <b>@Model.ShapeName</b> shape lab grown diamond has <b>@Model.ColorName</b> color, <b>@Model.ClarityName</b> clarity, <b>@Model.CutName</b> cut and is certified by <b>@Model.LabName</b>.
                                    </p>
                                </div>
                                <div class="d-flex">
                                    <div class="action_link">
                                        @* <a class="btn btn-cart2" href="#">Add to cart</a> *@
                                        @*<button class="btn btn-cart2" id="btnAdd2Cart" data-diamondId="@Model.Id">Add to cart</button>*@
                                    </div>
                                    <div class="useful-links mb-0" style="margin-left:10px;">

                                    </div>
                                </div>


                                <div class="like-icon">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i>like</a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i>tweet</a>
                                    <a class="pinterest" href="#"><i class="fa fa-pinterest"></i>save</a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i>share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="product-details-reviews section-padding pb-0 ">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Description Section -->
                    <div class="card border-0 my-4">
                        <div class="card-body">
                            <h3 class="card-title mb-3 d-flex align-items-center">
                                Description
                            </h3>
                            <p class="card-text text-secondary" style="font-size: 1.1rem; line-height: 1.6;" id="txtDescription">
                                This <b>@Model.Carat</b> carat <b>@Model.ShapeName</b> shape lab grown diamond has <b>@Model.ColorName</b> color, <b>@Model.ClarityName</b> clarity, <b>@Model.CutName</b> cut and is certified by <b>@Model.LabName</b>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4" />
            <div class="row">
                <div class="col-lg-12">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="accordion" id="detailsAccordion">
                                <div class="accordion-item border-0">
                                    <div class="row collapsed simple-toggle" data-bs-toggle="collapse"
                                         data-bs-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails">
                                        <div class="col-xx-11 col-xl-11 col-lg-11 col-md-11">
                                            <h3>Diamond Information</h3>
                                        </div>
                                        <div class="col-xx-1 col-xl-1 col-lg-1 col-md-1 text-end">
                                            <h3 id="toggleIcon" class="me-2 toggle-icon fs-4 text-dark">+</h3>
                                        </div>
                                    </div>
                                    <div id="collapseDetails" class="accordion-collapse collapse" aria-labelledby="headingDetails" data-bs-parent="#detailsAccordion">
                                        <div class="accordion-body">
                                            <div class="row g-4">
                                                <!-- Item Details -->
                                                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h5 class="text-center mb-3">Item Details</h5>
                                                            <table class="table table-bordered table-responsive">
                                                                <tbody>

                                                                    <tr>
                                                                        <th>Shape :</th>
                                                                        <td>@Model.ShapeName</td>
                                                                        <th>Carat Weight :</th>
                                                                        <td>@Model.Carat</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Color :</th>
                                                                        <td>@Model.ColorName</td>
                                                                        <th>Clarity :</th>
                                                                        <td>@Model.ClarityName</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Cut Grade :</th>
                                                                        <td>@Model.CutName</td>
                                                                        <th>Fluorescence :</th>
                                                                        <td>@Model.FluorName</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Depth :</th>
                                                                        <td>@Model.Depth %</td>
                                                                        <th>Table :</th>
                                                                        <td>@Model.Table %</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Polish :</th>
                                                                        <td>@Model.PolishName</td>
                                                                        <th>Symmetry :</th>
                                                                        <td>@Model.SymmetyName</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Certification :</th>
                                                                        <td>@Model.LabName</td>
                                                                        <th>Measurements :</th>
                                                                        <td>@Model.Measurement</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- End row -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4" />
            <div class="row">
                <div class="col-lg-12">
                    <div class="my-3 p-3 bg-body rounded shadow-sm text-center">
                        <h2 class="mb-2">Customer Reviews</h2>
                        <h3 class="mb-1">
                            4.8
                            <small class="text-muted ms-2">25 reviews</small>
                        </h3>
                        <div class="text-warning fs-4">
                            ★★★★★
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dimCertiModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:100% !important">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="dimCertiLabel">
                    🧾 Diamond Certificate
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" id="btnCertiClose"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body" id="SearchItemArea">
                <div class="container-fluid">
                    <iframe id="certIframe"
                            src=""
                            allowfullscreen=""
                            style="width:100%; height:100vh; border:none;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-add-to-cart fixed-bottom bg-white shadow-lg border-top px-3 py-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Column 1: Establish Date -->
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mb-2 mb-md-0 text-center">
                <h5 class="d-block">Estimated Ship Date: @DateTime.Now.AddDays(10).ToString("d")</h5>
                <div class="mt-1">
                    <span class="fw-bold text-dark" style="font-size: 1.75rem; line-height: 1.2;">$@Model.Price USD</span>
                </div>
            </div>

            <!-- Column 2: Info Text -->
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                
                    <div class="">Starting at $64/mo or 0% APR with Affirm. <a href="#" class="text-theme">Prequalify now</a></div>
                    <div class="">No credit? Pay over time. <a href="#" class="text-theme">Estimate Payment</a></div>
                    <div class="">Earn 5% cashback on this purchase. <a href="#" class="text-theme">Learn more</a> about GB Club</div>
               
            </div>

            <!-- Column 3: Add to Cart -->
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 text-md-end text-center mt-2 mt-md-0">
                <a href="#" class="btn btn-theme btn-lg fs-3 px-5 py-3 text-uppercase" id="btnAdd2Cart" data-diamondId="@Model.Id">Add to Bag</a>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>

        var $mainFooter = $('#mainFooter');
        var $footerCartBar = $('.footer-add-to-cart');

        $(function () {
            updateWishlistUI();

            if ($mainFooter.length === 0) {
                $mainFooter = $('footer, .site-footer, .page-footer, .container-fluid').last();
                $mainFooter.attr('id', 'mainFooter');
            }
            toggleCartBar(); // Initial check

            $(window).on('scroll resize', function () {
                toggleCartBar();
            });
        });

        $(document).on("click", ".clsCertificate", function (e) {
            e.preventDefault();

            var certUrl = $(this).data("certi"); // get value from data-certi attribute
            if (certUrl) {
                $("#certIframe").attr("src", certUrl);
                $("#dimCertiModal").modal("show");
            }
        });


        $(document).on("click", "#btnCertiClose", function (e) {
            e.preventDefault();
            $("#dimCertiModal").modal("hide");
        });

        $(document).on("click", "#AddToWishList", function (e) {
            e.preventDefault();

            let diamondId = $(this).data("diamondid");
            let wishlist = JSON.parse(localStorage.getItem("wishlist")) || [];

            if (wishlist.includes(diamondId)) {
                wishlist = wishlist.filter(id => id !== diamondId);
                localStorage.setItem("wishlist", JSON.stringify(wishlist));

                $(".heart-unchecked").show();
                $(".heart-checked").hide();

                toastr.warning("Product has been removed from your wishlist.");
            } else {
                wishlist.push(diamondId);
                localStorage.setItem("wishlist", JSON.stringify(wishlist));

                $(".heart-unchecked").hide();
                $(".heart-checked").show();

                //alert("Product has been added to your wishlist.");
                toastr.success("Product has been added to your wishlist.");
            }
            getWishlistCounter();
            updateWishlistUI();
        });

        $(document).on("click", "#btnAdd2Cart", function (e) {
            debugger;
            e.preventDefault();

            let diamondId = $(this).data("diamondid");
            let diamondcartlist = JSON.parse(localStorage.getItem("diamondCartlist")) || [];

            if (diamondcartlist.includes(diamondId)) {
                Swal.fire({
                    title: "Are you sure?",
                    text: "you want to remove this item from your cartlist?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No",
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        diamondcartlist = diamondcartlist.filter(id => id !== diamondId);
                        localStorage.setItem("diamondCartlist", JSON.stringify(diamondcartlist));
                        toastr.warning("Product has been removed from your cartlist.");

                        getcartlistCounter();

                    }
                });
            }
            else {
                diamondcartlist.push(diamondId);
                localStorage.setItem("diamondCartlist", JSON.stringify(diamondcartlist));
                toastr.success("Product has been added to your cartlist.");
                getcartlistCounter();

            }
            //getcartlistCounter();
            //updatecartlistUI();
        });

        function getWishlistCounter() {
            let wishlist = JSON.parse(localStorage.getItem("wishlist")) || [];
            let productWishlist = JSON.parse(localStorage.getItem("ProductWishlist")) || [];
            $("#wishlistCounter").text(wishlist.length + productWishlist.length);
            $("#wishlistMobileCounter").text(wishlist.length + productWishlist.length);
        }

        function updateWishlistUI() {
            let wishlist = JSON.parse(localStorage.getItem("wishlist")) || [];


            $('#AddToWishList').each(function () {
                let diamondId = Number($(this).data("diamondid"));

                if (wishlist.includes(diamondId)) {
                    $(".heart-unchecked").hide();
                    $(".heart-checked").show();
                } else {
                    $(".heart-unchecked").show();
                    $(".heart-checked").hide();
                }
            });


        }

        function getcartlistCounter() {
            let cardlist = JSON.parse(localStorage.getItem("diamondCartlist")) || [];
            $("#addtoCardCounter").text(cardlist.length);
            $("#addtoCardMobileCounter").text(cardlist.length);

        }


        function toggleCartBar() {
            var windowBottom = $(window).scrollTop() + $(window).height();
            var footerTop = $mainFooter.offset().top;

            if (windowBottom >= footerTop) {
                // Set it just above the footer
                var newBottom = windowBottom - footerTop;
                $footerCartBar
                    .addClass('absolute')
                    .css('bottom', newBottom + 'px');
            } else {
                // Keep it fixed at the bottom
                $footerCartBar
                    .removeClass('absolute')
                    .css('bottom', '0');
            }
        }

    </script>
}
