@model Models.DiamondData
@{
    ViewData["Title"] = "GetSingleDiamond";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shop-main-wrapper section-padding pb-0">
    <div class="container">
        <div class="row">
            <!-- product details wrapper start -->
            <div class="col-lg-12 order-1 order-lg-2">
                <!-- product details inner end -->
                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-large-slider">
                                <div class="pro-large-img img-zoom">
                                    @if (Model.DiamondImagePath != null)
                                    {
                                        <img src="@Model.DiamondImagePath" alt="product-details">
                                    }
                                    else if (Model.DiamondVideoPath != null)
                                    {
                                        <iframe src="@Model.DiamondVideoPath"
                                                style="width:100%; height:600px; padding:5px 5px;"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen>
                                        </iframe>
                                    }
                                    else
                                    {
                                        <img src="~/assets/img/no-image-icon-23489.png" alt="product-details">
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details-des">
                                <div class="manufacturer-name">
                                    <a href="#">@Model.LabShape</a>
                                </div>
                                <h3 class="product-name"> @Model.Carat @Model.ColorName @Model.ShapeName @Model.ClarityName @Model.LabName</h3>
                                <p style="font-size:medium;"> @Model.CutName Cut | @Model.ColorName Color | @Model.ClarityName Clarity</p>

                                <a href="@Model.Certificate" data-certi="@Model.Certificate" class="text-decoration-none text-dark clsCertificate" target="_blank">
                                    @if (Model.LabName == "IGI")
                                    {
                                        <img src="~/assets/img/logo/IGI.png" style="width:200px;" />
                                    }
                                    else if (Model.LabName == "GIA")
                                    {
                                        <img src="~/assets/img/logo/GIA.png" style="width:200px;" />
                                    }
                                </a>

                                <div class="price-box">
                                    <p style="font-size:x-large;">
                                        $ @Model.Price
                                    </p>
                                    @*<span class="price-old"><del>@Model.Amount</del></span>*@
                                </div>
                                <hr />

                                <div class="ratings d-flex">
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <div class="pro-review">
                                        <span>1 Reviews</span>
                                    </div>
                                </div>
                                <br />
                                <div class="manufacturer-name">
                                    <h5>Short Description</h5>
                                </div>
                                <br />

                                <div class="pro-desc">

                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                        voluptua. Phasellus id nisi quis justo tempus mollis sed et dui. In hac
                                        habitasse platea dictumst.
                                    </p>
                                </div>
                                <div class="action_link">
                                    <a class="btn btn-cart2" href="#">Add to cart</a>
                                </div>
                                @*<div class="quantity-cart-box d-flex align-items-center">
                                        <h6 class="option-title">qty:</h6>
                                        <div class="quantity">
                                            <div class="pro-qty"><input type="text" value="1"></div>
                                        </div>
                                        <div class="action_link">
                                            <a class="btn btn-cart2" href="#">Add to cart</a>
                                        </div>
                                    </div>*@
                                @*<div class="pro-size">
                                        <h6 class="option-title">size :</h6>
                                        <select class="nice-select">
                                            <option>S</option>
                                            <option>M</option>
                                            <option>L</option>
                                            <option>XL</option>
                                        </select>
                                    </div>*@
                                @*<div class="color-option">
                                        <h6 class="option-title">color :</h6>
                                        <ul class="color-categories">
                                            <li>
                                                <a class="c-lightblue" href="#" title="LightSteelblue"></a>
                                            </li>
                                            <li>
                                                <a class="c-darktan" href="#" title="Darktan"></a>
                                            </li>
                                            <li>
                                                <a class="c-grey" href="#" title="Grey"></a>
                                            </li>
                                            <li>
                                                <a class="c-brown" href="#" title="Brown"></a>
                                            </li>
                                        </ul>
                                    </div>*@
                                <div class="useful-links">
                                    <a href="#" data-bs-toggle="tooltip" title="Compare"><i class="pe-7s-refresh-2"></i>compare</a>
                                    <a href="#" data-bs-toggle="tooltip" title="Wishlist"><i class="pe-7s-like"></i>wishlist</a>
                                </div>
                                <div class="like-icon">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i>like</a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i>tweet</a>
                                    <a class="pinterest" href="#"><i class="fa fa-pinterest"></i>save</a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i>share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product details inner end -->
                <!-- product details reviews start -->
                <div class="product-details-reviews padding-top-0 padding-bottom-20">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product-review-info">
                                <ul class="nav review-tab">
                                    <li>
                                        <a class="active" data-bs-toggle="tab" href="#tab_one">description</a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tab" href="#tab_two">information</a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tab" href="#tab_three">reviews (1)</a>
                                    </li>
                                </ul>
                                <div class="tab-content reviews-tab">
                                    <div class="tab-pane fade show active" id="tab_one">
                                        <div class="tab-one">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                                fringilla augue nec est tristique auctor. Ipsum metus feugiat
                                                sem, quis fermentum turpis eros eget velit. Donec ac tempus
                                                ante. Fusce ultricies massa massa. Fusce aliquam, purus eget
                                                sagittis vulputate, sapien libero hendrerit est, sed commodo
                                                augue nisi non neque.Cras neque metus, consequat et blandit et,
                                                luctus a nunc. Etiam gravida vehicula tellus, in imperdiet
                                                ligula euismod eget. Pellentesque habitant morbi tristique
                                                senectus et netus et malesuada fames ac turpis egestas. Nam
                                                erat mi, rutrum at sollicitudin rhoncus
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab_two">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>color</td>
                                                    <td>@Model.ColorName</td>
                                                </tr>
                                                <tr>
                                                    <td>size</td>
                                                    <td>@Model.Carat</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="tab_three">
                                        <form action="#" class="review-form">
                                            <h5>1 review for <span>Chaz Kangeroo</span></h5>
                                            <div class="total-reviews">
                                                <div class="rev-avatar">
                                                    <img src="~/assets/img/about/avatar.jpg" alt="">
                                                </div>
                                                <div class="review-box">
                                                    <div class="ratings">
                                                        <span class="good"><i class="fa fa-star"></i></span>
                                                        <span class="good"><i class="fa fa-star"></i></span>
                                                        <span class="good"><i class="fa fa-star"></i></span>
                                                        <span class="good"><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                    </div>
                                                    <div class="post-author">
                                                        <p><span>admin -</span> 30 Mar, 2019</p>
                                                    </div>
                                                    <p>
                                                        Aliquam fringilla euismod risus ac bibendum. Sed sit
                                                        amet sem varius ante feugiat lacinia. Nunc ipsum nulla,
                                                        vulputate ut venenatis vitae, malesuada ut mi. Quisque
                                                        iaculis, dui congue placerat pretium, augue erat
                                                        accumsan lacus
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <label class="col-form-label">
                                                        <span class="text-danger">*</span>
                                                        Your Name
                                                    </label>
                                                    <input type="text" class="form-control" required="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <label class="col-form-label">
                                                        <span class="text-danger">*</span>
                                                        Your Email
                                                    </label>
                                                    <input type="email" class="form-control" required="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <label class="col-form-label">
                                                        <span class="text-danger">*</span>
                                                        Your Review
                                                    </label>
                                                    <textarea class="form-control" required=""></textarea>
                                                    <div class="help-block pt-10">
                                                        <span class="text-danger">Note:</span>
                                                        HTML is not translated!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <label class="col-form-label">
                                                        <span class="text-danger">*</span>
                                                        Rating
                                                    </label>
                                                    &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                                    <input type="radio" value="1" name="rating">
                                                    &nbsp;
                                                    <input type="radio" value="2" name="rating">
                                                    &nbsp;
                                                    <input type="radio" value="3" name="rating">
                                                    &nbsp;
                                                    <input type="radio" value="4" name="rating">
                                                    &nbsp;
                                                    <input type="radio" value="5" name="rating" checked="">
                                                    &nbsp;Good
                                                </div>
                                            </div>
                                            <div class="buttons">
                                                <button class="btn btn-sqr" type="submit">Continue</button>
                                            </div>
                                        </form> <!-- end of review-form -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product details reviews end -->
            </div>
            <!-- product details wrapper end -->
        </div>
    </div>
</div>

<div class="modal fade" id="dimCertiModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:100% !important">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="dimCertiLabel">
                    🧾 Diamond Certificate
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" id="btnCertiClose"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body" id="SearchItemArea">
                <div class="container-fluid">
                    <iframe id="certIframe"
                            src=""
                            allowfullscreen=""
                            style="width:100%; height:100vh; border:none;"></iframe>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).on("click", ".clsCertificate", function (e) {
            e.preventDefault();

            var certUrl = $(this).data("certi"); // get value from data-certi attribute
            if (certUrl) {
                $("#certIframe").attr("src", certUrl);
                $("#dimCertiModal").modal("show");
            }
        });


        $(document).on("click", "#btnCertiClose", function (e) {
            e.preventDefault();
            $("#dimCertiModal").modal("hide");
        });

        

    </script>
}