@model IEnumerable<Models.ProductDTO>
@using Common
@{
    string defaultImage = string.Empty;
}

<div class="row mb-2">
    <div class="col-lg-12 col-md-10">
        <div class="btn-group dropup float-end">
            <a class="" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-status="Deactivated">Deactivated</a></li>
                <li><a class="dropdown-item" href="#" data-status="Hold">Hold</a></li>
                <li><a class="dropdown-item" href="#" data-status="Program">Program</a></li>
                <li><a class="dropdown-item" href="#" data-status="Collection">Collection</a></li>
            </ul>
        </div>
    </div>
    <input type="hidden" id="txtProductIds" />
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="rings-tab" data-bs-toggle="tab" href="#ringList" role="tab" aria-controls="ringList" aria-selected="true">Rings <span class="badge badge-light bg-dark ml-2 ringcount">@Model.Where(x => x.CategoryName == @SD.Rings && x.UploadStatus == SD.Activated).GroupBy(x => x.VenderStyle).Count()</span></a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="bands-tab" data-bs-toggle="tab" href="#bandList" role="tab" aria-controls="bandList" aria-selected="false">Bands <span class="badge badge-light bg-dark ml-2 ringcount">@Model.Where(x => x.CategoryName == @SD.Bands && x.UploadStatus == SD.Activated).GroupBy(x => x.VenderStyle).Count()</span></a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="earrings-tab" data-bs-toggle="tab" href="#earringList" role="tab" aria-controls="earringList" aria-selected="false">Earrings <span class="badge badge-light bg-dark ml-2 ringcount">@Model.Where(x => x.CategoryName == @SD.Earrings && x.UploadStatus == SD.Activated).GroupBy(x => x.VenderStyle).Count()</span></a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="pendant-tab" data-bs-toggle="tab" tabindex="-1" href="#pendantList" role="tab" aria-controls="pandantList" aria-disabled="false">Pendant <span class="badge badge-light bg-dark ml-2 ringcount"> @Model.Where(x => x.CategoryName == @SD.Pendants && x.UploadStatus == SD.Activated).GroupBy(x => x.VenderStyle).Count()</span></a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="bracelets-tab" data-bs-toggle="tab" tabindex="-1" href="#braceletsList" role="tab" aria-controls="braceletList" aria-disabled="false">Bracelet <span class="badge badge-light bg-dark ml-2 ringcount"> @Model.Where(x => x.CategoryName == @SD.Bracelets && x.UploadStatus == SD.Activated).GroupBy(x => x.VenderStyle).Count()</span></a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="ringList" role="tabpanel" aria-labelledby="rings-tab">
        <table class="table table-hover table-bordered mb-0" id="ringTable">
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" class="chkId" id="chkAllIds" /></th>
                    <th scope="col">Image</th>
                    <th scope="col">Status</th>
                    <th scope="col">Title</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Style</th>
                    <th scope="col">Metal(Color)</th>
                    <th scope="col">Length</th>
                    <th scope="col">Band Width</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Karat</th>
                    <th scope="col">Price</th>
                    <th scope="col">Accent Stone Shape</th>
                    <th scope="col">MM Size</th>
                    <th scope="col">Dia Wt</th>
                    <th scope="col">No Of Stones</th>
                    <th scope="col">Grades</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {

                    @foreach (var item in Model.Where(x => x.CategoryName == SD.Rings))
                    {
                        if (item.ProductImageVideos != null && item.ProductImageVideos.Count > 0)
                        {
                            defaultImage = item.ProductImageVideos.FirstOrDefault().ImageUrl;
                        }

                        <tr>
                            <td scope="col"><input type="checkbox" class="chkId" value="@item.Id" /></td>
                            <td scope="col">
                                <img src="@SD.ImgUrl/@defaultImage" style="height:100px;" />
                            </td>
                            <td scope="col">@item.UploadStatus</td>
                            <td scope="col">
                                <h5>@item.Title</h5>
                                <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                                <p>@item.Description</p>
                            </td>
                            <td scope="col">@item.VenderName</td>
                            <td scope="col">@item.Sku</td>
                            <td scope="col">@item.ColorName</td>
                            <td scope="col">@item.Length</td>
                            <td scope="col">@item.BandWidth</td>
                            <td scope="col">@item.GoldWeight</td>
                            <td scope="col">@item.Karat</td>
                            <td scope="col">@item.Price</td>
                            <td scope="col">@item.AccentStoneShapeName</td>
                            <td scope="col">@item.MMSize</td>
                            <td scope="col">@item.DiaWT</td>
                            <td scope="col">@item.NoOfStones</td>
                            <td scope="col">@item.Grades</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="12"> No data found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="bandList" role="tabpanel" aria-labelledby="bands-tab">
        <table class="table table-hover table-bordered mb-0" id="bandTable">
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" class="chkId" id="chkAllIds" /></th>
                    <th scope="col">
                        Image
                    </th>
                    <th scope="col">Status</th>
                    <th scope="col">
                        Title
                    </th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Color</th>
                    <th scope="col">Style</th>
                    <th scope="col">Band Width</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Karat</th>
                    <th scope="col">CTW</th>
                    <th scope="col">Center Shape</th>
                    <th scope="col">Center Carat</th>
                    <th scope="col">Metal(Color)</th>
                    <th scope="col">Price</th>
                    <th scope="col">Accent Stone Shape</th>
                    <th scope="col">MM Size</th>
                    <th scope="col">Dia Wt</th>
                    <th scope="col">No Of Stones</th>
                    <th scope="col">Grades</th>
                    <th scope="col">Certification</th>
                    <th scope="col">Subcategory</th>
                    <th scope="col">DiamondType</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model.Where(x => x.CategoryName == SD.Bands))
                    {
                        if (item.ProductImageVideos.Any())
                        {
                            defaultImage = string.Empty;
                            defaultImage = item.ProductImageVideos.FirstOrDefault().ImageUrl;
                        }
                        <tr>
                            <td scope="col"><input type="checkbox" class="chkId" value="@item.Id" /></td>
                            <td scope="col">
                                <img src="@SD.ImgUrl/@defaultImage" style="height:100px;" />
                            </td>
                            <td scope="col">@item.UploadStatus</td>
                            <td scope="col">
                                <h5>@item.Title</h5>
                                <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                                <p>@item.Description</p>
                            </td>
                            <td scope="col">@item.VenderName</td>
                            <td scope="col">@item.ColorName</td>
                            <td scope="col">@item.Sku</td>
                            <td scope="col">@item.BandWidth</td>
                            <td scope="col">@item.GoldWeight</td>
                            <td scope="col">@item.Karat</td>
                            <td scope="col">@item.CTW</td>
                            <td scope="col">@item.CenterShapeName</td>
                            <td scope="col">@item.CenterCaratName</td>
                            <td scope="col">@item.ColorName</td>
                            <td scope="col">@item.Price</td>
                            <th scope="col">@item.AccentStoneShapeName</th>
                            <th scope="col">@item.MMSize</th>
                            <th scope="col">@item.DiaWT</th>
                            <th scope="col">@item.NoOfStones</th>
                            <th scope="col">@item.Grades</th>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="12"> No data found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="earringList" role="tabpanel" aria-labelledby="earrings-tab">
        <table class="table table-hover table-bordered mb-0" id="EarringTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        Image
                    </th>
                    <th scope="col">Status</th>
                    <th scope="col">
                        Title
                    </th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Color</th>
                    <th scope="col">Style</th>
                    <th scope="col">Band Width</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Karat</th>
                    <th scope="col">Price</th>
                    <th scope="col">Diameter</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Karat</th>
                    <th scope="col">CTW</th>
                    <th scope="col">Accent Stone Shape</th>
                    <th scope="col">MM Size</th>
                    <th scope="col">Dia Wt</th>
                    <th scope="col">No of Stones</th>
                    <th scope="col">Grades</th>
                    <th scope="col">Diamond Type</th>
                    <th scope="col">Wholesale Cost</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model.Where(x => x.CategoryName == SD.Earrings))
                    {
                        defaultImage = string.Empty;
                        if (item.ProductImageVideos.Any())
                        {
                            defaultImage = string.Empty;
                            defaultImage = item.ProductImageVideos.FirstOrDefault().ImageUrl;
                        }
                        <tr>
                            <td><input type="checkbox" class="chkId" value="@item.Id" /></td>
                            <td><img src="@SD.ImgUrl/@defaultImage" style="height:100px;" /></td>
                            <td scope="col">@item.UploadStatus</td>
                            <td>
                                <h5>@item.Title</h5>
                                <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                            </td>
                            <td>@item.VenderName</td>
                            <td>@item.ColorName</td>
                            <td>@item.Sku</td>
                            <td>@item.BandWidth</td>
                            <td>@item.GoldWeight</td>
                            <td>@item.Karat</td>
                            <td>@item.Price</td>
                            <td>@item.Diameter</td>
                            <td>@item.Weights</td>
                            <td>@item.Karat</td>
                            <td>@item.CTW</td>
                            <td>@item.AccentStoneShapeName</td>
                            <td>@item.MMSize</td>
                            <td>@item.DiaWT</td>
                            <td>@item.NoOfStones</td>
                            <td>@item.Grades</td>
                            <td>@item.ProductType</td>
                            <td>@item.WholesaleCost</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>

                        <td colspan="12">No data found</td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="tab-pane fade" id="pendantList" role="tabpanel" aria-labelledby="pandant-tab">
        <table class="table table-hover table-bordered mb-0" id="PendantTable">
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" class="chkId" id="chkAllIds" /></th>
                    <th scope="col">
                        Image
                    </th>
                    <th scope="col">Status</th>
                    <th scope="col">
                        Title
                    </th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Color</th>
                    <th scope="col">Style</th>
                    <th scope="col">Band Width</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Karat</th>
                    <th scope="col">Price</th>
                    <th scope="col">Diameter</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Karat</th>
                    <th scope="col">CTW</th>
                    <th scope="col">Accent Stone Shape</th>
                    <th scope="col">MM Size</th>
                    <th scope="col">Dia Wt</th>
                    <th scope="col">No of Stones</th>
                    <th scope="col">Grades</th>
                    <th scope="col">Diamond Type</th>
                    <th scope="col">Wholesale Cost</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model.Where(x => x.CategoryName == SD.Earrings))
                    {
                        defaultImage = string.Empty;
                        if (item.ProductImageVideos.Any())
                        {
                            defaultImage = string.Empty;
                            defaultImage = item.ProductImageVideos.FirstOrDefault().ImageUrl;
                        }
                        <tr>
                            <td><input type="checkbox" class="chkId" value="@item.Id" /></td>
                            <td><img src="@SD.ImgUrl/@defaultImage" style="height:100px;" /></td>
                            <td scope="col">@item.UploadStatus</td>
                            <td>
                                <h5>@item.Title</h5>
                                <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                            </td>
                            <td>@item.VenderName</td>
                            <td>@item.ColorName</td>
                            <td>@item.Sku</td>
                            <td>@item.BandWidth</td>
                            <td>@item.GoldWeight</td>
                            <td>@item.Karat</td>
                            <td>@item.Price</td>
                            <td>@item.Diameter</td>
                            <td>@item.Weights</td>
                            <td>@item.Karat</td>
                            <td>@item.CTW</td>
                            <td>@item.AccentStoneShapeName</td>
                            <td>@item.MMSize</td>
                            <td>@item.DiaWT</td>
                            <td>@item.NoOfStones</td>
                            <td>@item.Grades</td>
                            <td>@item.ProductType</td>
                            <td>@item.WholesaleCost</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>

                        <td colspan="12">No data found</td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="tab-pane fade" id="braceletsList" role="tabpanel" aria-labelledby="bracelets-tab">
        <table class="table table-hover table-bordered mb-0" id="BraceletsTable">
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" class="chkId" id="chkAllIds" /></th>
                    <th scope="col">
                        Image
                    </th>
                    <th scope="col">Status</th>
                    <th scope="col">
                        Title
                    </th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Color</th>
                    <th scope="col">Style</th>
                    <th scope="col">Band Width</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Karat</th>
                    <th scope="col">Price</th>
                    <th scope="col">Diameter</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Karat</th>
                    <th scope="col">CTW</th>
                    <th scope="col">Accent Stone Shape</th>
                    <th scope="col">MM Size</th>
                    <th scope="col">Dia Wt</th>
                    <th scope="col">No of Stones</th>
                    <th scope="col">Grades</th>
                    <th scope="col">Diamond Type</th>
                    <th scope="col">Wholesale Cost</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model.Where(x => x.CategoryName == SD.Earrings))
                    {
                        defaultImage = string.Empty;
                        if (item.ProductImageVideos.Any())
                        {
                            defaultImage = string.Empty;
                            defaultImage = item.ProductImageVideos.FirstOrDefault().ImageUrl;
                        }
                        <tr>
                            <td><input type="checkbox" class="chkId" value="@item.Id" /></td>
                            <td><img src="@SD.ImgUrl/@defaultImage" style="height:100px;" /></td>
                            <td scope="col">@item.UploadStatus</td>
                            <td>
                                <h5>@item.Title</h5>
                                <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                            </td>
                            <td>@item.VenderName</td>
                            <td>@item.ColorName</td>
                            <td>@item.Sku</td>
                            <td>@item.BandWidth</td>
                            <td>@item.GoldWeight</td>
                            <td>@item.Karat</td>
                            <td>@item.Price</td>
                            <td>@item.Diameter</td>
                            <td>@item.Weights</td>
                            <td>@item.Karat</td>
                            <td>@item.CTW</td>
                            <td>@item.AccentStoneShapeName</td>
                            <td>@item.MMSize</td>
                            <td>@item.DiaWT</td>
                            <td>@item.NoOfStones</td>
                            <td>@item.Grades</td>
                            <td>@item.ProductType</td>
                            <td>@item.WholesaleCost</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>

                        <td colspan="12">No data found</td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
