@model IEnumerable<Models.ProductDTO>
@using Common


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="rings-tab" data-bs-toggle="tab" href="#ringList" role="tab" aria-controls="ringList" aria-selected="true">Rings</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="bands-tab" data-bs-toggle="tab" href="#bandList" role="tab" aria-controls="bandList" aria-selected="false">Bands</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="earrings-tab" data-bs-toggle="tab" href="#earringList" role="tab" aria-controls="earringList" aria-selected="false">Earrings</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="pendant-tab" data-bs-toggle="tab" tabindex="-1" href="#pendantList" role="tab" aria-controls="pandantList" aria-disabled="false">Pendant List</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="bracelets-tab" data-bs-toggle="tab" tabindex="-1" href="#braceletsList" role="tab" aria-controls="braceletList" aria-disabled="false">bracelet List</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    @*<div class="container" style="display:none;">
        <button class="btn btn-sm btn-danger text-end">Delete</button>
        <button class="btn btn-sm btn-success">Hold</button>
    </div>*@

    <div class="tab-pane fade show active" id="ringList" role="tabpanel" aria-labelledby="rings-tab">

        <table class="table" id="ringTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Style</th>
                    <th scope="col">Length</th>
                    <th scope="col">Band Width</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Price (14k)</th>
                    <th scope="col">Price (18k)</th>
                    <th scope="col">Price (20k)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {

                    @foreach (var item in Model.Where(x => x.CategoryName == SD.Rings))
                    {
                        <tr>
                            <td scope="col"><input type="checkbox" class="chkId" /></td>
                            <td scope="col">
                                <img src="@item.DefaultImage" style="width:25px;" />
                            </td>
                            <td scope="col">
                                <h5>@item.Title</h5>
                                <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                            </td>
                            <td scope="col">@item.VenderName</td>
                            <td scope="col">@item.StyleName</td>
                            <td scope="col">@item.Length</td>
                            <td scope="col">@item.BandWidth</td>
                            <td scope="col">@item.GoldWeight</td>
                            <td scope="col">@item.Price</td>
                            <td scope="col">@item.Price</td>
                            <td scope="col">@item.Price</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="12"> No data found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="bandList" role="tabpanel" aria-labelledby="bands-tab">
        <table class="table" id="bandTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        Image
                    </th>
                    <th scope="col">
                        Title
                    </th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Style</th>
                    <th scope="col">Length</th>
                    <th scope="col">Band Width</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Price (14k)</th>
                    <th scope="col">Price (18k)</th>
                    <th scope="col">Price (20k)</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {

                    @foreach (var item in Model.Where(x => x.CategoryName == SD.Bands))
                    {
                        <tr>
                            <td scope="col"><input type="checkbox" class="chkId" /></td>
                            <td scope="col">
                                <img src="@item.DefaultImage" style="width:25px;" />
                            </td>
                            <td scope="col">
                                <h5>@item.Title</h5>
                                <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                            </td>
                            <td scope="col">@item.VenderName</td>
                            <td scope="col">@item.StyleName</td>
                            <td scope="col">@item.Length</td>
                            <td scope="col">@item.BandWidth</td>
                            <td scope="col">@item.GoldWeight</td>
                            <td scope="col">@item.Price</td>
                            <td scope="col">@item.Price</td>
                            <td scope="col">@item.Price</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="12"> No data found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="earringList" role="tabpanel" aria-labelledby="earrings-tab">
        <table class="table" id="EarringTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        Image
                    </th>
                    <th scope="col">
                        Title
                    </th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Style</th>
                    <th scope="col">Length</th>
                    <th scope="col">Band Width</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Price (14k)</th>
                    <th scope="col">Price (18k)</th>
                    <th scope="col">Price (20k)</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {

                    @foreach (var item in Model.Where(x => x.CategoryName == SD.Earrings))
                    {
                        <tr>
                            <td scope="col"><input type="checkbox" class="chkId" /></td>
                            <td scope="col">
                                <img src="@item.DefaultImage" style="width:25px;" />
                            </td>
                            <td scope="col">
                                <h5>@item.Title</h5>
                                <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                            </td>
                            <td scope="col">@item.VenderName</td>
                            <td scope="col">@item.StyleName</td>
                            <td scope="col">@item.Length</td>
                            <td scope="col">@item.BandWidth</td>
                            <td scope="col">@item.GoldWeight</td>
                            <td scope="col">@item.Price</td>
                            <td scope="col">@item.Price</td>
                            <td scope="col">@item.Price</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="12"> No data found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="pendantList" role="tabpanel" aria-labelledby="pandant-tab">
        <table class="table" id="PendantTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        Image
                    </th>
                    <th scope="col">
                        Title
                    </th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Style</th>
                    <th scope="col">Length</th>
                    <th scope="col">Band Width</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Price (14k)</th>
                    <th scope="col">Price (18k)</th>
                    <th scope="col">Price (20k)</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {

                    @foreach (var item in Model.Where(x => x.CategoryName == SD.Pendants))
                    {
                        <tr>
                            <td scope="col"><input type="checkbox" class="chkId" /></td>
                            <td scope="col">
                                <img src="@item.DefaultImage" style="width:25px;" />
                            </td>
                            <td scope="col">
                                <h5>@item.Title</h5>
                                <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                            </td>
                            <td scope="col">@item.VenderName</td>
                            <td scope="col">@item.StyleName</td>
                            <td scope="col">@item.Length</td>
                            <td scope="col">@item.BandWidth</td>
                            <td scope="col">@item.GoldWeight</td>
                            <td scope="col">@item.Price</td>
                            <td scope="col">@item.Price</td>
                            <td scope="col">@item.Price</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="12"> No data found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="BraceletsList" role="tabpanel" aria-labelledby="bracelets-tab">
        <table class="table" id="BraceletsTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        Image
                    </th>
                    <th scope="col">
                        Title
                    </th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Style</th>
                    <th scope="col">Length</th>
                    <th scope="col">Band Width</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Price (14k)</th>
                    <th scope="col">Price (18k)</th>
                    <th scope="col">Price (20k)</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {

                    @foreach (var item in Model.Where(x => x.CategoryName == SD.Bracelets))
                    {
                        <tr>
                            <td scope="col"><input type="checkbox" class="chkId" /></td>
                            <td scope="col">
                                <img src="@item.DefaultImage" style="width:25px;" />
                            </td>
                            <td scope="col">
                                <h5>@item.Title</h5>
                                <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                            </td>
                            <td scope="col">@item.VenderName</td>
                            <td scope="col">@item.StyleName</td>
                            <td scope="col">@item.Length</td>
                            <td scope="col">@item.BandWidth</td>
                            <td scope="col">@item.GoldWeight</td>
                            <td scope="col">@item.Price</td>
                            <td scope="col">@item.Price</td>
                            <td scope="col">@item.Price</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="12"> No data found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
