@model List<Models.ProductPropertyDTO>
@{
    int index = 1;
}

<div class="filter">

    <button id="btnEdit" class="btn btn-sm btn-theme">Edit</button>
    <button id="btnUpdate" class="btn btn-sm btn-theme" style="display:none">Update</button>
</div>
<div class="card-body">
    <h5 class="card-title">Properties</h5>

    
    <table class="table table-borderless table-bordered mb-0" id="diamondPropertyItems">
        <thead class="table-light text-center">

            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Status</th>
                <th scope="col">Synonyms</th>
                <th scope="col">Icon.Path</th>
                <th scope="col">Display.Order</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {

                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="col">
                            @(index++)
                            <input type="hidden" class="id txtProp" value="@item.Id" />
                            <input type="hidden" class="parentid txtProp" value="@item.ParentId" />

                        </td>
                        <td scope="col">
                            <input type="text" class="propName" value="@item.Name" disabled="disabled" />
                        </td>
                        <td scope="col">
                            <input type="text" class="symbolName" value="@item.SymbolName" disabled="disabled"/>
                        </td>
                        <td scope="col">
                            <input type="checkbox" @(item.IsActive != true?"":"checked") class="txtProp" disabled="disabled">
                        </td>
                        <td scope="col"><input type="text" class="synonyms" value="@item.Synonyms" disabled="disabled" /></td>
                        <td scope="col"><input type="text" class="iconPath" value="@item.IconPath" disabled="disabled"/></td>
                        <td scope="col"><input type="text" class="dispOrder txtProp" value="@item.DispOrder" disabled="disabled" /></td>
                        <td scope="col">
                            <div class="dropdown">
                                <a class="" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("UpsertProductProperty", "Jewellery", new { pId = item.Id })">
                                            <i class="bi bi-pencil-square me-1"></i>Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-danger" href="@Url.Action("DeleteProductProperty", "Jewellery" , new { pId=item.Id })">
                                            <i class="bi bi-trash me-1"></i>Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="12"> No data found</td>
                </tr>
            }
        </tbody>
    </table>


</div>