@model IEnumerable<Models.ProductDTO>
@using Common;
@{
    string defaultImage = string.Empty;
}
<style>
    .card-deck {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 5px; /* Optional: space between images */
        max-width: 250px; /* Limit width, allow scrolling */
    }

        .card-deck .card {
            flex: 0 0 auto;
            border: none;
            background: transparent;
            padding: 0;
        }

        .card-deck img.card-img-top {
            height: 60px; /* Keep height small */
            width: auto;
            object-fit: contain;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

    .image-row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 5px;
        max-width: 500px; /* Adjust as needed */
    }

    .thumb-img {
        height: 60px;
        width: auto;
        object-fit: contain;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>


<section class="section">
    <div class="row mb-2">
        <div class="col-lg-6">
            <h4><b>Deactived Product (Category Wise)</b></h4>
        </div>
        <div class="col-lg-6">
            <div class="btn-group dropup float-end">
                <a class="" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </a>
                <input type="hidden" id="txtProductIds" />

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" data-status="Activated">Activated</a></li>
                    <li><a class="dropdown-item" href="#" data-status="Hold">Hold</a></li>
                    <li><a class="dropdown-item" href="#" data-status="Pending">Pending</a></li>
                </ul>

            </div>
        </div>

    </div>
    <div class="row mb-2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="rings-tab" data-bs-toggle="tab" href="#ringList" role="tab" aria-controls="ringList" aria-selected="true">Rings <span class="badge badge-light bg-dark ml-2 ringcount">@Model.Where(x => x.CategoryName == @SD.Rings && x.UploadStatus == SD.DeActived).GroupBy(x => x.VenderStyle).Count()</span></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="bands-tab" data-bs-toggle="tab" href="#bandList" role="tab" aria-controls="bandList" aria-selected="false">Bands <span class="badge badge-light bg-dark ml-2 ringcount">@Model.Where(x => x.CategoryName == @SD.Bands && x.UploadStatus == SD.DeActived).GroupBy(x => x.VenderStyle).Count()</span></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="earrings-tab" data-bs-toggle="tab" href="#earringList" role="tab" aria-controls="earringList" aria-selected="false">Earrings <span class="badge badge-light bg-dark ml-2 ringcount">@Model.Where(x => x.CategoryName == @SD.Earrings && x.UploadStatus == SD.DeActived).GroupBy(x => x.VenderStyle).Count()</span></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pendant-tab" data-bs-toggle="tab" tabindex="-1" href="#pendantList" role="tab" aria-controls="pandantList" aria-disabled="false">Pendant <span class="badge badge-light bg-dark ml-2 ringcount">@Model.Where(x => x.CategoryName == @SD.Pendants && x.UploadStatus == SD.DeActived).GroupBy(x => x.VenderStyle).Count()</span></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="bracelets-tab" data-bs-toggle="tab" tabindex="-1" href="#braceletsList" role="tab" aria-controls="braceletList" aria-disabled="false">Bracelet <span class="badge badge-light bg-dark ml-2 ringcount">@Model.Where(x => x.CategoryName == @SD.Bracelets && x.UploadStatus == SD.DeActived).GroupBy(x => x.VenderStyle).Count()</span></a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="ringList" role="tabpanel" aria-labelledby="rings-tab">
            <table class="table table-hover table-bordered mb-0 table-responsive" id="ringTable">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" class="chkId" id="chkRingsIds" /></th>
                        <th scope="col">Image</th>
                        <th scope="col">Status</th>
                        <th scope="col">Title</th>
                        <th scope="col">Vender</th>
                        <th scope="col">Style</th>
                        <th scope="col">Metal(Color)</th>
                        <th scope="col">Diameter</th>
                        <th scope="col">Length</th>
                        <th scope="col">Band.Width</th>
                        <th scope="col">Weight</th>
                        <th scope="col">CTW</th>
                        <th scope="col">Center.Shape</th>
                        <th scope="col">Center.Carat</th>
                        <th scope="col">Certification</th>
                        <th scope="col">Karat</th>
                        <th scope="col">Price</th>
                        <th scope="col">Wholesale.Cost</th>
                        <th scope="col">Accent.Stone.Shape</th>
                        <th scope="col">MM.Size</th>
                        <th scope="col">Dia.Wt</th>
                        <th scope="col">No.Of.Stones</th>
                        <th scope="col">Grades</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {

                        @foreach (var item in Model.Where(x => x.CategoryName == SD.Rings))
                        {
                            <tr>
                                <td scope="col"><input type="checkbox" class="chkId" value="@item.Id" /></td>
                                <td scope="col">
                                    <div class="image-row">
                                        @if (item.ProductImageVideos != null && item.ProductImageVideos.Count > 0)
                                        {
                                            foreach (var imgVdo in item.ProductImageVideos)
                                            {
                                                if (!string.IsNullOrEmpty(imgVdo.ImageUrl) && imgVdo.ImageUrl != "-")
                                                {
                                                    <a class="showImgs" data-productid="@item.Id">
                                                        <img src="@SD.ImgUrl/@imgVdo.ImageUrl" alt="Image" class="thumb-img" />
                                                    </a>
                                                }
                                                else if (!string.IsNullOrEmpty(imgVdo.VideoUrl) && imgVdo.VideoUrl != "-")
                                                {
                                                    <a class="showImgs" data-productid="@item.Id">
                                                        <img src="@SD.ImgUrl/assets/img/video-icon.svg" alt="Video" class="thumb-img" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a>
                                                        <img src="@SD.ImgUrl/assets/img/no-image.png" alt="No image" class="thumb-img" />
                                                    </a>
                                                }
                                            }
                                        }
                                    </div>
                                </td>
                                <td scope="col">@item.UploadStatus</td>
                                <td scope="col">
                                    <h5>@item.Title</h5>
                                    <textarea asp-for="@item.Description" disabled name="Description" class="product-input form-control" rows="3" style="width:250px;"></textarea>
                                </td>
                                <td scope="col">@item.VenderName</td>
                                <td scope="col">@item.Sku</td>
                                <td scope="col">@item.ColorName</td>
                                <td scope="col">@item.Diameter</td>
                                <td scope="col">@item.Length</td>
                                <td scope="col">@item.BandWidth</td>
                                <td scope="col">@item.GoldWeight</td>
                                <td scope="col">@item.CTW</td>
                                <td scope="col">@item.CenterShapeName</td>
                                <td scope="col">@item.CenterCaratName</td>
                                <td scope="col">@item.Certificate</td>
                                <td scope="col">@item.Karat</td>
                                <td scope="col">@item.Price</td>
                                <td scope="col">@item.WholesaleCost</td>
                                <td scope="col">@item.AccentStoneShapeName</td>
                                <td scope="col">@item.MMSize</td>
                                <td scope="col">@item.DiaWT</td>
                                <td scope="col">@item.NoOfStones</td>
                                <td scope="col">@item.Grades</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="23"> No data found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="bandList" role="tabpanel" aria-labelledby="bands-tab">
            <table class="table table-hover table-bordered mb-0 table-responsive" id="bandTable">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" class="chkId" id="chkBandIds" /></th>
                        <th scope="col">Image</th>
                        <th scope="col">Status</th>
                        <th scope="col">Title</th>
                        <th scope="col">Vender</th>
                        <th scope="col">Style</th>
                        <th scope="col">Metal(Color)</th>
                        <th scope="col">Diameter</th>
                        <th scope="col">Length</th>
                        <th scope="col">Band.Width</th>
                        <th scope="col">Weight</th>
                        <th scope="col">CTW</th>
                        <th scope="col">Center.Shape</th>
                        <th scope="col">Center.Carat</th>
                        <th scope="col">Certification</th>
                        <th scope="col">Karat</th>
                        <th scope="col">Price</th>
                        <th scope="col">Wholesale.Cost</th>
                        <th scope="col">Accent.Stone.Shape</th>
                        <th scope="col">MM.Size</th>
                        <th scope="col">Dia.Wt</th>
                        <th scope="col">No.Of.Stones</th>
                        <th scope="col">Grades</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model.Where(x => x.CategoryName == SD.Bands))
                        {
                            <tr>
                                <td scope="col"><input type="checkbox" class="chkId" value="@item.Id" /></td>
                                <td scope="col">
                                    <div class="image-row">
                                        @if (item.ProductImageVideos != null && item.ProductImageVideos.Count > 0)
                                        {
                                            foreach (var imgVdo in item.ProductImageVideos)
                                            {
                                                if (!string.IsNullOrEmpty(imgVdo.ImageUrl) && imgVdo.ImageUrl != "-")
                                                {
                                                    <a class="showImgs" data-productid="@item.Id">
                                                        <img src="@SD.ImgUrl/@imgVdo.ImageUrl" alt="Image" class="thumb-img" />
                                                    </a>
                                                }
                                                else if (!string.IsNullOrEmpty(imgVdo.VideoUrl) && imgVdo.VideoUrl != "-")
                                                {
                                                    <a class="showImgs" data-productid="@item.Id">
                                                        <img src="@SD.ImgUrl/assets/img/video-icon.svg" alt="Video" class="thumb-img" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a>
                                                        <img src="@SD.ImgUrl/assets/img/no-image.png" alt="No image" class="thumb-img" />
                                                    </a>
                                                }
                                            }
                                        }
                                    </div>
                                </td>
                                <td scope="col">@item.UploadStatus</td>
                                <td scope="col">
                                    <h5>@item.Title</h5>
                                    <textarea asp-for="@item.Description" disabled name="Description" class="product-input form-control" rows="3" style="width:250px;"></textarea>
                                </td>
                                <td scope="col">@item.VenderName</td>
                                <td scope="col">@item.Sku</td>
                                <td scope="col">@item.ColorName</td>
                                <td scope="col">@item.Diameter</td>
                                <td scope="col">@item.Length</td>
                                <td scope="col">@item.BandWidth</td>
                                <td scope="col">@item.GoldWeight</td>
                                <td scope="col">@item.CTW</td>
                                <td scope="col">@item.CenterShapeName</td>
                                <td scope="col">@item.CenterCaratName</td>
                                <td scope="col">@item.Certificate</td>
                                <td scope="col">@item.Karat</td>
                                <td scope="col">@item.Price</td>
                                <td scope="col">@item.WholesaleCost</td>
                                <td scope="col">@item.AccentStoneShapeName</td>
                                <td scope="col">@item.MMSize</td>
                                <td scope="col">@item.DiaWT</td>
                                <td scope="col">@item.NoOfStones</td>
                                <td scope="col">@item.Grades</td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="23"> No data found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="earringList" role="tabpanel" aria-labelledby="earrings-tab">
            <table class="table table-hover table-bordered mb-0 table-responsive" id="EarringTable">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" class="chkId" id="chkEarringIds" /></th>
                        <th scope="col">Image</th>
                        <th scope="col">Status</th>
                        <th scope="col">Title</th>
                        <th scope="col">Vender</th>
                        <th scope="col">Style</th>
                        <th scope="col">Metal(Color)</th>
                        <th scope="col">Diameter</th>
                        <th scope="col">Length</th>
                        <th scope="col">Band.Width</th>
                        <th scope="col">Weight</th>
                        <th scope="col">CTW</th>
                        <th scope="col">Center.Shape</th>
                        <th scope="col">Center.Carat</th>
                        <th scope="col">Certification</th>
                        <th scope="col">Karat</th>
                        <th scope="col">Price</th>
                        <th scope="col">Wholesale.Cost</th>
                        <th scope="col">Accent.Stone.Shape</th>
                        <th scope="col">MM.Size</th>
                        <th scope="col">Dia.Wt</th>
                        <th scope="col">No.Of.Stones</th>
                        <th scope="col">Grades</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.Where(x => x.CategoryName == SD.Earrings))
                        {

                            <tr>
                                <td><input type="checkbox" class="chkId" value="@item.Id" /></td>
                                <td scope="col">
                                    <div class="image-row">
                                        @if (item.ProductImageVideos != null && item.ProductImageVideos.Count > 0)
                                        {
                                            foreach (var imgVdo in item.ProductImageVideos)
                                            {
                                                if (!string.IsNullOrEmpty(imgVdo.ImageUrl) && imgVdo.ImageUrl != "-")
                                                {
                                                    <a class="showImgs" data-productid="@item.Id">
                                                        <img src="@SD.ImgUrl/@imgVdo.ImageUrl" alt="Image" class="thumb-img" />
                                                    </a>
                                                }
                                                else if (!string.IsNullOrEmpty(imgVdo.VideoUrl) && imgVdo.VideoUrl != "-")
                                                {
                                                    <a class="showImgs" data-productid="@item.Id">
                                                        <img src="@SD.ImgUrl/assets/img/video-icon.svg" alt="Video" class="thumb-img" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a>
                                                        <img src="@SD.ImgUrl/assets/img/no-image.png" alt="No image" class="thumb-img" />
                                                    </a>
                                                }
                                            }
                                        }
                                    </div>
                                </td>
                                <td scope="col">@item.UploadStatus</td>
                                <td scope="col">
                                    <h5>@item.Title</h5>
                                    <textarea asp-for="@item.Description" disabled name="Description" class="product-input form-control" rows="3" style="width:250px;"></textarea>
                                </td>
                                <td scope="col">@item.VenderName</td>
                                <td scope="col">@item.Sku</td>
                                <td scope="col">@item.ColorName</td>
                                <td scope="col">@item.Diameter</td>
                                <td scope="col">@item.Length</td>
                                <td scope="col">@item.BandWidth</td>
                                <td scope="col">@item.GoldWeight</td>
                                <td scope="col">@item.CTW</td>
                                <td scope="col">@item.CenterShapeName</td>
                                <td scope="col">@item.CenterCaratName</td>
                                <td scope="col">@item.Certificate</td>
                                <td scope="col">@item.Karat</td>
                                <td scope="col">@item.Price</td>
                                <td scope="col">@item.WholesaleCost</td>
                                <td scope="col">@item.AccentStoneShapeName</td>
                                <td scope="col">@item.MMSize</td>
                                <td scope="col">@item.DiaWT</td>
                                <td scope="col">@item.NoOfStones</td>
                                <td scope="col">@item.Grades</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>

                            <td colspan="23">No data found</td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="tab-pane fade" id="pendantList" role="tabpanel" aria-labelledby="pandant-tab">
            <table class="table table-hover table-bordered mb-0 table-responsive" id="PendantTable">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" class="chkId" id="chkPendantIds" /></th>
                        <th scope="col">Image</th>
                        <th scope="col">Status</th>
                        <th scope="col">Title</th>
                        <th scope="col">Vender</th>
                        <th scope="col">Style</th>
                        <th scope="col">Metal(Color)</th>
                        <th scope="col">Diameter</th>
                        <th scope="col">Length</th>
                        <th scope="col">Band.Width</th>
                        <th scope="col">Weight</th>
                        <th scope="col">CTW</th>
                        <th scope="col">Center.Shape</th>
                        <th scope="col">Center.Carat</th>
                        <th scope="col">Certification</th>
                        <th scope="col">Karat</th>
                        <th scope="col">Price</th>
                        <th scope="col">Wholesale.Cost</th>
                        <th scope="col">Accent.Stone.Shape</th>
                        <th scope="col">MM.Size</th>
                        <th scope="col">Dia.Wt</th>
                        <th scope="col">No.Of.Stones</th>
                        <th scope="col">Grades</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.Where(x => x.CategoryName == SD.Pendants))
                        {

                            <tr>
                                <td><input type="checkbox" class="chkId" value="@item.Id" /></td>
                                <td scope="col">
                                    <div class="image-row">
                                        @if (item.ProductImageVideos != null && item.ProductImageVideos.Count > 0)
                                        {
                                            foreach (var imgVdo in item.ProductImageVideos)
                                            {
                                                if (!string.IsNullOrEmpty(imgVdo.ImageUrl) && imgVdo.ImageUrl != "-")
                                                {
                                                    <a class="showImgs" data-productid="@item.Id">
                                                        <img src="@SD.ImgUrl/@imgVdo.ImageUrl" alt="Image" class="thumb-img" />
                                                    </a>
                                                }
                                                else if (!string.IsNullOrEmpty(imgVdo.VideoUrl) && imgVdo.VideoUrl != "-")
                                                {
                                                    <a class="showImgs" data-productid="@item.Id">
                                                        <img src="@SD.ImgUrl/assets/img/video-icon.svg" alt="Video" class="thumb-img" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a>
                                                        <img src="@SD.ImgUrl/assets/img/no-image.png" alt="No image" class="thumb-img" />
                                                    </a>
                                                }
                                            }
                                        }
                                    </div>
                                </td>
                                <td scope="col">@item.UploadStatus</td>
                                <td scope="col">
                                    <h5>@item.Title</h5>
                                    <textarea asp-for="@item.Description" disabled name="Description" class="product-input form-control" rows="3" style="width:250px;"></textarea>
                                </td>
                                <td scope="col">@item.VenderName</td>
                                <td scope="col">@item.Sku</td>
                                <td scope="col">@item.ColorName</td>
                                <td scope="col">@item.Diameter</td>
                                <td scope="col">@item.Length</td>
                                <td scope="col">@item.BandWidth</td>
                                <td scope="col">@item.GoldWeight</td>
                                <td scope="col">@item.CTW</td>
                                <td scope="col">@item.CenterShapeName</td>
                                <td scope="col">@item.CenterCaratName</td>
                                <td scope="col">@item.Certificate</td>
                                <td scope="col">@item.Karat</td>
                                <td scope="col">@item.Price</td>
                                <td scope="col">@item.WholesaleCost</td>
                                <td scope="col">@item.AccentStoneShapeName</td>
                                <td scope="col">@item.MMSize</td>
                                <td scope="col">@item.DiaWT</td>
                                <td scope="col">@item.NoOfStones</td>
                                <td scope="col">@item.Grades</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>

                            <td colspan="23">No data found</td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="tab-pane fade" id="braceletsList" role="tabpanel" aria-labelledby="bracelets-tab">
            <table class="table table-hover table-bordered mb-0 table-responsive" id="BraceletsTable">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" class="chkId" id="chkBraceletIds" /></th>
                        <th scope="col">Image</th>
                        <th scope="col">Status</th>
                        <th scope="col">Title</th>
                        <th scope="col">Vender</th>
                        <th scope="col">Style</th>
                        <th scope="col">Metal(Color)</th>
                        <th scope="col">Diameter</th>
                        <th scope="col">Length</th>
                        <th scope="col">Band.Width</th>
                        <th scope="col">Weight</th>
                        <th scope="col">CTW</th>
                        <th scope="col">Center.Shape</th>
                        <th scope="col">Center.Carat</th>
                        <th scope="col">Certification</th>
                        <th scope="col">Karat</th>
                        <th scope="col">Price</th>
                        <th scope="col">Wholesale.Cost</th>
                        <th scope="col">Accent.Stone.Shape</th>
                        <th scope="col">MM.Size</th>
                        <th scope="col">Dia.Wt</th>
                        <th scope="col">No.Of.Stones</th>
                        <th scope="col">Grades</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.Where(x => x.CategoryName == SD.Bracelets))
                        {

                            <tr>
                                <td><input type="checkbox" class="chkId" value="@item.Id" /></td>
                                <td scope="col">
                                    <div class="image-row">
                                        @if (item.ProductImageVideos != null && item.ProductImageVideos.Count > 0)
                                        {
                                            foreach (var imgVdo in item.ProductImageVideos)
                                            {
                                                if (!string.IsNullOrEmpty(imgVdo.ImageUrl) && imgVdo.ImageUrl != "-")
                                                {
                                                    <a class="showImgs" data-productid="@item.Id">
                                                        <img src="@SD.ImgUrl/@imgVdo.ImageUrl" alt="Image" class="thumb-img" />
                                                    </a>
                                                }
                                                else if (!string.IsNullOrEmpty(imgVdo.VideoUrl) && imgVdo.VideoUrl != "-")
                                                {
                                                    <a class="showImgs" data-productid="@item.Id">
                                                        <img src="@SD.ImgUrl/assets/img/video-icon.svg" alt="Video" class="thumb-img" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a>
                                                        <img src="@SD.ImgUrl/assets/img/no-image.png" alt="No image" class="thumb-img" />
                                                    </a>
                                                }
                                            }
                                        }
                                    </div>
                                </td>
                                <td scope="col">@item.UploadStatus</td>
                                <td scope="col">
                                    <h5>@item.Title</h5>
                                    <textarea asp-for="@item.Description" disabled name="Description" class="product-input form-control" rows="3" style="width:250px;"></textarea>
                                </td>
                                <td scope="col">@item.VenderName</td>
                                <td scope="col">@item.Sku</td>
                                <td scope="col">@item.ColorName</td>
                                <td scope="col">@item.Diameter</td>
                                <td scope="col">@item.Length</td>
                                <td scope="col">@item.BandWidth</td>
                                <td scope="col">@item.GoldWeight</td>
                                <td scope="col">@item.CTW</td>
                                <td scope="col">@item.CenterShapeName</td>
                                <td scope="col">@item.CenterCaratName</td>
                                <td scope="col">@item.Certificate</td>
                                <td scope="col">@item.Karat</td>
                                <td scope="col">@item.Price</td>
                                <td scope="col">@item.WholesaleCost</td>
                                <td scope="col">@item.AccentStoneShapeName</td>
                                <td scope="col">@item.MMSize</td>
                                <td scope="col">@item.DiaWT</td>
                                <td scope="col">@item.NoOfStones</td>
                                <td scope="col">@item.Grades</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>

                            <td colspan="23">No data found</td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</section>
<div class="modal fade" id="modalImages" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">

</div>

@section Scripts {
    <script>
                $(document).ready(function () {

            // Generalized Checkbox Logic
            const checkboxConfig = [
                {
                    selectAllId: '#chkRingsIds',
                    tableId: '#ringTable',
                    updateFn: updateRingSelectedIds
                },
                {
                    selectAllId: '#chkBandIds',
                    tableId: '#bandTable',
                    updateFn: updateBandSelectedIds
                },
                {
                    selectAllId: '#chkEarringIds',
                    tableId: '#EarringTable',
                    updateFn: updateEarringSelectedIds
                },
                {
                    selectAllId: '#chkPendantIds',
                    tableId: '#PendantTable',
                    updateFn: updatePendantSelectedIds
                },
                {
                    selectAllId: '#chkBraceletIds',
                    tableId: '#BraceletsTable',
                    updateFn: updateBraceletsSelectedIds
                }
            ];

            checkboxConfig.forEach(({ selectAllId, tableId, updateFn }) => {
                // 'Select All' Checkbox
                $(selectAllId).on('change', function () {
                    const isChecked = $(this).is(':checked');
                    $(`${tableId} .chkId`).not(this).prop('checked', isChecked);
                    updateFn();
                });

                // Individual Checkbox Change
                $(tableId).on('change', '.chkId', function () {
                    const allChecked = $(`${tableId} .chkId`).length === $(`${tableId} .chkId:checked`).length;
                    $(selectAllId).prop('checked', allChecked);
                    updateFn();
                });
            });

            // Status Update Button Click
            $('.dropdown-item').on('click', function (e) {
                e.preventDefault();

                const status = $(this).data('status');
                const productIds = $('#txtProductIds').val();

                if (!productIds) {
                     Swal.fire({
                        icon: 'warning',
                        title: 'No items selected',
                        text: 'Please select at least one product to update the status.',
                    });
                    return;
                }

                const idsArray = productIds.split(',');
                    Swal.fire({
                    title: 'Are you sure?',
                    text: `Do Want to change status for Product? Product Status : "${status}".`,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, update it!',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                        if (result.isConfirmed) {
                                $.ajax({
                                        url: '@Url.Action("ChangeStatus", "Jewellery")',
                                        method: 'POST',
                                        data: {
                                            pIds: idsArray,
                                            status: status
                                        },
                                        success: function (response) {
                                            Swal.fire({
                                                icon: 'success',
                                                title: 'Updated',
                                                text: `Products updated to "${status}" successfully.`,
                                                timer: 2000,
                                                showConfirmButton: false
                                            }).then(() => {
                                                location.reload();
                                                console.log(response);
                                            });
                                        },
                                        error: function (xhr, status, error) {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Error',
                                                text: 'An error occurred while updating the products.',
                                            });
                                            console.error(error);
                                        }
                                    });


                        }
                });

            });
             $("#modalImages").on("click", ".popupImgs", function () {
              debugger;
               const id = $(this).attr("id");

                $.ajax({
                    url: `@Url.Action("UpdateJewelryProductImageById", "Jewellery")?id=${id}`,
                    type: "GET",
                    success: function (data) {
                        console.log(data.imageUrl);
                        if (data.imageUrl && data.imageUrl !== "-") {
                            $("#mainImg").attr("src", '@SD.ImgUrl/' + data.imageUrl).show();
                            $("#mainVideo").hide();
                        }
                        else if (data.videoUrl && data.videoUrl !== "-") {
                            $("#videoUrl").attr("src", '@SD.ImgUrl/' + data.videoUrl);
                            $("#mainImg").hide();
                            $("#mainVideo").show()[0].load();  // reload video
                        }
                        else {
                            $("#mainImg").attr("src", "/assets/img/no-image.png").show();
                            $("#mainVideo").hide();
                        }

                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching images:", error);
                    }
                });
            });

            // ID Getters & Updaters
            function updateRingSelectedIds() {
                updateSelectedIds(getSelectedIds('#ringTable'));
            }

            function updateBandSelectedIds() {
                updateSelectedIds(getSelectedIds('#bandTable'));
            }

            function updateEarringSelectedIds() {
                updateSelectedIds(getSelectedIds('#EarringTable'));
            }

            function updatePendantSelectedIds() {
                updateSelectedIds(getSelectedIds('#PendantTable'));
            }

            function updateBraceletsSelectedIds() {
                updateSelectedIds(getSelectedIds('#BraceletsTable'));
            }

            function getSelectedIds(tableId) {
                let ids = [];
                $(`${tableId} .chkId:checked`).each(function () {
                    ids.push($(this).val());
                });
                return ids;
            }

            function updateSelectedIds(ids) {
                $('#txtProductIds').val(ids.join(','));
                    }

                    $(document).on("click", ".showImgs", function (e) {
                        const productId = $(this).data("productid");

                        $.ajax({
                            url: `@Url.Action("JewelryProductImages", "Jewellery")?productId=${productId}`,
                            type: "GET",
                            success: function (data) {
                                // Assuming you have a modal or container to show the images
                                $("#modalImages").html(data);
                                $("#modalImages").modal("show");
                            },
                            error: function (xhr, status, error) {
                                console.error("Error fetching images:", error);
                            }
                        });
                    });

        });




    </script>
}