@model IEnumerable<Models.ProductDTO>
@using Common;
@{
    string defaultImage = string.Empty;
}



<section class="section">
    <div class="row mb-2">
        <div class="col-lg-6">
            <h4>Request List</h4>
        </div>
        <div class="col-lg-6">
            <div class="btn-group dropup float-end">
                <a class="" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </a>
                <input type="hidden" id="txtProductIds" />

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" data-status="Activated">Activated</a></li>
                    <li><a class="dropdown-item" href="#" data-status="Deactivated">Deactivated</a></li>
                    <li><a class="dropdown-item" href="#" data-status="Hold">Hold</a></li>
                    <li><a class="dropdown-item" href="#" data-status="Pending">Pending</a></li>
                </ul>

            </div>
        </div>

    </div>
    <div class="row mb-2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="rings-tab" data-bs-toggle="tab" href="#ringList" role="tab" aria-controls="ringList" aria-selected="true">Rings</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="bands-tab" data-bs-toggle="tab" href="#bandList" role="tab" aria-controls="bandList" aria-selected="false">Bands</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="earrings-tab" data-bs-toggle="tab" href="#earringList" role="tab" aria-controls="earringList" aria-selected="false">Earrings</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pendant-tab" data-bs-toggle="tab" tabindex="-1" href="#pendantList" role="tab" aria-controls="pandantList" aria-disabled="false">Pendant List</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="bracelets-tab" data-bs-toggle="tab" tabindex="-1" href="#braceletsList" role="tab" aria-controls="braceletList" aria-disabled="false">Bracelet List</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="ringList" role="tabpanel" aria-labelledby="rings-tab">
            <table class="table" id="ringTable">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" class="chkId" id="chkRingsIds" /></th>
                        <th scope="col">Image</th>
                        <th scope="col">Status</th>
                        <th scope="col">Title</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Style</th>
                        <th scope="col">Color</th>
                        <th scope="col">Length</th>
                        <th scope="col">Band Width</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Karat</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {

                        @foreach (var item in Model.Where(x => x.CategoryName == SD.Rings))
                        {
                            if (item.ProductImageVideos != null && item.ProductImageVideos.Count > 0)
                            {
                                defaultImage = item.ProductImageVideos.FirstOrDefault().ImageUrl;
                            }

                            <tr>
                                <td scope="col"><input type="checkbox" class="chkId" value="@item.Id" /></td>
                                <td scope="col">
                                    <img src="@SD.ImgUrl/@defaultImage" style="height:100px;" />
                                </td>
                                <td scope="col">@item.UploadStatus</td>
                                <td scope="col">
                                    <h5>@item.Title</h5>
                                    <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                                </td>
                                <td scope="col">@item.VenderName</td>
                                <td scope="col">@item.Sku</td>
                                <td scope="col">@item.ColorName</td>
                                <td scope="col">@item.Length</td>
                                <td scope="col">@item.BandWidth</td>
                                <td scope="col">@item.GoldWeight</td>
                                <td scope="col">@item.Karat</td>
                                <td scope="col">@item.Price</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12"> No data found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="bandList" role="tabpanel" aria-labelledby="bands-tab">
            <table class="table" id="bandTable">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" class="chkId" id="chkBandIds" /></th>
                        <th scope="col">
                            Image
                        </th>
                        <th scope="col">Status</th>
                        <th scope="col">
                            Title
                        </th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Color</th>
                        <th scope="col">Style</th>
                        <th scope="col">Band Width</th>
                        <th scope="col">Weight</th>
                        <td scope="col">Karat</td>
                        <td scope="col">Price</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model.Where(x => x.CategoryName == SD.Bands))
                        {
                            if (item.ProductImageVideos.Any())
                            {
                                defaultImage = string.Empty;
                                defaultImage = item.ProductImageVideos.FirstOrDefault().ImageUrl;
                            }
                            <tr>
                                <td scope="col"><input type="checkbox" class="chkId" value="@item.Id" /></td>
                                <td scope="col">
                                    <img src="@SD.ImgUrl/@defaultImage" style="height:100px;" />
                                </td>
                                <td scope="col">@item.UploadStatus</td>
                                <td scope="col">
                                    <h5>@item.Title</h5>
                                    <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                                </td>
                                <td scope="col">@item.VenderName</td>
                                <td scope="col">@item.ColorName</td>
                                <td scope="col">@item.Sku</td>
                                <td scope="col">@item.BandWidth</td>
                                <td scope="col">@item.GoldWeight</td>
                                <td scope="col">@item.Karat</td>
                                <td scope="col">@item.Price</td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12"> No data found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="earringList" role="tabpanel" aria-labelledby="earrings-tab">
            <table class="table" id="EarringTable">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" class="chkId" id="chkEarringIds" /></th>
                        <th scope="col">
                            Image
                        </th>
                        <th scope="col">Status</th>
                        <th scope="col">
                            Title
                        </th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Color</th>
                        <th scope="col">Style</th>
                        <th scope="col">Band Width</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Karat</th>
                        <th scope="col">Price</th>

                    </tr>
                </thead>
                <tbody>
                <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.Where(x => x.CategoryName == SD.Earrings))
                            {
                                defaultImage = string.Empty;
                                if (item.ProductImageVideos.Any())
                                {
                                    defaultImage = string.Empty;
                                    defaultImage = item.ProductImageVideos.FirstOrDefault().ImageUrl;
                                }
                            <tr>
                                <td><input type="checkbox" class="chkId" value="@item.Id" /></td>
                                <td><img src="@SD.ImgUrl/@defaultImage" style="height:100px;" /></td>
                                <td scope="col">@item.UploadStatus</td>
                                <td>
                                    <h5>@item.Title</h5>
                                    <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                                </td>
                                <td>@item.VenderName</td>
                                <td>@item.ColorName</td>
                                <td>@item.Sku</td>
                                <td>@item.BandWidth</td>
                                <td>@item.GoldWeight</td>
                                <td>@item.Karat</td>
                                <td>@item.Price</td>
                            </tr>
                            }
                        }
                        else
                        {
                        <tr>

                            <td colspan="12">No data found</td>

                        </tr>
                        }
                </tbody>

            </table>
        </div>
        <div class="tab-pane fade" id="pendantList" role="tabpanel" aria-labelledby="pandant-tab">
            <table class="table" id="PendantTable">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" class="chkId" id="chkPendantIds" /></th>
                        <th scope="col">
                            Image
                        </th>
                        <th scope="col">Status</th>
                        <th scope="col">
                            Title
                        </th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Color</th>
                        <th scope="col">Style</th>
                        <th scope="col">Length</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Karat</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {

                        @foreach (var item in Model.Where(x => x.CategoryName == SD.Pendants))
                        {
                            defaultImage = string.Empty;
                            if (item.ProductImageVideos.Any())
                            {
                                defaultImage = string.Empty;
                                defaultImage = item.ProductImageVideos.FirstOrDefault().ImageUrl;
                            }
                            <tr>
                                <td scope="col"><input type="checkbox" class="chkId" /></td>
                                <td scope="col">
                                    <img src="@SD.ImgUrl/@defaultImage" style="height:100px;" />
                                </td>
                                <td scope="col">@item.UploadStatus</td>
                                <td scope="col">
                                    <h5>@item.Title</h5>
                                    <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                                </td>
                                <td scope="col">@item.VenderName</td>
                                <td scope="col">@item.Sku</td>
                                <td scope="col">@item.Length</td>
                                <td scope="col">@item.GoldWeight</td>
                                <td scope="col">@item.Karat</td>
                                <td scope="col">@item.Price</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12"> No data found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="braceletsList" role="tabpanel" aria-labelledby="bracelets-tab">
            <table class="table" id="BraceletsTable">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" class="chkId" id="chkBraceletIds" /></th>
                        <th scope="col">
                            Image
                        </th>
                        <th scope="col">Status</th>
                        <th scope="col">
                            Title
                        </th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Style</th>
                        <th scope="col">Length</th>
                        <th scope="col">Band Width</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Karat</th>
                        <th scope="col">Price</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {

                        @foreach (var item in Model.Where(x => x.CategoryName == SD.Bracelets))
                        {
                            defaultImage = string.Empty;
                            if (item.ProductImageVideos.Any())
                            {
                                defaultImage = string.Empty;
                                defaultImage = item.ProductImageVideos.FirstOrDefault().ImageUrl;
                            }
                            <tr>
                                <td scope="col"><input type="checkbox" class="chkId" /></td>
                                <td scope="col">
                                    <img src="@SD.ImgUrl/@defaultImage" style="height:100px;" />
                                </td>
                                <th scope="col">@item.UploadStatus</th>
                                <td scope="col">
                                    <h5>@item.Title</h5>
                                    <p>@item.Grades @item.CTW @item.CenterShapeName @item.CategoryName</p>
                                </td>
                                <td scope="col">@item.VenderName</td>
                                <td scope="col">@item.Sku</td>
                                <td scope="col">@item.Length</td>
                                <td scope="col">@item.BandWidth</td>
                                <td scope="col">@item.GoldWeight</td>
                                <td scope="col">@item.Karat</td>
                                <td scope="col">@item.Price</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12"> No data found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>


@section Scripts {
    <script>
                $(document).ready(function () {

            // Generalized Checkbox Logic
            const checkboxConfig = [
                {
                    selectAllId: '#chkRingsIds',
                    tableId: '#ringTable',
                    updateFn: updateRingSelectedIds
                },
                {
                    selectAllId: '#chkBandIds',
                    tableId: '#bandTable',
                    updateFn: updateBandSelectedIds
                },
                {
                    selectAllId: '#chkEarringIds',
                    tableId: '#EarringTable',
                    updateFn: updateEarringSelectedIds
                },
                {
                    selectAllId: '#chkPendantIds',
                    tableId: '#PendantTable',
                    updateFn: updatePendantSelectedIds
                },
                {
                    selectAllId: '#chkBraceletIds',
                    tableId: '#BraceletsTable',
                    updateFn: updateBraceletsSelectedIds
                }
            ];

            checkboxConfig.forEach(({ selectAllId, tableId, updateFn }) => {
                // 'Select All' Checkbox
                $(selectAllId).on('change', function () {
                    const isChecked = $(this).is(':checked');
                    $(`${tableId} .chkId`).not(this).prop('checked', isChecked);
                    updateFn();
                });

                // Individual Checkbox Change
                $(tableId).on('change', '.chkId', function () {
                    const allChecked = $(`${tableId} .chkId`).length === $(`${tableId} .chkId:checked`).length;
                    $(selectAllId).prop('checked', allChecked);
                    updateFn();
                });
            });

            // Status Update Button Click
            $('.dropdown-item').on('click', function (e) {
                e.preventDefault();

                const status = $(this).data('status');
                const productIds = $('#txtProductIds').val();

                if (!productIds) {
                    alert('No product IDs selected.');
                    return;
                }

                const idsArray = productIds.split(',');

                $.ajax({
                    url: '@Url.Action("ChangeStatus", "Jewellery")',
                    method: 'POST',
                    data: {
                        pIds: idsArray,
                        status: status
                    },
                    success: function (response) {
                        alert(`Products updated to "${status}" successfully.`);
                        console.log(response);
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        alert('An error occurred while updating products.');
                        console.error(error);
                    }
                });
            });

            // ID Getters & Updaters
            function updateRingSelectedIds() {
                updateSelectedIds(getSelectedIds('#ringTable'));
            }

            function updateBandSelectedIds() {
                updateSelectedIds(getSelectedIds('#bandTable'));
            }

            function updateEarringSelectedIds() {
                updateSelectedIds(getSelectedIds('#EarringTable'));
            }

            function updatePendantSelectedIds() {
                updateSelectedIds(getSelectedIds('#PendantTable'));
            }

            function updateBraceletsSelectedIds() {
                updateSelectedIds(getSelectedIds('#BraceletsTable'));
            }

            function getSelectedIds(tableId) {
                let ids = [];
                $(`${tableId} .chkId:checked`).each(function () {
                    ids.push($(this).val());
                });
                return ids;
            }

            function updateSelectedIds(ids) {
                $('#txtProductIds').val(ids.join(','));
            }

        });




    </script>
}