@model DataAccess.Entities.ProductProperty

@{
    bool isChecked = Model.IsActive.HasValue && Model.IsActive.Value;
}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col">
            <h4 class="border-bottom pb-2"><b>@ViewBag.Title</b></h4>
        </div>
    </div>
    <div class="row">

        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-4">
                    <form id="productPropertyForm" asp-action="UpsertProductProperty" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" type="hidden" />

                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-lg-4 mb-3">
                                <label asp-for="Name" class="form-label fw-bold"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="col-xxl-4 col-xl-4 col-lg-4 mb-3">
                                <label class="form-label fw-bold">Main Property</label>
                                <select asp-for="ParentId" class="form-control">
                                    <option value="">-- Select Parent --</option>
                                    @foreach (var item in ViewBag.ParentDrp)
                                    {
                                        if (item.Id == Model.ParentId)
                                        {
                                            <option value="@item.Id" selected="selected">@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }

                                    }
                                </select>
                                <span asp-validation-for="ParentId" class="text-danger"></span>
                            </div>

                            <div class="col-xxl-4 col-xl-4 col-lg-4 mb-3">
                                <label class="form-label fw-bold">Image Upload</label>
                                <input type="file" name="UploadFile" id="UploadFile" class="form-control" accept="image/*" onchange="previewImage(event)" />
                                <span asp-validation-for="IconPath" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-lg-4 mb-3">
                                <label class="form-label fw-bold">Symbol Name</label>
                                <input asp-for="SymbolName" class="form-control" />
                                <span asp-validation-for="SymbolName" class="text-danger"></span>
                            </div>

                            <div class="col-xxl-4 col-xl-4 col-lg-4 mb-3">
                                <label class="form-label fw-bold">Synonyms</label>
                                <input asp-for="Synonyms" class="form-control" />
                                <span asp-validation-for="Synonyms" class="text-danger"></span>
                            </div>

                            <div class="col-xxl-4 col-xl-4 col-lg-4 mb-3">
                                <label asp-for="DisplayOrder" class="form-label fw-bold"></label>
                                <input asp-for="DisplayOrder" class="form-control" />
                                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-8 col-xl-8 col-lg-8 mb-3">
                                <b><label asp-for="Description" class="control-label"></label></b>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-6 mb-3">
                                <input type="hidden" name="IsActive" value="false" />
                                <input type="checkbox" name="IsActive" id="IsActive" class="form-check-input" value="true" @(isChecked ? "checked" : "") />
                                <label asp-for="IsActive" class="form-check-label">Is Activated</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                                @if (Model.IconPath != null)
                                {
                                    <img src="@Model.IconPath" id="imagePreview" class="img-fluid img-thumbnail justify-content-center" style="height: 150px;" /> }
                                else
                                {
                                    <img src="~/assets/img/no-image.png" id="imagePreview" class="img-fluid img-thumbnail" style="height: 150px;" />}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 p-1 offset-5">
                                <div class="form-check">
                                    <button type="submit" class="btn btn-theme">Submit</button>
                                    <a href="@Url.Action("JewelryProperty","Jewellery")" class="btn btn-danger">Back to list</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>


        $(document).ready(function () {
            $('#productPropertyForm').on('submit', function (e) {
                e.preventDefault();

                var name = $("#Name").val();

                var form = $(this);
                var actionUrl = form.attr('action');
                var formData = form.serialize();

                if (name == "" || name == undefined || name == null) {
                    alert("please enter name.");
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: actionUrl,
                    data: formData,
                    success: function (response) {
                        Swal.fire({
                            title: response.message || 'Saved Successfully!',
                            icon: 'success'
                        });
                    },
                    error: function (xhr) {
                        console.error("Error:", xhr.responseText);
                        alert("An error occurred while saving.");
                    }
                });
            });
            //$('#Description').summernote({
            //    height: 400, // set editor height
            //    minHeight: null, // set minimum height of editor
            //    maxHeight: null, // set maximum height of editor
            //    focus: true // set focus to editable area after initializing summernote
            //});
        });

        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function () {
                const output = document.getElementById('imagePreview');
                output.src = reader.result;
                output.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}
