@using DataAccess.Entities
@using Common
@model IEnumerable<Category>
@{
    int index = 1;
}
<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="h4">Category List</h2>
        <a class="btn btn-theme float-end" id="btnAddCategory" asp-controller="Category" asp-action="GetCategory" title="Add Category."><i class="bi bi-plus-circle me-1"></i> Add Category</a>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 mb-4">
            <div class="card shadow-sm">
                <div class="card-body p-0">
                    <div class="table-responsive" style="min-height: 500px; overflow-y: auto;">
                        <table class="table" id="categoryTable">
                            <thead>
                                <tr>
                                    <th scope="col">Srno</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Category Name</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr class="clickable-row" data-property-name="@item.Name">
                                            <td>@(index++)</td>
                                            <td>
                                                <img src="@($"{SD.ImgUrl}/{item.CategoryImage}")" alt="@item.Name Image" style="height:100px;" loading="lazy" />
                                            </td>
                                            <td>@item.Name</td>
                                            <td>@(item.IsActivated ? "Active" : "Inactive")</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class="" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="bi bi-three-dots-vertical"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item show-property" data-type="styles" data-category-id="@item.Id">
                                                                <i class="bi bi-pencil-square me-1"></i>Show Styles
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item show-property" data-type="collections" data-category-id="@item.Id">
                                                                <i class="bi bi-pencil-square me-1"></i>Show Collections
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="@Url.Action("GetCategory","Category",new { id=item.Id})">
                                                                <i class="bi bi-pencil-square me-1"></i>Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item text-danger" href="@Url.Action("DeleteCategory","Category",new { id=item.Id})">
                                                                <i class="bi bi-trash me-1"></i>Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-center">No data found</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).on('click', '.dropdown-item', function (e) {
            e.preventDefault();
            const action = $(this).data('status');
            // Example logic
            if (action === 'Activated') {
                // Open edit modal
            } else if (action === 'Deactivated') {
                // Confirm delete
            }
        });

    </script>
}
