@model IEnumerable<Models.DiamondData>

<div class="container">
    <div class="section-bg-color">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="cardcontainer">
                    <div class="photo">
                        <img src="@item.DiamondImagePath?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500">
                        @* <div class="photos">Photos</div> *@
                    </div>
                    <div class="content">
                        <p class="txt4">@item.Carat @item.ColorName @item.ShapeName @item.ClarityName @item.LabName</p>
                        <p class="txt5">A city that never sleeps</p>
                        <p class="txt2">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                    </div>
                    <div class="footer">
                        <p><a class="waves-effect waves-light btn" href="#">Read More</a><a id="heart"><span class="like"><i class="fab fa-gratipay"></i>Like</span></a></p>
                        @* <p class="txt3"><i class="far fa-clock"></i>10 Minutes Ago <span class="comments"><i class="fas fa-comments"></i>45 Comments</span></p> *@
                    </div>
                </div>
            }
            

        </div>
    </div>
    <!-- Wishlist Page Content End -->
</div>