@model List<Models.ProductMasterDTO>
@using Common;
@{
    var secImg = string.Empty;
    var priImg = string.Empty;
    var vdoUrl = string.Empty;
}
@if (Model != null)
{
    @foreach (var item in Model)
    {
        //vdoUrl = item.ProductImageVideos.Where(x => x.VideoUrl != null && x.VideoUrl != "-").FirstOrDefault()?.VideoUrl;
        //if (vdoUrl != null && vdoUrl == "-")
        //{
        //    vdoUrl = null;
        //}

        secImg = item.ProductImageVideos.Where(x => x.ImageUrl != null && x.ImageUrl != "-").LastOrDefault()?.ImageUrl;
        if (secImg != null && secImg == "-")
        {
            secImg = item.ProductImageVideos.Where(x => x.ImageUrl != null).FirstOrDefault()?.ImageUrl;
        }

        priImg = item.ProductImageVideos.Where(x => x.ImageUrl != null && x.ImageUrl != "-").FirstOrDefault()?.ImageUrl;
        if (priImg != null && priImg == "-")
        {
            priImg = item.ProductImageVideos.Where(x => x.ImageUrl != null).LastOrDefault()?.ImageUrl;
        }
        var productFirst = item.ProductItems.FirstOrDefault();

        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
            <div class="product-main-box">
                <input type="hidden" class="product-id" value="@item.Id" />
                <div class="product-item">
                    <figure class="product-thumb product-box-with-border media-container">
                        <a class="img-with-bg" href="@Url.Action("ProductDetails", "Products", new { productKey = item.ProductKey })">
                            <img class="pri-img media-item" src="@($"{SD.ImgUrl}/{priImg}")" />
                            <img class="sec-img media-item" src="@($"{SD.ImgUrl}/{secImg}")" />

                        </a>
                    </figure>

                    <div class="product-caption text-left product-box-desc">
                        <div class="product-identity">
                            <p class="manufacturer-name"><a href="#" class="pro-title" data-title="@productFirst.Title" data-sku="@productFirst.Sku">@productFirst.Title</a></p>
                        </div>
                        <div class="price-box">
                            <span class="price-regular f-16" data-sku="@productFirst.Sku">$ @productFirst.Price USD</span>
                        </div>

                        <div class="d-flex">
                            <p class="title-bold mb-0">Metal : </p>&nbsp;&nbsp;@* <span class="activemetalname title-regular mb-0" data-sku="@item.Sku">@item.ColorName</span> *@
                            <ul class="color-categories" style="padding-left:10px;">
                                @if (item.Metals != null )
                                {
                                    @foreach (var color in item.Metals)
                                    {
                                        <li>
                                            <a class="@color.Synonyms metalColor" @(color.Name == item.ColorName ? "selected" : null) metalId="@color.Id" href="javascript:void(0)" title="@color.Name" productId="@productFirst.Sku" data-colorName="@color.Name" data-sku="@productFirst.Sku"><p class="product-metal-desc">@productFirst.Karat</p></a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>

                        <div class="d-flex">
                            <p class="title-bold mb-0">Carat : </p>&nbsp;&nbsp;
                            <ul class="size-categories" style="padding-left:10px;">
                                @if (item.CaratSizes != null)
                                {
                                    @foreach (var carat in item.CaratSizes)
                                    {
                                        <li>
                                            <a class="@carat.Name caratName f-14" @(carat.Name == productFirst.CenterCaratName ? "selected" : null) caratId="@carat.Id" title="@carat.Name" href="javascript:void(0)" productId="@productFirst.Sku" data-sku="@productFirst.Sku">@carat.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>

                        <div class="d-flex product-center-shape-section">
                            <p class="title-bold mb-0">Shape : </p>

                            <span class="product-center-scroll-arrow" onclick="scrollShapes(-100)"><i class="fa fa-arrow-left"></i></span>
                            <ul class="product-center-shape-scroll" id="shapeList" style="padding-left:10px;">
                                @if (item.Shapes != null)
                                {
                                    @foreach (var shape in item.Shapes)
                                    {
                                        <li>
                                            <a href="#" class="shapeDT" title="@shape.Name" sku="@productFirst.Sku" colorId="@item.ColorId" shapeId="@shape.Id" data-sku="@productFirst.Sku">
                                                <img src="@SD.ShapeImgUrl@shape.IconPath" />
                                            </a>
                                        </li>
                                    }
                                }
                                </ul>
                            <span class="product-center-scroll-arrow" onclick="scrollShapes(100)"><i class="fa fa-arrow-right"></i></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

}
else
{
    <div></div>
}
