@model Models.ProductPropertyListDTO
@using Common

<div class="filter-container">
    <!-- Shape -->
    <div class="filter-group shape-group">
        <h4>Shape</h4>
        @if (Model.Shapes != null)
        {
            <div class="shapes-grid">
                @foreach (var item in Model.Shapes)
                {
                    <div class="shape-item" shapeId="@item.Id">
                        <img src="@item.IconPath" alt="@item.Name">
                        <span class="shape-name">@item.Name</span>
                    </div>
                }
            </div>
        }
    </div>

    <!-- Metal -->
    <div class="filter-group Metel-Group">
        <h4>Metal</h4>
        @if (Model.Colors != null)
        {
            @*<div class="color-grid">*@
            @foreach (var item in Model.Colors)
            {
                <div class="metal-item metal-grp" metalId="@item.Id">
                        <input class="checkbox metalcheckbox" metalId="@item.Id" type="checkbox"><div class="metal-color @item.SymbolName"></div> @item.Name</div>
            }
            @*</div>*@
        }
    </div>

    <!-- Stone -->
    <div class="filter-group stone-group">
        <h4>Stone</h4>
        <div class="stone-item"><input class="checkbox stonecheckbox" type="checkbox">Diamond</div>
        <div class="stone-item"><input class="checkbox stonecheckbox" type="checkbox">Color Diamond</div>
        <div class="stone-item"><input class="checkbox stonecheckbox" type="checkbox">Gemstone</div>
        <div class="stone-item"><input class="checkbox stonecheckbox" type="checkbox">No Stone</div>
    </div>

    <div class="slider-section Price-Group">
        <div class="d-flex mb-2">
            <div class="filter-label">
                <label for="minPrice" class="form-label" style="padding-right:2px;">Price <span>$</span></label>
            </div>
            <div class="d-flex">
                <input type="text" class="form-control txt-bolder me-2 range_slider" placeholder="Min Price" id="minPrice1" value="@Model.FromPrice" />
                - &nbsp;<input type="text" class="form-control txt-bolder range_slider margin-left-2" placeholder="Max Price" id="maxPrice1" value="@Model.ToPrice" />
            </div>
        </div>
        <div id="price-slider1" class="slider filter-scroll-bg"></div>
        <div class="d-flex mb-2">
            <div class="filter-label">
                <label for="minCarat" class="form-label" style="padding-right:2px;">Carat Size <span><img src="~/assets/img/icon/diamond-icon.png" style="width:25px;" /></span> </label>
            </div>
            <div class="d-flex">
                <input type="text" class="form-control txt-bolder me-2 range_slider" placeholder="Min Carat" id="minCarat" />
                - <input type="text" class="form-control txt-bolder range_slider margin-left-2" placeholder="Max Carat" id="maxCarat" />
            </div>
        </div>
        <div id="carat-size-slider" class="slider filter-scroll-bg"></div>


        <div class="d-flex mt-5">
            <button class="btn btn-dark shop-now-btn"><span class="f-16"> VIEW</span> <span class="f-16">944</span> <span class="f-16">DESIGNS</span> </button>
        </div>
    </div>
</div>

