@model Models.ProductMasterDTO
@using Common
@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/assets/css/lightslider/lightslider.css" rel="stylesheet" rel="stylesheet" />

    <style>

        #lightSliderVertical li {
            display: flex;
            align-items: center;
            justify-content: center;
            /*height: 500px;*/
            height: 600px;
            width: 100%;
            overflow: hidden;
            background-color: #f8f8f8; /* optional, helps visualize spacing */
        }

            #lightSliderVertical li img,
            #lightSliderVertical li video {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
                display: block;
                height: 570px;
            }

        .metalHide {
            color: black;
            font-size: 16px;
            font-weight: normal;
            border: none;
        }

        .metalShow {
            color: black;
            font-size: 16px;
            font-weight: bold;
            border: 1px solid black;
            display: block;
        }
    </style>

}

<!-- page main wrapper start -->
<div class="shop-main-wrapper padding-top-50 padding-bottom-50 pb-0">
    <div class="container-fluid">
        <div class="row">
            <!-- product details wrapper start -->
            <div class="col-lg-12 order-1 order-lg-2">
                <!-- product details inner end -->
                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="demo">
                                <div class="vertical-slider-wrapper d-flex">
                                    @if (Model != null)
                                    {
                                        <input type="hidden" id="productId" value="@Model.Id" />
                                        <input type="hidden" id="groupId" value="@Model.GroupId" />
                                    }
                                    <ul id="lightSliderVertical" class="img-with-bg">
                                        @if (Model != null && Model.ProductImageVideos.Count > 0)
                                        {
                                            foreach (var item in Model.ProductImageVideos.OrderBy(x => x.DisplayOrder))
                                            {
                                                if (!string.IsNullOrEmpty(item.ImageUrl) && item.ImageUrl != "-")
                                                {
                                                    <li data-thumb="@($"{SD.ImgUrl}/{item.ImageUrl}")">

                                                        <div class="zoom-wrapper">
                                                            <center>
                                                                <img src="@($"{SD.ImgUrl}/{item.ImageUrl}")" class="zoom-image" />
                                                            </center>
                                                        </div>

                                                    </li>
                                                }
                                                else if (!string.IsNullOrEmpty(item.VideoUrl) && item.VideoUrl != "-")
                                                {
                                                    <li data-thumb="@SD.ShapeImgUrl/assets/img/video/video-icon.svg">
                                                        <a>
                                                            <video autoplay="autoplay" loop="loop" muted="muted" playsinline preload="auto" style="max-width: 100%;">
                                                                <source src="@($"{SD.ImgUrl}/{item.VideoUrl}")" type="video/mp4" />
                                                            </video>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6  col-sm-12">
                            <div class="product-details-des">
                                @*<h3 class="product-name">@Model.ShapeName @Model.BandWidth @Model.Length @Model.Sku</h3>*@
                                <h3 class="product-name">@Model.Title </h3>


                                <div class="price-box  d-flex">
                                    <span class="price-regular" style="font-size: x-large; font-family: Castoro serif; ">$@Model.Price USD</span>
                                    @*<span class="price-old"><del>$@productDT.UnitPrice</del> USD</span>*@
                                </div>
                                <div class="price-box  d-flex">
                                    <label>Leave Review</label>
                                    <div class="ratings" style="padding-left:15px;">
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                </div>
                                <hr />

                                <div class="pt-3">
                                    <h6 class="option-title"> <span style="font-weight:bold;">Metal :</span>  <span class="active-metal">@Model.ColorName</span> </h6>
                                    <ul class="color-categories-details">
                                        @foreach (var color in Model.Metals)
                                        {
                                            var actionUrl = Url.Action("ProductDetails", "Products", new
                                            {
                                                productKey = Model.ProductKey,
                                                colorId = color.Id,
                                                shapeId = Model.ShapeId // or any value
                                            });
                                            <li>
                                                <a class="@color.Name.ToLower() metalColor" metalId="@color.Id" href="@actionUrl" title="@color.Name" productKey="@Model.ProductKey" data-colorName="@color.Name"><span style="font-size: 15px; color: black; padding: 5px 24px; ">@Model.ProductItems.FirstOrDefault().Karat</span></a>
                                            </li>
                                        }
                                    </ul>
                                </div>

                                <div class="pt-3">
                                    <h6 class="option-title"> <span style="font-weight:bold;">Diamond Shape</span> : <span class="active-shape">@(Model.ProductItems.FirstOrDefault().CenterShapeName != null ? Model.ProductItems.FirstOrDefault().CenterShapeName : "-")</span> </h6>
                                    <ul class="shape-categories-details">
                                        @foreach (var shape in Model.Shapes)
                                        {
                                            var groupDT = Model.ProductItems.FirstOrDefault(x => x.CenterShapeId == shape.Id && x.ColorId==Model.ColorId);
                                            bool isAvailable = groupDT != null;

                                            <li>
                                                <a href="@(isAvailable ? "#" : "javascript:void(0);")"
                                                   class="shapeDT @(isAvailable ? "border-1 border-dark" : "")"
                                                   title="@shape.Name"
                                                   data-groupid="@(isAvailable ? groupDT.GroupId : 0)"
                                                   data-shapeid="@shape.Id"
                                                   data-colorid="@Model.ColorId">
                                                    <img class="shape-img" src="@($"{SD.ImgUrl}{shape.IconPath}")" alt="@shape.Name" />
                                                </a>
                                            </li>
                                        }
                                    </ul>


                                </div>

                                <div class="pt-4">
                                    <h5 class="offer-text"><strong>Carat Weight :</strong> @Model.ProductItems.FirstOrDefault().CaratName</h5>
                                    @*<ul class="size-categories-details">
                                            @foreach (var item in Model.CaratSizes)
                                            {
                                                <li>
                                                    <a class="text-black-50" href="#" >@item.Name</a>
                                                </li>
                                            }
                                        </ul>*@
                                    <div class="product-countdown">

                                        @foreach (var item in Model.CaratSizes)
                                        {
                                            <div class="single-countdown selectedCaratClick">
                                                    <span class="single-countdown__time" title="@item.Name">@item.Name</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="pro-size">
                                    <h6 class="option-title">size :</h6>
                                    <select class="nice-select">
                                        <option>15</option>
                                        <option>16</option>
                                        <option>17</option>
                                        <option>18</option>
                                        <option>19</option>
                                        <option>20</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>24</option>
                                        <option>25</option>
                                        <option>26</option>
                                        <option>27</option>
                                    </select>
                                </div>

                                <div class="quantity-cart-box d-flex align-items-center">
                                    <div class="action_link">
                                        <a class="btn btn-cart2" href="#">Add to cart</a>
                                    </div>
                                    <div class="useful-links">
                                        <a href="#" data-bs-toggle="tooltip" id="btnWishListDT" title="Wishlist"><i class="pe-7s-like"></i>wishlist</a>
                                    </div>
                                </div>




                                <div class="delivery_date_shortcode">
                                    <h2 class="delivery_msg">Estimated Delivery Date (Working Day)</h2>
                                    <div class="order_steps">
                                        <div class="order_step_box">
                                            <img src="https://purejewels.co.in/assets/images/offer/order_icon.gif" alt="order_icon">
                                            <h6>Order Confirmed</h6>
                                            @*<h6 id="orderdate">4th Apr 2025</h6>*@
                                            <h6 id="orderdate">@DateTime.Now.ToString("D")</h6>
                                        </div>
                                        <div class="order_step_box">
                                            <img src="https://purejewels.co.in/assets/images/offer/shipped_icon.gif" alt="shipped_icon">
                                            <h6>Shipped</h6>
                                            <h6 class="shippdate">@DateTime.Now.AddDays(7).ToString("D")</h6>
                                        </div>
                                        <div class="order_step_box">
                                            <img src="https://purejewels.co.in/assets/images/offer/doorstep_icon.gif" alt="doorstep_icon">
                                            <h6>At Your Doorstep</h6>
                                            <h6 class="doorstepdate">@DateTime.Now.AddDays(11).ToString("D")</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="like-icon">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i>like</a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i>tweet</a>
                                    <a class="pinterest" href="#"><i class="fa fa-pinterest"></i>save</a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i>share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product details inner end -->
                <!-- product details reviews start -->
                <div class="product-details-reviews section-padding pb-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Description Section -->
                            <div class="card border-0 my-4">
                                <div class="card-body">
                                    <h3 class="card-title mb-3 d-flex align-items-center">
                                        Description
                                    </h3>
                                    <p class="card-text text-secondary" style="font-size: 1.1rem; line-height: 1.6;" id="txtDescription">
                                        @Model.ProductItems.FirstOrDefault().Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Horizontal Line -->
                    <hr class="my-4" />

                    <!-- Details Accordion Section -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="accordion" id="detailsAccordion">
                                        <div class="accordion-item border-0">
                                            <div class="row collapsed simple-toggle" data-bs-toggle="collapse"
                                                 data-bs-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails">
                                                <div class="col-xx-11 col-xl-11 col-lg-11 col-md-11">
                                                    <h3>Details</h3>
                                                </div>
                                                <div class="col-xx-1 col-xl-1 col-lg-1 col-md-1 text-end">
                                                    <h3 id="toggleIcon" class="me-2 toggle-icon fs-4 text-dark">+</h3>
                                                </div>
                                            </div>
                                            <div id="collapseDetails" class="accordion-collapse collapse" aria-labelledby="headingDetails" data-bs-parent="#detailsAccordion">
                                                <div class="accordion-body">
                                                    <div class="row g-4">
                                                        <!-- Item Details -->
                                                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12">
                                                            <div class="card border-0">
                                                                <div class="card-body">
                                                                    <h5 class="text-center mb-3">Item Details</h5>
                                                                    @{
                                                                        var ctw = !string.IsNullOrWhiteSpace(Model.ProductItems.FirstOrDefault().CTW) ? Convert.ToDecimal(Model.ProductItems.FirstOrDefault().CTW) : 0;
                                                                        var centerCarat = !string.IsNullOrWhiteSpace(Model.ProductItems.FirstOrDefault().CenterCaratName) ? Convert.ToDecimal(Model.ProductItems.FirstOrDefault().CenterCaratName) : 0;
                                                                        var total = ctw + centerCarat;
                                                                        var NoOfStones = 0;

                                                                        @*@if (Model.RelatedProducts != null)
                                                                            {
                                                                                foreach (var item in Model.RelatedProducts)
                                                                                {
                                                                                    if (!string.IsNullOrWhiteSpace(item.NoOfStones.ToString()))
                                                                                    {
                                                                                        NoOfStones += item.NoOfStones.Value;
                                                                                    }
                                                                                }
                                                                            }*@

                                                                    }
                                                                    <table class="table table-borderless">
                                                                        <tbody>
                                                                            <tr class="border-bottom border-dark"><th>Sku</th><td>@Model.ProductItems.FirstOrDefault().Sku</td></tr>
                                                                            <tr class="border-bottom border-dark"><th>Category</th><td>@Model.ProductItems.FirstOrDefault().CategoryName</td></tr>
                                                                            <tr class="border-bottom border-dark"><th>Vender</th><td>@Model.ProductItems.FirstOrDefault().VenderName</td></tr>
                                                                            <tr class="border-bottom border-dark"><th>Weight</th><td>@Model.ProductItems.FirstOrDefault().GoldWeight</td></tr>
                                                                            <tr class="border-bottom border-dark"><th>CTW</th><td>@total</td></tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Diamond Details -->
                                                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12">
                                                            <div class="card border-0">
                                                                <div class="card-body">
                                                                    <h5 class="text-center mb-3">Diamond Details</h5>
                                                                    <table class="table table-borderless">
                                                                        <tbody>
                                                                            <tr class="border-bottom border-dark"><th>Center Shape</th><td>@Model.ProductItems.FirstOrDefault().CenterShapeName</td></tr>
                                                                            <tr class="border-bottom border-dark"><th>Center Carat</th><td>@Model.ProductItems.FirstOrDefault().CenterCaratName</td></tr>
                                                                            <tr class="border-bottom border-dark">
                                                                                <th>Metal Options</th>
                                                                                <td>
                                                                                    <span>@Model.ProductItems.FirstOrDefault().Karat</span>
                                                                                    @foreach (var item in Model.Metals)
                                                                                    {<span>@item.Name, </span>}
                                                                                </td>
                                                                            </tr>
                                                                            @if (!string.IsNullOrWhiteSpace(Model.ProductItems.FirstOrDefault().Certificate))
                                                                            {
                                                                                <tr class="border-bottom border-dark"><th>Certification</th><td>@Model.ProductItems.FirstOrDefault().Certificate</td></tr>
                                                                            }
                                                                            <tr class="border-bottom border-dark"><th>No Of Stones</th><td>@NoOfStones</td></tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Side Diamond Details -->
                                                        @*<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12">
                                                                <div class="card border-0">
                                                                    <div class="card-body">
                                                                        <h5 class="text-center mb-3">Side Diamond Details</h5>
                                                                        <table class="table border-3">
                                                                            <tbody>
                                                                                <tr class="border-bottom border-dark"><th>Accent Shape</th><td>@Model.AccentStoneShapeName</td></tr>
                                                                                <tr class="border-bottom border-dark"><th>MM Size</th><td>@Model.MMSize</td></tr>
                                                                                <tr class="border-bottom border-dark"><th>Dia Wt</th><td>@Model.DiaWT</td></tr>

                                                                                <tr class="border-bottom border-dark"><th>Grades</th><td>@Model.Grades</td></tr>
                                                                                <tr class="border-bottom border-dark"><th>Diamond Type</th><td>@Model.ProductType</td></tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>*@
                                                    </div> <!-- End row -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <!-- Horizontal Line -->
                    <hr class="my-4" />

                    <!-- Reviews Section -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="my-3 p-3 bg-body rounded shadow-sm text-center">
                                <h2 class="mb-2">Customer Reviews</h2>
                                <h3 class="mb-1">
                                    4.8
                                    <small class="text-muted ms-2">25 reviews</small>
                                </h3>
                                <div class="text-warning fs-4">
                                    ★★★★★
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- product details reviews end -->
            </div>
            <!-- product details wrapper end -->
        </div>
    </div>
</div>
<!-- page main wrapper end -->
<div class="padding-top-20 padding-bottom-20">
    <div class="container-fluid">
        @*<div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title text-uppercase text-theme-color-font mb-2">The Jewel Facets Guarantee</h2>
                        <center>
                            <img src="~/assets/img/Title Line.png" />
                        </center>
                    </div>
                </div>
            </div>*@
        <div class="row">
            <div class="col-6 col-sm-6 col-md-2 mb-3 hvr-wobble-horizontal">
                <div class="promise-box">
                    <img src="~/assets/img/icon/100-exchange-2.png" alt="100% Exchange">
                    <div class="promise-title">100% Exchange</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 mb-3 hvr-wobble-horizontal">
                <div class="promise-box">
                    <img src="~/assets/img/icon/Free-shipping-insurance-1.png" alt="Easy 15 Days Return">
                    <div class="promise-title">Easy 15 Days Return</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 mb-3 hvr-wobble-horizontal">
                <div class="promise-box">
                    <img src="~/assets/img/icon/Certified-jewelery.png" alt="Certified Jewellery">
                    <div class="promise-title">Certified Jewellery</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 mb-3 hvr-wobble-horizontal">
                <div class="promise-box">
                    <img src="~/assets/img/icon/Hallmarked-Gold.png" alt="Hallmarked Gold">
                    <div class="promise-title">Hallmarked Gold</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 mb-3 hvr-wobble-horizontal">
                <div class="promise-box">
                    <img src="~/assets/img/icon/transportation.png" alt="Free Shipping & Insurance">
                    <div class="promise-title">Free Shipping & Insurance</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 mb-3 hvr-wobble-horizontal">
                <div class="promise-box">
                    <img src="~/assets/img/icon/Savings compared to mine diamonds 4.png" alt="Savings compared to mine diamonds">
                    <div class="promise-title">Savings compared to mine diamonds</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- related products area start -->
<section class="related-products section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @*section title start*@
                <div class="section-title text-center">
                    <h2 class="title">Related Products</h2>
                    <p class="sub-title">Add related products to weekly lineup</p>
                </div>
                @*section title start*@
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-carousel-4 slick-row-10 slick-arrow-style">
                    @*product item start*@
                    <div class="product-item">
                        <figure class="product-thumb">
                            <a href="product-details.html">
                                <img class="pri-img" src="~/assets/img/product/product-11.jpg" alt="product">
                                <img class="sec-img" src="~/assets/img/product/product-8.jpg" alt="product">
                            </a>
                            <div class="product-badge">
                                <div class="product-label new">
                                    <span>new</span>
                                </div>
                                <div class="product-label discount">
                                    <span>10%</span>
                                </div>
                            </div>
                            <div class="button-group">
                                <a href="wishlist.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="pe-7s-like"></i></a>
                                <a href="compare.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick_view"><span data-bs-toggle="tooltip" data-bs-placement="left" title="Quick View"><i class="pe-7s-search"></i></span></a>
                            </div>
                            <div class="cart-hover">
                                <button class="btn btn-cart">add to cart</button>
                            </div>
                        </figure>
                        <div class="product-caption text-center">
                            <div class="product-identity">
                                <p class="manufacturer-name"><a href="product-details.html">Gold</a></p>
                            </div>
                            <ul class="color-categories">
                                <li>
                                    <a class="c-lightblue" href="#" title="LightSteelblue"></a>
                                </li>
                                <li>
                                    <a class="c-darktan" href="#" title="Darktan"></a>
                                </li>
                                <li>
                                    <a class="c-grey" href="#" title="Grey"></a>
                                </li>
                                <li>
                                    <a class="c-brown" href="#" title="Brown"></a>
                                </li>
                            </ul>
                            <h6 class="product-name">
                                <a href="product-details.html">Perfect Diamond Jewelry</a>
                            </h6>
                            <div class="price-box">
                                <span class="price-regular">$60.00</span>
                                <span class="price-old"><del>$70.00</del></span>
                            </div>
                        </div>
                    </div>
                    @*product item end
                        product item start*@
                    <div class="product-item">
                        <figure class="product-thumb">
                            <a href="product-details.html">
                                <img class="pri-img" src="~/assets/img/product/product-12.jpg" alt="product">
                                <img class="sec-img" src="~/assets/img/product/product-7.jpg" alt="product">
                            </a>
                            <div class="product-badge">
                                <div class="product-label new">
                                    <span>sale</span>
                                </div>
                                <div class="product-label discount">
                                    <span>new</span>
                                </div>
                            </div>
                            <div class="button-group">
                                <a href="wishlist.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="pe-7s-like"></i></a>
                                <a href="compare.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick_view"><span data-bs-toggle="tooltip" data-bs-placement="left" title="Quick View"><i class="pe-7s-search"></i></span></a>
                            </div>
                            <div class="cart-hover">
                                <button class="btn btn-cart">add to cart</button>
                            </div>
                        </figure>
                        <div class="product-caption text-center">
                            <div class="product-identity">
                                <p class="manufacturer-name"><a href="product-details.html">mony</a></p>
                            </div>
                            <ul class="color-categories">
                                <li>
                                    <a class="c-lightblue" href="#" title="LightSteelblue"></a>
                                </li>
                                <li>
                                    <a class="c-darktan" href="#" title="Darktan"></a>
                                </li>
                                <li>
                                    <a class="c-grey" href="#" title="Grey"></a>
                                </li>
                                <li>
                                    <a class="c-brown" href="#" title="Brown"></a>
                                </li>
                            </ul>
                            <h6 class="product-name">
                                <a href="product-details.html">Handmade Golden Necklace</a>
                            </h6>
                            <div class="price-box">
                                <span class="price-regular">$50.00</span>
                                <span class="price-old"><del>$80.00</del></span>
                            </div>
                        </div>
                    </div>
                    @*product item end
                        product item start*@
                    <div class="product-item">
                        <figure class="product-thumb">
                            <a href="product-details.html">
                                <img class="pri-img" src="~/assets/img/product/product-13.jpg" alt="product">
                                <img class="sec-img" src="~/assets/img/product/product-6.jpg" alt="product">
                            </a>
                            <div class="product-badge">
                                <div class="product-label new">
                                    <span>new</span>
                                </div>
                            </div>
                            <div class="button-group">
                                <a href="wishlist.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="pe-7s-like"></i></a>
                                <a href="compare.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick_view"><span data-bs-toggle="tooltip" data-bs-placement="left" title="Quick View"><i class="pe-7s-search"></i></span></a>
                            </div>
                            <div class="cart-hover">
                                <button class="btn btn-cart">add to cart</button>
                            </div>
                        </figure>
                        <div class="product-caption text-center">
                            <div class="product-identity">
                                <p class="manufacturer-name"><a href="product-details.html">Diamond</a></p>
                            </div>
                            <ul class="color-categories">
                                <li>
                                    <a class="c-lightblue" href="#" title="LightSteelblue"></a>
                                </li>
                                <li>
                                    <a class="c-darktan" href="#" title="Darktan"></a>
                                </li>
                                <li>
                                    <a class="c-grey" href="#" title="Grey"></a>
                                </li>
                                <li>
                                    <a class="c-brown" href="#" title="Brown"></a>
                                </li>
                            </ul>
                            <h6 class="product-name">
                                <a href="product-details.html">Perfect Diamond Jewelry</a>
                            </h6>
                            <div class="price-box">
                                <span class="price-regular">$99.00</span>
                                <span class="price-old"><del></del></span>
                            </div>
                        </div>
                    </div>
                    @*product item end
                        product item start*@
                    <div class="product-item">
                        <figure class="product-thumb">
                            <a href="product-details.html">
                                <img class="pri-img" src="~/assets/img/product/product-14.jpg" alt="product">
                                <img class="sec-img" src="~/assets/img/product/product-5.jpg" alt="product">
                            </a>
                            <div class="product-badge">
                                <div class="product-label new">
                                    <span>sale</span>
                                </div>
                                <div class="product-label discount">
                                    <span>15%</span>
                                </div>
                            </div>
                            <div class="button-group">
                                <a href="wishlist.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="pe-7s-like"></i></a>
                                <a href="compare.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick_view"><span data-bs-toggle="tooltip" data-bs-placement="left" title="Quick View"><i class="pe-7s-search"></i></span></a>
                            </div>
                            @*<div class="cart-hover">
                                    <button class="btn btn-cart">add to cart</button>
                                </div>*@
                        </figure>
                        <div class="product-caption text-center">
                            <div class="product-identity">
                                <p class="manufacturer-name"><a href="product-details.html">silver</a></p>
                            </div>
                            <ul class="color-categories">
                                <li>
                                    <a class="c-lightblue" href="#" title="LightSteelblue"></a>
                                </li>
                                <li>
                                    <a class="c-darktan" href="#" title="Darktan"></a>
                                </li>
                                <li>
                                    <a class="c-grey" href="#" title="Grey"></a>
                                </li>
                                <li>
                                    <a class="c-brown" href="#" title="Brown"></a>
                                </li>
                            </ul>
                            <h6 class="product-name">
                                <a href="product-details.html">Diamond Exclusive Ornament</a>
                            </h6>
                            <div class="price-box">
                                <span class="price-regular">$55.00</span>
                                <span class="price-old"><del>$75.00</del></span>
                            </div>
                        </div>
                    </div>
                    @*product item end*@
                    @*product item start*@
                    <div class="product-item">
                        <figure class="product-thumb">
                            <a href="product-details.html">
                                <img class="pri-img" src="~/assets/img/product/product-15.jpg" alt="product">
                                <img class="sec-img" src="~/assets/img/product/product-4.jpg" alt="product">
                            </a>
                            <div class="product-badge">
                                <div class="product-label new">
                                    <span>new</span>
                                </div>
                                <div class="product-label discount">
                                    <span>20%</span>
                                </div>
                            </div>
                            <div class="button-group">
                                <a href="wishlist.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="pe-7s-like"></i></a>
                                <a href="compare.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick_view"><span data-bs-toggle="tooltip" data-bs-placement="left" title="Quick View"><i class="pe-7s-search"></i></span></a>
                            </div>
                            @*<div class="cart-hover">
                                    <button class="btn btn-cart">add to cart</button>
                                </div>*@
                        </figure>
                        <div class="product-caption text-center">
                            <div class="product-identity">
                                <p class="manufacturer-name"><a href="product-details.html">mony</a></p>
                            </div>
                            <ul class="color-categories">
                                <li>
                                    <a class="c-lightblue" href="#" title="LightSteelblue"></a>
                                </li>
                                <li>
                                    <a class="c-darktan" href="#" title="Darktan"></a>
                                </li>
                                <li>
                                    <a class="c-grey" href="#" title="Grey"></a>
                                </li>
                                <li>
                                    <a class="c-brown" href="#" title="Brown"></a>
                                </li>
                            </ul>
                            <h6 class="product-name">
                                <a href="product-details.html">Citygold Exclusive Ring</a>
                            </h6>
                            <div class="price-box">
                                <span class="price-regular">$60.00</span>
                                <span class="price-old"><del>$70.00</del></span>
                            </div>
                        </div>
                    </div>
                    @*product item end*@
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Fixed Footer Add to Cart Bar -->
<div id="footerCartBar" class="footer-add-to-cart fixed-bottom bg-white shadow-lg border-top px-3 py-3">
    <div>
        <strong>@Model.Title</strong> <br />
        <h3>$@Model.Price USD</h3>
    </div>
    <a href="#" class="btn btn-theme px-4 py-2">Add to Cart</a>
</div>


@section Scripts {
    <script src="~/assets/js/plugins/lightslider.js"></script>

    <script>

        let vSlider;
        let resizeTimeout;
        function initializeSlider() {
            if (vSlider) vSlider.destroy();

            const isMobileOrTablet = window.innerWidth <= 768; // You can adjust the breakpoint

            vSlider = $("#lightSliderVertical").lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                slideMargin: 0,
                thumbItem: 5,
                galleryMargin: 10,
                thumbMargin: 10,
                vertical: false,  // Ensure horizontal slider
                onSliderLoad: function () {
                    // Any additional functionality on load
                }
            });
        }

        var selectedproductId = JSON.parse(localStorage.getItem('productIds')) || [];


        $(document).ready(function () {
            initializeSlider();

            $(document).on("click", ".metalColor", function () {
                const colorId = $(this).attr("metalId");
                const productKey = $(this).attr("productKey");
                GetProductByColorId(productKey, colorId);
            });

            $(window).on('resize', function () {
                //initializeSlider(); // Re-init on resize

                clearTimeout(resizeTimeout);
                resizeTimeout = setTimeout(function () {
                    initializeSlider(); // Re-initialize after resizing stops
                }, 300);

            });

            $("#btnWishListDT").click(function () {
                var pId = $("#productId").val(); // get product ID

                if (!pId) {
                    alert("Invalid product ID.");
                    return;
                }

                // Get existing wishlist or initialize empty
                let wishlist = JSON.parse(localStorage.getItem("ProductWishlist")) || [];

                // Check if product is already in the wishlist
                if (!wishlist.includes(pId)) {
                    wishlist.push(pId); // Add new product ID
                    localStorage.setItem("ProductWishlist", JSON.stringify(wishlist)); // Save back to localStorage
                    alert("Product added to wishlist.");
                } else {
                    alert("Product is already in your wishlist.");
                }
            });
        });

        function getWishlistCounter() {
            let wishlist = JSON.parse(localStorage.getItem("wishlist")) || [];
            let productWishlist = JSON.parse(localStorage.getItem("ProductWishlist")) || [];
            $("#wishlistCounter").text(wishlist.length + productWishlist.length);
            $("#wishlistMobileCounter").text(wishlist.length + productWishlist.length);
        }

        function GetProductByColorId(productKey, colorId) {
            debugger;
            $.ajax({
                url: '@Url.Action("ProductDetailsByColorId", "Products")',
                data: {
                    productKey: productKey,
                    colorId: parseInt(colorId)
                },
                type: 'GET',
                dataType: 'json'
            }).done(function (response) {
                const baseUrl = '@SD.ImgUrl'.replace(/\\/g, '/');

                $(".product-name").text(response.title);
                $(".price-regular[data-groupId='" + groupId + "']").text(response.Price);
                $(".price-old[data-groupId='" + groupId + "']").html('<del>' + response.unitPrice + '</del>');
                $(".active-metal").text(response.colorName);

                const images = (response.productImageVideos || []).filter(x => x.imageUrl && x.imageUrl !== "-");

                let sliderHtml = "";

                images.forEach((image, index) => {
                    const imgUrl = baseUrl + '/' + image.imageUrl.replace(/\\/g, '/');
                    const altText = response.colorName + " - Image " + (index + 1);

                    sliderHtml += `
                        <li data-thumb="${imgUrl}">

                            <a>
                                <img src="${imgUrl}" alt="${altText}" class="zoom-images" />
                            </a>

                        </li>`;
                });

                const videos = (response.productImageVideos || []).filter(x => x.videoUrl && x.videoUrl !== "-");
                let vdoSliderHtml = "";

                videos.forEach((vdo, index) => {
                    const vdoUrl = baseUrl + '/' + vdo.videoUrl.replace(/\\/g, '/');
                    const altText = response.colorName + " - Image " + (index + 1);

                    sliderHtml += `
                        <li data-thumb="@SD.ShapeImgUrl/assets/img/video/video-icon.svg">
                            <a>
                                <video autoplay="autoplay" loop="loop" muted="muted" playsinline preload="auto" style="max-width: 100%;">
                                                                <source src="${vdoUrl}" type="video/mp4">
                                                            </video>
                            </a>
                        </li>`;
                });

                $("#lightSliderVertical").html(sliderHtml);
                initializeSlider();
            }).fail(function (xhr, status, error) {
                console.error("AJAX Error:", status, error);
            });
        }
    </script>



    <script>
        $(function () {
            var zoomed = false;
            var isDragging = false;
            var lastX, lastY;
            var posX = 0, posY = 0;

            // Use event delegation
            $(document).on('click', '.zoom-images', function (e) {
                if (!zoomed) {
                    zoomed = true;
                    $(this).css('cursor', 'grab');
                    $(this).css('transform', 'scale(2)');
                } else {
                    zoomed = false;
                    $(this).css('cursor', 'zoom-in');
                    $(this).css({
                        transform: 'scale(1)',
                        top: 0,
                        left: 0
                    });
                    posX = posY = 0;
                }
            });

            $(document).on('mousedown', '.zoom-images', function (e) {
                if (!zoomed) return;
                isDragging = true;
                lastX = e.pageX;
                lastY = e.pageY;
                $(this).css('cursor', 'grabbing');
            });

            $(document).on('mousemove', function (e) {
                if (isDragging && zoomed) {
                    var dx = e.pageX - lastX;
                    var dy = e.pageY - lastY;

                    posX += dx;
                    posY += dy;

                    $('.zoom-images').css({
                        top: posY + 'px',
                        left: posX + 'px'
                    });

                    lastX = e.pageX;
                    lastY = e.pageY;
                }
            });

            $(document).on('mouseup', function () {
                if (zoomed) {
                    isDragging = false;
                    $('.zoom-images').css('cursor', 'grab');
                }
            });

            $(document).ready(function () {
                var $footer = $('#mainFooter');
                var $cartBar = $('#footerCartBar');

                checkFooterVisibility();

                $(".shapeDT").click(function () {
                    const groupId = $this.data("groupid");
                    var shapeId = $(this).attr('shapeId');
                    var colorId = $(this).attr('colorId');
                    GetProductByShapeId(groupId, shapeId, colorId);
                });

            });

            function checkFooterVisibility() {
                var windowBottom = $(window).scrollTop() + $(window).height();
                var footerTop = $footer.offset().top;

                if (windowBottom >= footerTop) {
                    // Footer is in view
                    $cartBar.hide();
                } else {
                    // Footer is out of view
                    $cartBar.show();
                }
            }

            $(window).on('scroll resize', function () {
                checkFooterVisibility();
            });

            function GetProductByShapeId(groupId, shapeId, colorId) {
                    $.ajax({
                        url: '@Url.Action("GetProductDetailsByShapeId", "Products")',
                        data: {
                            groupId: parseInt(groupId),
                            shapeId: parseInt(shapeId),
                            colorId: parseInt(colorId)
                        },
                        type: 'GET',
                        dataType: 'json'
                    })
                    .done(function (response) {
                        if (!response || response.length === 0) return;

                        const baseUrl = '@SD.BaseApiUrl'.replace(/\\/g, '/');

                        $(".product-name").text(response[0].title || '');
                        $(".activemetalname").text(response[0].colorName || '');
                        $(".price-regular").text(response[0].Price || '');
                        $("#txtDescription").text(response[0].description || '');

                        const distinctCaratNames = [...new Set(
                            response.map(item => item.centerCaratName).filter(Boolean)
                        )];

                        const $caratContainer = $(".selectedCaratClick");
                        $caratContainer.empty();

                        distinctCaratNames.forEach(name => {
                            const item = response.find(x => x.centerCaratName === name);
                            const $span = $('<span/>', {
                                class: 'carat-span',
                                text: name,
                                'data-price': item?.Price || ''
                            });
                            $caratContainer.append($span);
                        });

                        $(".price-regular").data("original-price", response[0].Price);
                    })
                    .fail(function (xhr, status, error) {
                        console.error('AJAX error:', status, error);
                    });
                }
        });
    </script>
    <script>
        const collapseEl = document.getElementById('collapseDetails');
        const toggleIcon = document.getElementById('toggleIcon');

        collapseEl.addEventListener('show.bs.collapse', function () {
            toggleIcon.textContent = '−'; // Use minus symbol
        });

        collapseEl.addEventListener('hide.bs.collapse', function () {
            toggleIcon.textContent = '+'; // Use plus symbol
        });

        $(document).ready(function () {
            let scale = 1;
            const scaleStep = 0.2;
            const maxScale = 3;
            const minScale = 1;

            $(document).on('click', '.zoom-wrapper', function () {
                const img = $(this).find('.zoom-image');
                scale += scaleStep;
                if (scale > maxScale) scale = minScale; // Reset
                img.css('transform', `scale(${scale})`);
            });

            // Optional: Mouse wheel zoom
            $(document).on('wheel', '.zoom-wrapper', function (e) {
                e.preventDefault();
                const img = $(this).find('.zoom-image');
                scale += e.originalEvent.deltaY < 0 ? scaleStep : -scaleStep;
                scale = Math.min(Math.max(scale, minScale), maxScale);
                img.css('transform', `scale(${scale})`);
            });
        });
    </script>



}
