@model List<DataAccess.Entities.ProductStyles>

@{
    int idx = 0;
}

<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="h4">Category List</h2>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 mb-4">
            <div class="card shadow-sm">
                <div class="card-body p-0">
                    <!-- Tab navigation -->
                    <ul class="nav nav-tabs" id="productStyleTabs" role="tablist">
                        @foreach (var item in Model)
                        {
                            var isActive = idx == 0 ? "active" : "";
                            var isSelected = idx == 0 ? "true" : "false";
                            <li class="nav-item" role="presentation">
                                <a class="nav-link @isActive" id="@(item.StyleName)-tab" data-bs-toggle="tab" href="#@(item.StyleName)List" role="tab" aria-controls="@(item.StyleName)List" aria-selected="@isSelected">
                                    @item.StyleName
                                </a>
                            </li>
                            idx++;
                        }
                    </ul>

                    <!-- Tab content -->
                    <div class="tab-content p-3" id="productStyleTabsContent">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{ 
    <script>
        $(document).ready(function () {
            showStyleProducts();
        });

        function showStyleProducts() {
            $.ajax({
                url: '@Url.Action("GetProductStyleItems", "ProductStyles")',
                type: 'GET',
                success: function (result) {
                        $('#productStyleTabsContent').html("");
                        $('#productStyleTabsContent').html(result);
                },
                error: function (xhr, status, error) {
                    console.error('Error loading diamond list:', xhr.responseText, status, error);
                }
            });
        }
    </script>
}