

<header class="header-area">
    <div class="main-header d-none d-lg-block">
        <div class="header-top bg-gold">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-8">
                        <div class="welcome-message">
                            <p class="text-white text-center">Free Matching Band when You Design Your Ring.</p>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 text-right">
                        <div class="header-top-settings">
                            <ul class="nav align-items-center justify-content-end">
                                <!-- Currency Dropdown -->
                                <li class="currency-wrap text-white">
                                    $ Currency
                                    <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list currency-list">
                                        <li><a>$ USD</a></li>
                                        <li><a>€ EURO</a></li>
                                        <li><a>£ GBP</a></li>
                                        <li><a>¥ JPY</a></li>
                                        <li><a>$ AUD</a></li>
                                        <li><a>$ CAD</a></li>
                                        <li><a>CHF</a></li>
                                        <li><a>₹ INR</a></li>
                                    </ul>
                                </li>

                                <!-- Language Dropdown -->
                                <li class="language text-white">
                                    <img src="~/assets/img/icon/en.png" alt="English Flag"> English
                                    <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list">                                                                              
                                        <li><a href="#"><img src="~/assets/img/icon/en.png" alt="English Flag"> English</a></li>
                                        <li><a href="#"><img src="~/assets/img/icon/fr.png" alt="French Flag"> French</a></li>
                                       
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="header-main-area sticky">
            <div class="container-fluid">
                <div class="row align-items-center position-relative">
                    <div class="col-xl-2 col-lg-2 col-md-2">
                        <div class="logo d-lg-block d-none text-center">
                            <a href="@Url.Action("Index","Home")">
                                <img src="~/assets/img/logo/Jewelfacets_Logos_Blue.png" alt="Brand Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-7 position-static">
                        <div class="main-menu-area">
                            <div class="main-menu">
                                <nav class="desktop-menu">
                                    <ul>
                                        <li class="active position-static">
                                            <a href="@Url.Action("Index","ProductPrograms",new {type="Solitaire"})">Engagement</a>
                                            <ul class="megamenu dropdown">
                                                <li class="mega-title">
                                                    <span>Shop by Style</span>
                                                    <ul>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="Solitaire"})">Solitaire</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="SideStone"})">Side Stone</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="Halo"})">Halo</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="ThreeStone"})">Three Stone</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="HiddenHalo"})">Hidden Halo</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="Vintage"})">Vintage</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="BridalSets"})">Bridal Sets</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="Gemstone"})">Gemstone</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="BadgleyMischka"})"> Badgley Mischka</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="CustomerFavorites"})">Customer Favorites</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-title">
                                                    <span>Shop by Shape</span>
                                                    <ul>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Princess.svg" style="width:30px;"> Princess</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Round.svg" style="width:30px;"> Round</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Radiant.svg" style="width:30px;"> Radiant-Cut</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Emerald.svg" style="width:30px;"> Emerald</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Oval.svg" style="width:30px;"> Oval</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-title">
                                                    <span></span>
                                                    <ul>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Cushion.svg" style="width:30px;"> CushionLong</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Heart.svg" style="width:30px;"> Heart</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Marquise.svg" style="width:30px;"> Marquise</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Square Emerald.svg" style="width:30px;"> Sq.Emerald</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Asscher.svg" style="width:30px;"> Asscher</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-title">
                                                    <span>Shop by Metal</span>
                                                    <ul>
                                                        <li><a href="#"><img src="~/assets/img/icon/yellow-gold-new.svg" style="width:30px;" /> Yellow Gold</a></li>
                                                        <li><a href="#"><img src="~/assets/img/icon/white-gold-new.svg" style="width:30px;" /> White Gold</a></li>
                                                        <li><a href="#"><img src="~/assets/img/icon/rose-gold-new.svg" style="width:30px;" /> Rose Gold</a></li>
                                                        <li><a href="#"><img src="~/assets/img/icon/platinum-new.svg" style="width:30px;" /> Platinum</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="position-static">
                                            <a href="@Url.Action("Index","ProductPrograms",new {type="Bands"})">Wedding</a>
                                            <ul class="megamenu dropdown">
                                                <li class="mega-title">
                                                    <span>Shop by Style</span>
                                                    <ul>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="WeddingAndAnniversary"})">Wedding and Anniversary</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="Eternity"})">Eternity</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="3/4 Eternity"})">3/4 Eternity</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="Enhancers"})">Enhancers</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="Curve Bands"})">Curve Bands</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="Open Bands"})">Open Bands</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="DesignYourStack"})">Design Your Stack</a></li>
                                                        <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="CustomerFavorites"})">Customer Favorites</a></li>
                                                    </ul>                                                       
                                                </li>                                                           
                                                <li class="mega-title">
                                                    <span>Shop by Shape</span>
                                                    <ul>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Princess.svg" style="width:30px;"> Princess</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Round.svg" style="width:30px;"> Round</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Radiant.svg" style="width:30px;"> Radiant-Cut</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Emerald.svg" style="width:30px;"> Emerald</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Oval.svg" style="width:30px;"> Oval</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-title">
                                                    <span></span>
                                                    <ul>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Cushion.svg" style="width:30px;"> CushionLong</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Heart.svg" style="width:30px;"> Heart</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Marquise.svg" style="width:30px;"> Marquise</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Square Emerald.svg" style="width:30px;"> Sq.Emerald</a></li>
                                                        <li><a href="#"><img src="~/assets/img/diamond-svg/Asscher.svg" style="width:30px;"> Asscher</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-title">
                                                    <span>Shop by Metal</span>
                                                    <ul>
                                                        <li><a href="#"><img src="~/assets/img/icon/yellow-gold-new.svg" style="width:30px;" /> Yellow Gold</a></li>
                                                        <li><a href="#"><img src="~/assets/img/icon/white-gold-new.svg" style="width:30px;" /> White Gold</a></li>
                                                        <li><a href="#"><img src="~/assets/img/icon/rose-gold-new.svg" style="width:30px;" /> Rose Gold</a></li>
                                                        <li><a href="#"><img src="~/assets/img/icon/platinum-new.svg" style="width:30px;" /> Platinum</a></li>
                                                    </ul>
                                                </li>

                                                <li class="mega-title">
                                                    <span></span>
                                                    <ul>
                                                        <li><a href="#"><img src="~/assets/img/Menu-Image.jpg" alt="" /></a></li>
                                                        <li><a href="#"><img src="~/assets/img/Menu-Image1.jpg" alt="" /></a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>
                                        <li class="position-static">
                                            <a href="@Url.Action("Index","Products")">Jewelry </a>
                                            <ul class="megamenu dropdown jewelry-mega-menu-display">
                                                <li class="mega-title">
                                                    <span>Rings</span>
                                                    <ul>
                                                        <li><a href="#">Fashion</a></li>
                                                        <li><a href="#">Gemstone</a></li>
                                                        <li><a href="#">Gold</a></li>
                                                        <li><a href="#">High Jewelry</a></li>
                                                        <li><a href="#">Customer Favorites</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-title">
                                                    <span>Earrings</span>
                                                    <ul>
                                                        <li><a href="#">Studs</a></li>
                                                        <li><a href="#">Hoops</a></li>
                                                        <li><a href="#">Fashion</a></li>
                                                        <li><a href="#">Jackets</a></li>
                                                        <li><a href="#">Gemstone</a></li>
                                                        <li><a href="#">Gold</a></li>
                                                        <li><a href="#">High Jewelry</a></li>
                                                        <li><a href="#">Customer Favorites</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-title">
                                                    <span>Necklaces</span>
                                                    <ul>
                                                        <li><a href="#">Tennis</a></li>
                                                        <li><a href="#">Pendants</a></li>
                                                        <li><a href="#">Fashion</a></li>
                                                        <li><a href="#">Gemstone</a></li>
                                                        <li><a href="#">Gold</a></li>
                                                        <li><a href="#">High Jewelry</a></li>
                                                        <li><a href="#">Customer Favorites</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-title">
                                                    <span>Bracelets</span>
                                                    <ul>
                                                        <li><a href="#">Tennis</a></li>
                                                        <li><a href="#">Fashion</a></li>
                                                        <li><a href="#">Bangles</a></li>
                                                        <li><a href="#">Anklets</a></li>
                                                        <li><a href="#">Gemstone</a></li>
                                                        <li><a href="#">Gold</a></li>
                                                        <li><a href="#">High Jewelry</a></li>
                                                        <li><a href="#">Customer Favorites</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-title">
                                                    <span>Men's</span>
                                                    <ul>
                                                        <li><a href="#">Rings</a></li>
                                                        <li><a href="#">Earrings</a></li>
                                                        <li><a href="#">Necklaces</a></li>
                                                        <li><a href="#">Bracelets</a></li>
                                                        <li><a href="#">Cufflinks</a></li>
                                                    </ul>
                                                </li>
                                                <li class="megamenu-banners">
                                                    <a href="#">
                                                      
                                                        <video autoplay="autoplay" loop="loop" muted="muted" playsinline preload="auto" style="width:170px;height:250px;">
                                                            <source src="~/assets/img/video/diamonds-jewellery.mp4" type="video/mp4" />
                                                        </video>
                                                    </a>
                                                </li>
                                            </ul>

                                        </li>
                                        <li class="position-static">
                                            <a href="@Url.Action("Index","Diamond")">Diamond </a>
                                            <ul class="megamenu dropdown">
                                                <li class="mega-title">
                                                    <span>Shop by Shape</span>
                                                    <ul>
                                                        <li><a href="@Url.Action("Index","Diamond",new { shape="Princess"})"><img src="~/assets/img/diamond-svg/Princess.svg" style="width:30px;"> Princess</a></li>
                                                        <li><a href="@Url.Action("Index","Diamond",new { shape="Round"})"><img src="~/assets/img/diamond-svg/Round.svg" style="width:30px;"> Round</a></li>
                                                        <li><a href="@Url.Action("Index","Diamond",new { shape="Radiant-Cut"})"><img src="~/assets/img/diamond-svg/Radiant.svg" style="width:30px;"> Radiant-Cut</a></li>
                                                        <li><a href="@Url.Action("Index","Diamond",new { shape="Emerald"})"><img src="~/assets/img/diamond-svg/Emerald.svg" style="width:30px;"> Emerald</a></li>
                                                        <li><a href="@Url.Action("Index","Diamond",new { shape="Oval"})"><img src="~/assets/img/diamond-svg/Oval.svg" style="width:30px;"> Oval</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-title">
                                                    <span></span>
                                                    <ul>
                                                        <li><a href="@Url.Action("Index","Diamond",new { shape="Cushion"})"><img src="~/assets/img/diamond-svg/Cushion.svg" style="width:30px;"> CushionLong</a></li>
                                                        <li><a href="@Url.Action("Index","Diamond",new { shape="Heart"})"><img src="~/assets/img/diamond-svg/Heart.svg" style="width:30px;"> Heart</a></li>
                                                        <li><a href="@Url.Action("Index","Diamond",new { shape="Marquise"})"><img src="~/assets/img/diamond-svg/Marquise.svg" style="width:30px;"> Marquise</a></li>
                                                        <li><a href="@Url.Action("Index","Diamond",new { shape="SquareEmerald"})"><img src="~/assets/img/diamond-svg/Square Emerald.svg" style="width:30px;"> Sq.Emerald</a></li>
                                                        <li><a href="@Url.Action("Index","Diamond",new { shape="Asscher"})"><img src="~/assets/img/diamond-svg/Asscher.svg" style="width:30px;"> Asscher</a></li>
                                                    </ul>
                                                </li>
                                                <li class="megamenu-banners d-none d-lg-block">
                                                    <a href="#">
                                                        <img src="~/assets/img/Menu-Image3.jpg" alt="" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Custom</a></li>
                                        <li>
                                            <a href="#">Collection </a>
                                        </li>
                                        <li><a href="#">Education</a></li>
                                    </ul>
                                </nav>
                                <!-- main menu navbar end -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3">
                        <div class="header-configure-area">
                            <ul class="nav">
                                <li class="user-hover">
                                    <a href="@Url.Action("Index","Account")">
                                        <i class="pe-7s-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Wishlist")">
                                        <i class="pe-7s-like"></i>
                                        <div class="notification" id="wishlistCounter">0</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="minicart-btn">
                                        <i class="pe-7s-cart"></i>
                                        <div class="notification">0</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="pe-7s-phone"></i>
                                    </a>
                                </li>
                                <li class="header-search-container mr-0">
                                    <button class="search-trigger d-block"><i class="pe-7s-search"></i></button>
                                    <form class="header-search-box d-none">
                                        <input type="text" placeholder="Search entire store hire" class="header-search-field">
                                        <button class="header-search-btn"><i class="pe-7s-search"></i></button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-header d-lg-none d-md-block sticky">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="mobile-main-header">
                        <div class="mobile-logo">
                            <a href="@Url.Action("Index","Home")">
                                <img src="~/assets/img/logo/Jewelfacets_Logos_Blue.png" alt="Jewel Facets">
                            </a>
                        </div>
                        <div class="mobile-menu-toggler">
                            <div class="mini-cart-wrap">
                                <a href="#">
                                    <i class="pe-7s-shopbag"></i>
                                    <div class="notification">0</div>
                                </a>
                            </div>
                            <button class="mobile-menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="off-canvas-wrapper">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="btn-close-off-canvas">
                <i class="pe-7s-close"></i>
            </div>

            <div class="off-canvas-inner">
                <div class="search-box-offcanvas">
                    <form>
                        <input type="text" placeholder="Search Here...">
                        <button class="search-btn"><i class="pe-7s-search"></i></button>
                    </form>
                </div>
                <div class="mobile-navigation">
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children">
                                <a href="@Url.Action("Index","ProductPrograms",new {type="Solitaire"})">Engagement</a>
                                <ul class="megamenu dropdown">
                                    <li class="mega-title menu-item-has-children">
                                        <a href="#">Shop by Style</a>
                                        <ul class="dropdown">
                                            <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="Solitaire"})">Solitaire</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="SideStone"})">Side Stone</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="Halo"})">Halo</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="ThreeStone"})">Three Stone</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="HiddenHalo"})">Hidden Halo</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="Vintage"})">Vintage</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="BridalSets"})">Bridal Sets</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="Gemstone"})">Gemstone</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="BadgleyMischka"})"> Badgley Mischka</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type="CustomerFavorites"})">Customer Favorites</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-title menu-item-has-children">
                                        <a href="#">Shop by Shape</a>
                                        <ul class="dropdown">
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Princess.svg" style="width:30px;"> Princess</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Round.svg" style="width:30px;"> Round</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Radiant.svg" style="width:30px;"> Radiant-Cut</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Emerald.svg" style="width:30px;"> Emerald</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Oval.svg" style="width:30px;"> Oval</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Cushion.svg" style="width:30px;"> CushionLong</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Heart.svg" style="width:30px;"> Heart</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Marquise.svg" style="width:30px;"> Marquise</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Square Emerald.svg" style="width:30px;"> Sq.Emerald</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Asscher.svg" style="width:30px;"> Asscher</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-title menu-item-has-children">
                                        <a href="#">Shop by Metal</a>
                                        <ul class="dropdown">
                                            <li><a href="#"><img src="~/assets/img/icon/yellow-gold-new.svg" style="width:30px;" /> Yellow Gold</a></li>
                                            <li><a href="#"><img src="~/assets/img/icon/white-gold-new.svg" style="width:30px;" /> White Gold</a></li>
                                            <li><a href="#"><img src="~/assets/img/icon/rose-gold-new.svg" style="width:30px;" /> Rose Gold</a></li>
                                            <li><a href="#"><img src="~/assets/img/icon/platinum-new.svg" style="width:30px;" /> Platinum</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="@Url.Action("Index","ProductPrograms",new {type="Bands"})">Wedding</a>
                                <ul class="megamenu dropdown">
                                    <li class="mega-title menu-item-has-children">
                                        <a href="#">Shop by Style</a>
                                        <ul class="dropdown">
                                            <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="WeddingAndAnniversary"})">Wedding and Anniversary</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="Eternity"})">Eternity</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="3/4 Eternity"})">3/4 Eternity</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="Enhancers"})">Enhancers</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="Curve Bands"})">Curve Bands</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="Open Bands"})">Open Bands</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="DesignYourStack"})">Design Your Stack</a></li>
                                            <li><a href="@Url.Action("Index","ProductPrograms",new { programName="Wedding",type="CustomerFavorites"})">Customer Favorites</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-title menu-item-has-children">
                                        <a href="#">Shop by Shape</a>
                                        <ul class="dropdown">
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Princess.svg" style="width:30px;"> Princess</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Round.svg" style="width:30px;"> Round</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Radiant.svg" style="width:30px;"> Radiant-Cut</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Emerald.svg" style="width:30px;"> Emerald</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Oval.svg" style="width:30px;"> Oval</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Cushion.svg" style="width:30px;"> CushionLong</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Heart.svg" style="width:30px;"> Heart</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Marquise.svg" style="width:30px;"> Marquise</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Square Emerald.svg" style="width:30px;"> Sq.Emerald</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Asscher.svg" style="width:30px;"> Asscher</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-title menu-item-has-children">
                                        <a href="#">Shop by Metal</a>
                                        <ul class="dropdown">
                                            <li><a href="#"><img src="~/assets/img/icon/yellow-gold-new.svg" style="width:30px;" /> Yellow Gold</a></li>
                                            <li><a href="#"><img src="~/assets/img/icon/white-gold-new.svg" style="width:30px;" /> White Gold</a></li>
                                            <li><a href="#"><img src="~/assets/img/icon/rose-gold-new.svg" style="width:30px;" /> Rose Gold</a></li>
                                            <li><a href="#"><img src="~/assets/img/icon/platinum-new.svg" style="width:30px;" /> Platinum</a></li>
                                        </ul>
                                    </li>
                                    @* <li>
                                        <a href="#">
                                            <img src="~/assets/img/banner/img1-static-menu.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/img/banner/img2-static-menu.jpg" alt="">
                                        </a>
                                    </li> *@
                                </ul>
                            </li>
                            <li class="menu-item-has-children ">
                                <a href="@Url.Action("Index","Products")">Jewelry</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children">
                                        <a href="#">Rings</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Fashion</a></li>
                                            <li><a href="#">Gemstone</a></li>
                                            <li><a href="#">Gold</a></li>
                                            <li><a href="#">High Jewelry</a></li>
                                            <li><a href="#">Customer Favorites</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Earrings</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Studs</a></li>
                                            <li><a href="#">Hoops</a></li>
                                            <li><a href="#">Fashion</a></li>
                                            <li><a href="#">Jackets</a></li>
                                            <li><a href="#">Gemstone</a></li>
                                            <li><a href="#">Gold</a></li>
                                            <li><a href="#">High Jewelry</a></li>
                                            <li><a href="#">Customer Favorites</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Necklaces</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Tennis</a></li>
                                            <li><a href="#">Pendants</a></li>
                                            <li><a href="#">Fashion</a></li>
                                            <li><a href="#">Gemstone</a></li>
                                            <li><a href="#">Gold</a></li>
                                            <li><a href="#">High Jewelry</a></li>
                                            <li><a href="#">Customer Favorites</a></li>
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="#">Bracelets</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Tennis</a></li>
                                            <li><a href="#">Fashion</a></li>
                                            <li><a href="#">Bangles</a></li>
                                            <li><a href="#">Anklets</a></li>
                                            <li><a href="#">Gemstone</a></li>
                                            <li><a href="#">Gold</a></li>
                                            <li><a href="#">High Jewelry</a></li>
                                            <li><a href="#">Customer Favorites</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Men's</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Rings</a></li>
                                            <li><a href="#">Earrings</a></li>
                                            <li><a href="#">Necklaces</a></li>
                                            <li><a href="#">Bracelets</a></li>
                                            <li><a href="#">Cufflinks</a></li>
                                        </ul>
                                    </li>
                                    @* <li>
                                        <a href="#">
                                            <img src="~/assets/img/banner/ring-banner.jpeg" alt="" />
                                        </a>
                                    </li> *@
                                </ul>
                            </li>
                            <li class="menu-item-has-children ">
                                <a href="@Url.Action("Index","Diamond")">Diamond</a>
                                <ul class="megamenu dropdown">
                                    <li class="mega-title menu-item-has-children">
                                        <a href="#">Shop by Shape</a>
                                        <ul class="dropdown">
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Princess.svg" style="width:30px;"> Princess</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Round.svg" style="width:30px;"> Round</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Radiant.svg" style="width:30px;"> Radiant-Cut</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Emerald.svg" style="width:30px;"> Emerald</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Oval.svg" style="width:30px;"> Oval</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Cushion.svg" style="width:30px;"> CushionLong</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Heart.svg" style="width:30px;"> Heart</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Marquise.svg" style="width:30px;"> Marquise</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Square Emerald.svg" style="width:30px;"> Sq.Emerald</a></li>
                                            <li><a href="#"><img src="~/assets/img/diamond-svg/Asscher.svg" style="width:30px;"> Asscher</a></li>
                                        </ul>
                                    </li>
                                    @* <li>
                                        <a href="#">
                                            <img src="~/assets/img/banner/img1-static-menu.jpg" alt="">
                                        </a>
                                    </li> *@
                                </ul>
                            </li>
                            <li><a href="#">Custom</a></li>
                            <li class="menu-item-has-children">
                                <a href="#">Collections</a>
                            </li>
                            <li><a href="#">Education</a></li>
                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->

                <div class="mobile-settings">
                    <ul class="nav">
                        <li>
                            <div class="dropdown mobile-top-dropdown">
                                <a href="#" class="dropdown-toggle" id="currency" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Currency

                                </a>
                                <div class="dropdown-menu" aria-labelledby="currency">
                                    <a class="dropdown-item" href="#">$ USD</a>
                                    <a class="dropdown-item" href="#">$ EURO</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown mobile-top-dropdown">
                                <a href="#" class="dropdown-toggle" id="myaccount" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    My Account

                                </a>
                                <div class="dropdown-menu" aria-labelledby="myaccount">
                                    <a class="dropdown-item" href="#">my account</a>
                                    <a class="dropdown-item" href="#"> login</a>
                                    <a class="dropdown-item" href="#">register</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- offcanvas widget area start -->
               @*  <div class="offcanvas-widget-area">
                    <div class="off-canvas-contact-widget">
                        <ul>
                            <li>
                                <i class="fa fa-mobile"></i>
                                <a href="#">0123456789</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <a href="#">info@yourdomain.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="off-canvas-social-widget">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div> *@
                <!-- offcanvas widget area end -->
            </div>
        </div>
    </aside>
</header>