@model List<Models.DiamondFileUploadHistoryDTO>
<section class="section">

    <table class="table table-hover table-bordered mb-0 table-responsive" id="bandTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">No Of Success</th>
                <th scope="col">No Of Fail</th>
                <th scope="col">Vender</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a href="@Url.Action("GetFileUploadHistory","Diamond")">Show</a></td>
                        <td>@item.UploadedDate</td>
                        <td>@item.Title</td>
                        <td>@item.NoOfSuccess</td>
                        <td>@item.NoOfFailed</td>
                        <td>@item.UploadedPersonName</td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="25"> No data found</td>
                </tr>
            }
        </tbody>
    </table>
</section>