@using Common
@{
    <link href="~/jqxcontent/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <link href="~/jqxcontent/jqwidgets/styles/jqx.fluent.css" rel="stylesheet" />

    <style>
        span[id^="jqxWidget"] {
            color: transparent !important;
        }
    </style>
    <style>
        .loader-container {
            display: none;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

            .loader-container.active {
                display: flex;
            }

        /* Optional: fade out form content during loading */
        #formContent.loading {
            opacity: 0.5;
            pointer-events: none;
        }
    </style>

}
<div class="container-fluid">
    <div class="row mb-0">
        <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-9 col-sm-8">
            <h4 class=""><b>View your online Diamond Inventory</b> <span class="ml-2 badge badge-light blinkingTextRed">Live</span></h4>
        </div>
        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-4">
            <button class="btn btn-theme float-end" id="ExcelUpload" title="Upload diamonds with excel upload."><i class="bi bi-plus-circle me-1"></i> Add Products</button>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body">
            <div class="row mt-2">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="btn-group dropup float-end">
                        <a class="" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <input type="hidden" id="txtProductIds" />
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" data-status="@SD.DeActived">Deactivated</a></li>
                            <li><a class="dropdown-item" href="#" data-status="@SD.Hold">Hold</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div id="divDetails">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="showFileUpload" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="uploadForm" asp-controller="Diamond" asp-action="UpsertDiamonds" method="post" enctype="multipart/form-data">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Excel</h5>
                    <button type="button" class="btn-close btn-danger btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="uploadMessage"></div>

                    <div class="mb-3">
                        <label for="excelFile" class="form-label">Select Excel or CSV File</label>
                        <input type="file" class="form-control" id="excelFile" name="file" accept=".xls,.xlsx,.csv" required>
                    </div>
                    <!-- Loader -->
                    <div id="formLoader" class="loader-container">
                        <img src="~/assets/Loader/JF-WEB-LOADER.gif" style="width:120px;" />
                    </div>
                    <div>
                        <h6>Note:</h6>
                        <p>
                            We accept CSV and Excel files for bulk diamond uploads.<br>
                            Download sample format: <a href="~/FileFormats/DiamondFormat.xlsx">Download</a>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button id="uploadBtn" type="submit" class="btn btn-theme">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade m-2" id="showHistory" tabindex="-1" data-bs-backdrop="false">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white">History Data</h5>
                <button type="button" class="btn-close text-white" style="color:black !important;background:white !important" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 p-1">
                            <div id="divHistoryDetails">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts
{
    @* JQX Widgets *@
    <script src="~/jqxcontent/jqwidgets/jqxcore.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxdata.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxcore.elements.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxdata.export.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxbuttons.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxscrollbar.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxmenu.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxcheckbox.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxlistbox.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxdropdownlist.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxgrid.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxgrid.sort.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxgrid.pager.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxgrid.selection.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxgrid.edit.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxgrid.filter.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxgrid.columnsresize.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxgrid.aggregates.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxpanel.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxgrid.columnsreorder.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxtextarea.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxinput.js"></script>
    <script src="~/jqxcontent/jqwidgets/jqxgrid.grouping.js"></script>

    @* JQX Widgets *@
    <script>
    var resultData = [];
    var resultHistoryData = [];
        var source;
        $(document).ready(function () {

            loadData();

            $("#ExcelUpload").on("click", function () {
                $("#showFileUpload").modal("show");
            });

           $('#uploadForm').on('submit', function (e) {
                e.preventDefault();

                let form = $(this)[0];
                let formData = new FormData(form);

                $('#uploadBtn').prop('disabled', true).text('Uploading...');
               const loader = document.getElementById('formLoader');
               loader.classList.add('active');
                $.ajax({
                    url: form.action,
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        debugger;
                        $('.loader').hide();
                        $('#uploadBtn').prop('disabled', false).text('Upload');
                        if (response.status=="success") {
                            // Show success alert
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: response.message,
                            confirmButtonColor: '#3085d6',
                        }).then(() => {
                            setTimeout(() => {
                                loader.classList.remove('active');
                                formContent.classList.remove('loading');
                            }, 600);
                            window.location.href = '@Url.Action("ThankYouForUploaded", "Diamond")';
                        });

                        toastr.success(response.message);
                        } else {
                            Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: response.message,
                        }).then(() => {
                        });
                        }

                    },
                    error: function (xhr) {
                        $('.loader').hide();
                        $('#uploadBtn').prop('disabled', false).text('Upload');

                        let errorMsg = 'Something went wrong. Please try again.';
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            errorMsg = xhr.responseJSON.message;
                        }

                        Swal.fire({
                            icon: 'error',
                            title: 'Upload Failed',
                            text: errorMsg,
                            confirmButtonColor: '#d33',
                        });

                        toastr.error(errorMsg);
                    }
                });
            });


             $('#divDetails').on('filter', function (event) {
                var filteredData = $('#divDetails').jqxGrid('getrows');
                updateFilterItems(filteredData);
             });

            $("#divDetails").on("cellclick", function (event) {

                // event arguments.
                var args = event.args;
                // row's bound index.
                var rowBoundIndex = args.rowindex;
                // row's visible index.
                var rowVisibleIndex = args.visibleindex;

                var dataField = args.datafield;
                var clsname = args.column.classname;

                var targetclass = args.originalEvent.target.classList[1];

                if (dataField == 'action') {
                    let data = $("#divDetails").jqxGrid('getrowdata', rowBoundIndex);
                    window.location.href = `@Url.Action("GetDiamond", "Diamond")?diamondId=${data.Id}`;
                }
                if (dataField == 'StoneId') {
                    let data = $("#divDetails").jqxGrid('getrowdata', rowBoundIndex);
                    loadHistoryData(data.StoneId)
                }


            });

            $('#divHistoryDetails').on('filter', function (event) {
                var filteredData = $('#divHistoryDetails').jqxGrid('getrows');
                updateHistoryFilterItems(filteredData);
            });


            $('.dropdown-item').on('click', function (e) {
                            e.preventDefault();
                            var addItems=[];

                            const newStatus = $(this).data('status');

                            const rowindexes = $('#divDetails').jqxGrid('getselectedrowindexes');
                            let obj = {};
                            for (let i = 0; i < rowindexes.length; i++) {
                                obj = $('#divDetails').jqxGrid('getrowdata', rowindexes[i]);
                                addItems.push( obj.StoneId
                                );
                            }

                            if (addItems.length == 0) {
                                swal({
                                    title: "Error",
                                    text: "Select at least one Record",
                                    icon: "error"
                                }).then(function () {
                                    swal.close();
                                });
                                return false;
                            }

                            Swal.fire({
                                title: 'Are you sure?',
                                text: `Do Want to change status for Product? Product Status : "${newStatus}".`,
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, update it!',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (!result.isConfirmed) return;
                                 @*@Html.Partial("_Loading")*@


                                $.ajax({
                                    url: '@Url.Action("ChangeStatus", "Diamond")',
                                    method: 'POST',
                                    //data: {
                                    //    stoneIds: addItems,
                                    //    status: newStatus
                                    //},
                                    contentType: 'application/json',
                                    data: JSON.stringify({ stoneIds: addItems, status: newStatus }),
                                    processData: false,
                                    success: function (response) {
                                        if (response.success) {
                                            Swal.fire({
                                                icon: 'success',
                                                title: 'Success',
                                                text: response.message
                                            }).then(() => location.reload());
                                        } else {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Error',
                                                text: response.message
                                            });
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Update Failed',
                                            text: 'An error occurred while updating the product status.',
                                        });
                                        console.error('AJAX Error:', { status, error, xhr });
                                    }
                                });
                            });
                        });

        });

        // function loadData() {
        //     resultData = [];
        //     $('#divDetails').jqxGrid('clear');

        //     $.ajax({
        //         type: "get",
        //         url: "@Url.Action("getDiamondList", "Diamond")",
        //         dataType: "json",
        //         data:{
        //             'uploadStatus':'Active',
        //             'isActive':'1',
        //         },
        //         success: function (d) {
        //             if (d.data.result.length > 0) {
        //                 resultData = JSON.parse(d.data.result);
        //                 source =
        //                 {
        //                     localdata: resultData,
        //                     datatype: "array"
        //                 };
        //                 var dataAdapter = new $.jqx.dataAdapter(source, {
        //                     loadComplete: function (data) { },
        //                     loadError: function (xhr, status, error) { }
        //                 });
        //                 var blackstyle = {
        //                     headerBackgroundColor: '#151542',
        //                     headerColor: '#fff',
        //                 };

        //                 var videolink = function (row, column, value) {
        //                     return '<div style="margin:4px;"><a href="' + value + '" target="_blank"><i class="bi bi-gem" style="font-size:20px;margin:2px 5px;"></i>View 360</a></div>';
        //                 };

        //                 var Certilink = function (row, column, value) {
        //                     return '<div style="margin:4px;"><a href="' + value + '" target="_blank"><i class="bi bi-file-earmark" style="font-size:20px;margin:2px 15px;"></i></a></div>';
        //                 };

        //                 //var Dnalink = function (row, column, value) {
        //                 //    return '<div style="margin:4px;"><a href="' + value + '" target="_blank">Click Here</a></div>';
        //                 //};

        //                 var action = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
        //                     return '<button title="" class="btn btn-dark btn-sm" style="margin:1px 15px;"><i class="bi bi-layout-text-window-reverse"></i></button>';
        //                 };

        //                 $("#divDetails").jqxGrid(
        //                 {
        //                     width: "100%",
        //                     source: dataAdapter,
        //                     height: '700px',
        //                     selectionmode: 'checkbox',
        //                     columnsresize: true,
        //                     columnsreorder: true,
        //                     sortable: true,
        //                     altrows: true,
        //                     enabletooltips: true,
        //                     enablebrowserselection: true,
        //                     filterable: true,
        //                     editable: false,
        //                     showstatusbar: true,
        //                     statusbarheight: 25,
        //                     showaggregates: false,
        //                     rowsheight: 30,
        //                     columns: [
        //                         {
        //                             text: '#', sortable: false, filterable: false, editable: false,
        //                             groupable: false, draggable: false, resizable: false,
        //                             datafield: '', columntype: 'number', pinned: true, style: blackstyle,
        //                             align: 'center', cellsalign: 'center', width: 40,
        //                             cellsrenderer: function (row, column, value) {
        //                                 return "<div style='margin:4px;'>" + (value + 1) + "</div>";
        //                             }
        //                         },
        //                         {
        //                                 text: 'Action',
        //                                 datafield: 'action',
        //                                 sortable: false, filterable: false, editable: false,
        //                                 groupable: false, draggable: false, resizable: false,
        //                                 columntype: 'number',pinned: true,
        //                                 style: blackstyle,
        //                                 align: 'center', cellsalign: 'center',
        //                                 cellsrenderer: action,
        //                                 width: 60
        //                         },
        //                         { text: 'Stone ID', pinned: true, datafield: 'StoneId', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
        //                         { text: 'Video', pinned: true, datafield: 'DiamondVideoPath', cellsrenderer: videolink, style: blackstyle, width: 90, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
        //                         { text: 'Certi', pinned: true, datafield: 'Certificate',cellsrenderer: Certilink, style: blackstyle, width: 60, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
        //                         //{ text: 'DNA', datafield: 'DNA',cellsrenderer: Dnalink, style: blackstyle, width: 90, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
        //                         { text: 'Step',datafield: 'Step', style: blackstyle, width: 100, align: 'center', cellsalign: 'left' },
        //                         { text: 'Type',datafield: 'TypeName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
        //                         { text: 'Lab',datafield: 'LabName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
        //                         { text: 'Shape',datafield: 'ShapeName', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
        //                         { text: 'Carat',datafield: 'Carat', style: blackstyle, width: 100, align: 'center', cellsalign: 'center' },
        //                         { text: 'Color',datafield: 'ColorName', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
        //                         { text: 'Clarity',datafield: 'ClarityName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
        //                         { text: 'Cut',datafield: 'CutName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
        //                         { text: 'Polish',datafield: 'PolishName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
        //                         { text: 'Sym',datafield: 'SymmetyName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
        //                         { text: 'Flo',datafield: 'FluorName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
        //                         {
        //                             text: 'Rap.($)',datafield: 'RAP', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2'

        //                         },
        //                         { text: 'Disc(%)',datafield: 'Discount', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2' },
        //                         { text: 'Price',datafield: 'Price', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2' },
        //                         { text: 'Amount',datafield: 'Amount', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2' },
        //                         { text: 'Measurement',datafield: 'Measurement', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
        //                         { text: 'Ratio',datafield: 'Ratio', style: blackstyle, width: 100, align: 'center', cellsalign: 'center' },
        //                         { text: 'Depth%',datafield: 'Depth', style: blackstyle, width: 100, align: 'center', cellsalign: 'center' },
        //                         { text: 'Table%',datafield: 'Table', style: blackstyle, width: 100, align: 'center', cellsalign: 'center' },
        //                         { text: 'Shade',datafield: 'Shade', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
        //                         { text: 'Lab Shape',datafield: 'LabShape', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
        //                         { text: 'Rap Amount',datafield: 'RapAmount', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2' },


        //                         { text: 'Id',datafield: 'Id',hidden:true, style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
        //                         { text: 'IsActivated',datafield: 'IsActivated',hidden:true, style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },

        //                     ],
        //                 });
        //             }
        //         }
        //     });
        // }

        function loadData() {
            resultData = [];
            $('#divDetails').jqxGrid('clear');

            $.ajax({
                type: "get",
                url: "@Url.Action("getDiamondList", "Diamond")",
                dataType: "json",
                data:{
                    'uploadStatus':'Active',
                    'isActive':true,
                },
                success: function (d) {
                    if (d.data.result.length > 0) {
                        resultData = JSON.parse(d.data.result);
                        source =
                        {
                            localdata: resultData,
                            datatype: "array"
                        };
                        var dataAdapter = new $.jqx.dataAdapter(source, {
                            loadComplete: function (data) { },
                            loadError: function (xhr, status, error) { }
                        });
                        var blackstyle = {
                            headerBackgroundColor: '#151542',
                            headerColor: '#fff',
                        };

                        var videolink = function (row, column, value) {
                            return '<div style="margin:4px;"><a href="' + value + '" target="_blank"><i class="bi bi-gem" style="font-size:20px;margin:2px 5px;"></i>View 360</a></div>';
                        };

                        var Certilink = function (row, column, value) {
                            return '<div style="margin:4px;"><a href="' + value + '" target="_blank"><i class="bi bi-file-earmark" style="font-size:20px;margin:2px 15px;"></i></a></div>';
                        };

                        //var Dnalink = function (row, column, value) {
                        //    return '<div style="margin:4px;"><a href="' + value + '" target="_blank">Click Here</a></div>';
                        //};

                        var action = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                            return '<button title="" class="btn btn-dark btn-sm" style="margin:1px 15px;"><i class="bi bi-layout-text-window-reverse"></i></button>';
                        };

                        $("#divDetails").jqxGrid(
                        {
                            width: "100%",
                            source: dataAdapter,
                            height: '700px',
                           selectionmode: 'checkbox',
                            columnsresize: true,
                            columnsreorder: true,
                            sortable: true,
                            altrows: true,
                            enabletooltips: true,
                            enablebrowserselection: true,
                            filterable: true,
                            editable: false,
                            showstatusbar: true,
                            statusbarheight: 25,
                            showaggregates: false,
                            rowsheight: 35,
                            columns: [
                                {
                                    text: '#', sortable: false, filterable: false, editable: false,
                                    groupable: false, draggable: false, resizable: false,
                                    datafield: '', columntype: 'number', pinned: true, style: blackstyle,
                                    align: 'center', cellsalign: 'center', width: 40,
                                    cellsrenderer: function (row, column, value) {
                                        return "<div style='margin:4px;'>" + (value + 1) + "</div>";
                                    }
                                },
                                {
                                        text: 'Action',
                                        datafield: 'action',
                                        sortable: false, filterable: false, editable: false,
                                        groupable: false, draggable: false, resizable: false,
                                        columntype: 'number',pinned: true,
                                        style: blackstyle,
                                        align: 'center', cellsalign: 'center',
                                        cellsrenderer: action,
                                        width: 60
                                },
                                { text: 'Stone ID', pinned: true, datafield: 'StoneId', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Video', pinned: true, datafield: 'DiamondVideoPath', cellsrenderer: videolink, style: blackstyle, width: 90, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Certi', pinned: true, datafield: 'Certificate',cellsrenderer: Certilink, style: blackstyle, width: 60, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Status', pinned: true, datafield: 'UploadStatus', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                //{ text: 'DNA', datafield: 'DNA',cellsrenderer: Dnalink, style: blackstyle, width: 90, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Step',datafield: 'Step', style: blackstyle, width: 100, align: 'center', cellsalign: 'left' },
                                { text: 'Type',datafield: 'TypeName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Lab',datafield: 'LabName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Shape',datafield: 'ShapeName', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Carat',datafield: 'Carat', style: blackstyle, width: 100, align: 'center', cellsalign: 'center' },
                                { text: 'Color',datafield: 'ColorName', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Clarity',datafield: 'ClarityName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Cut',datafield: 'CutName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Polish',datafield: 'PolishName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Sym',datafield: 'SymmetyName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Flo',datafield: 'FluorName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                {
                                    text: 'Rap.($)',datafield: 'RAP', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2'

                                },
                                { text: 'Disc(%)',datafield: 'Discount', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2' },
                                { text: 'Price',datafield: 'Price', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2' },
                                { text: 'Amount',datafield: 'Amount', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2' },
                                { text: 'Measurement',datafield: 'Measurement', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Ratio',datafield: 'Ratio', style: blackstyle, width: 100, align: 'center', cellsalign: 'center' },
                                { text: 'Depth%',datafield: 'Depth', style: blackstyle, width: 100, align: 'center', cellsalign: 'center' },
                                { text: 'Table%',datafield: 'Table', style: blackstyle, width: 100, align: 'center', cellsalign: 'center' },
                                { text: 'Shade',datafield: 'Shade', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Lab Shape',datafield: 'LabShape', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Rap Amount',datafield: 'RapAmount', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2' },
                                { text: 'User', datafield: 'UploadedBy', style: blackstyle, width: 120, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Date', datafield: 'DispUpdatedDate', style: blackstyle, width: 120, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },


                                { text: 'Id',datafield: 'Id',hidden:true, style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'IsActivated',datafield: 'IsActivated',hidden:true, style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },

                            ],
                        });
                    }
                }
            });
        }

        function updateFilterItems(filteredData) {
            var columns = $('#divDetails').jqxGrid('columns').records;

            columns.forEach(column => {
                var columnName = column.datafield;

                var uniqueValues = [...new Set(filteredData.map(row => row[columnName] === null ? "" : row[columnName]))].filter(value => value !== undefined);

                var updatedFilterItems = uniqueValues.map(value => value.toString());

                if (updatedFilterItems.length > 0) {
                    $('#divDetails').jqxGrid('setcolumnproperty', columnName, 'filteritems', updatedFilterItems);
                }
                else
                {
                    $('#divDetails').jqxGrid('setcolumnproperty', columnName, 'filteritems', []);
                }
            });
        }

        function loadHistoryData(id) {
            resultHistoryData = [];
            $('#divHistoryDetails').jqxGrid('clear');
            $("#showHistory").modal("hide");
            $.ajax({
                type: "get",
                url: "@Url.Action("GetDiamondHistoryById", "Diamond")",
                dataType: "json",
                data:{
                    'diamondId':id,
                },
                success: function (d) {
                    if (d.data.result.length > 0) {
                        $("#showHistory").modal("show");

                        resultHistoryData = JSON.parse(d.data.result);
                        source =
                        {
                            localdata: resultHistoryData,
                            datatype: "array"
                        };
                        var dataAdapter = new $.jqx.dataAdapter(source, {
                            loadComplete: function (data) { },
                            loadError: function (xhr, status, error) { }
                        });
                        var blackstyle = {
                            headerBackgroundColor: '#151542',
                            headerColor: '#fff',
                        };

                        var videolink = function (row, column, value) {
                            return '<div style="margin:4px;"><a href="' + value + '" target="_blank"><i class="bi bi-gem" style="font-size:20px;margin:2px 5px;"></i>View 360</a></div>';
                        };

                        var Certilink = function (row, column, value) {
                            return '<div style="margin:4px;"><a href="' + value + '" target="_blank"><i class="bi bi-file-earmark" style="font-size:20px;margin:2px 15px;"></i></a></div>';
                        };

                        $("#divHistoryDetails").jqxGrid(
                        {
                            width: "100%",
                            source: dataAdapter,
                            height: '700px',
                            columnsresize: true,
                            columnsreorder: true,
                            sortable: true,
                            altrows: true,
                            enabletooltips: true,
                            enablebrowserselection: true,
                            filterable: true,
                            editable: false,
                            showstatusbar: true,
                            statusbarheight: 25,
                            showaggregates: false,
                            rowsheight: 35,
                            columns: [
                                {
                                    text: '#', sortable: false, filterable: false, editable: false,
                                    groupable: false, draggable: false, resizable: false,
                                    datafield: '', columntype: 'number', pinned: true, style: blackstyle,
                                    align: 'center', cellsalign: 'center', width: 40,
                                    cellsrenderer: function (row, column, value) {
                                        return "<div style='margin:4px;'>" + (value + 1) + "</div>";
                                    }
                                },
                                { text: 'Stone ID', pinned: true, datafield: 'StoneId', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Status', pinned: true, datafield: 'UploadStatus', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Step',datafield: 'Step', style: blackstyle, width: 100, align: 'center', cellsalign: 'left' },
                                { text: 'Type',datafield: 'TypeName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Lab',datafield: 'LabName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Shape',datafield: 'ShapeName', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Carat',datafield: 'Carat', style: blackstyle, width: 100, align: 'center', cellsalign: 'center' },
                                { text: 'Color',datafield: 'ColorName', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Clarity',datafield: 'ClarityName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Cut',datafield: 'CutName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Polish',datafield: 'PolishName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Sym',datafield: 'SymmetyName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Flo',datafield: 'FluorName', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                {
                                    text: 'Rap.($)',datafield: 'RAP', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2'

                                },
                                { text: 'Disc(%)',datafield: 'Discount', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2' },
                                { text: 'Price',datafield: 'Price', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2' },
                                { text: 'Amount',datafield: 'Amount', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2' },
                                { text: 'Measurement',datafield: 'Measurement', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Ratio',datafield: 'Ratio', style: blackstyle, width: 100, align: 'center', cellsalign: 'center' },
                                { text: 'Depth%',datafield: 'Depth', style: blackstyle, width: 100, align: 'center', cellsalign: 'center' },
                                { text: 'Table%',datafield: 'Table', style: blackstyle, width: 100, align: 'center', cellsalign: 'center' },
                                { text: 'Shade',datafield: 'Shade', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', filtertype: 'checkedlist' },
                                { text: 'Lab Shape',datafield: 'LabShape', style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Rap Amount',datafield: 'RapAmount', style: blackstyle, width: 100, align: 'center', cellsalign: 'center', cellsformat: 'f2' },
                                { text: 'User', datafield: 'UploadedBy', style: blackstyle, width: 120, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'Date', datafield: 'DispUpdatedDate', style: blackstyle, width: 120, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },


                                { text: 'Id',datafield: 'Id',hidden:true, style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },
                                { text: 'IsActivated',datafield: 'IsActivated',hidden:true, style: blackstyle, width: 100, align: 'center', cellsalign: 'left', filtertype: 'checkedlist' },

                            ],
                        });
                    }
                }
            });
    }

        function updateHistoryFilterItems(filteredData) {
            var columns = $('#divHistoryDetails').jqxGrid('columns').records;

            columns.forEach(column => {
                var columnName = column.datafield;

                var uniqueValues = [...new Set(filteredData.map(row => row[columnName] === null ? "" : row[columnName]))].filter(value => value !== undefined);

                var updatedFilterItems = uniqueValues.map(value => value.toString());

                if (updatedFilterItems.length > 0) {
                    $('#divHistoryDetails').jqxGrid('setcolumnproperty', columnName, 'filteritems', updatedFilterItems);
                }
                else {
                    $('#divHistoryDetails').jqxGrid('setcolumnproperty', columnName, 'filteritems', []);
                }
            });
        }
    </script>
}