@model Models.NavMenuDTO
@using Common;

@{
    var firstHalf = Model.ProductShapeList.Take(5).ToList();
    var secondHalf = Model.ProductShapeList.Skip(5).Take(5).ToList();

    var firstDHalf = Model.DiamondShapeList.Take(5).ToList();
    var secondDHalf = Model.DiamondShapeList.Skip(5).Take(5).ToList();

    var firstShapeHalf = Model.SubcategoryList.Take(5).ToList();
    var secondShapeHalf = Model.SubcategoryList.Skip(5).Take(5).ToList();

    var firstSubCatHalf = Model.SubcategoryList.Where(x => x.CategoryName == SD.Bands).Take(5).ToList();
    var secondSubCatHalf = Model.SubcategoryList.Where(x => x.CategoryName == SD.Bands).Skip(5).Take(5).ToList();
}


<ul>
    <li class="active position-static">
        <a href="@Url.Action("Index","Product")">Engagement</a>
        <ul class="megamenu dropdown">
            <li class="mega-title">
                <span>Shop by Style</span>
                <ul>
                    <li class="mega-title">
                        <ul>
                            @foreach (var item in firstShapeHalf)
                            {
                            <li>
                                <a href="@Url.Action("Index","Products",new {type="Engagement",styleId=item.Id})">
                                    <img src="@SD.ImgUrl/@item.StyleImage" style="width:40px;">
                                    @item.StyleName
                                </a>
                            </li>
                            }
                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <ul>
                    <li class="mega-title">
                        <span></span>
                        <ul>
                            @foreach (var item in secondShapeHalf)
                            {
                            <li>
                                <a href="@Url.Action("Index","Products",new {type="Engagement",styleName=item.Id})">
                                    <img src="@SD.ImgUrl/@item.StyleImage" style="width:40px;">
                                    @item.StyleName
                                </a>
                            </li>
                            }
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mega-title">
                <span>Shop by Shape</span>
                <ul>
                    @foreach (var item in firstHalf)
                    {
                    <li><a href="#"><img src="@SD.ImgUrl/@item.IconPath" style="width:40px;"> @item.Name</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span></span>
                <ul>
                    @if (Model != null && Model.ProductShapeList.Count() > 0)
                    {
                    @foreach (var item in secondHalf)
                        {
                    <li><a href="#"><img src="@SD.ImgUrl/@item.IconPath" style="width:40px;"> @item.Name</a></li>
                        }
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Shop by Metal</span>
                <ul>
                    <li><a href="#"><img src="~/assets/img/icon/yellow-gold-new.svg" style="width:30px;" /> Yellow Gold</a></li>
                    <li><a href="#"><img src="~/assets/img/icon/white-gold-new.svg" style="width:30px;" /> White Gold</a></li>
                    <li><a href="#"><img src="~/assets/img/icon/rose-gold-new.svg" style="width:30px;" /> Rose Gold</a></li>
                    <li><a href="#"><img src="~/assets/img/icon/platinum-new.svg" style="width:30px;" /> Platinum</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="position-static">
        <a href="@Url.Action("Index","Products",new {type="Bands"})">Wedding</a>
        <ul class="megamenu dropdown">
            <li class="mega-title">
                <span>Shop by Style</span>
                <ul>
                    @if (Model != null)
                    {
                        foreach (var item in Model.SubcategoryList.Where(x => x.IsActivated == true))
                        {
                    <li><a href="@Url.Action("Index","Products",new { type="Wedding",styleName=item.StyleName})">@item.StyleName</a></li>
                        }
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Shop by Shape</span>
                <ul>
                    @foreach (var item in firstHalf)
                    {
                    <li><a href="#"><img src="@SD.ImgUrl/@item.IconPath" style="width:40px;"> @item.Name</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span></span>
                <ul>
                    @foreach (var item in secondHalf)
                    {
                    <li><a href="#"><img src="@SD.ImgUrl/@item.IconPath" style="width:40px;"> @item.Name</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Shop by Metal</span>
                <ul>
                    <li><a href="#"><img src="~/assets/img/icon/yellow-gold-new.svg" style="width:30px;" /> Yellow Gold</a></li>
                    <li><a href="#"><img src="~/assets/img/icon/white-gold-new.svg" style="width:30px;" /> White Gold</a></li>
                    <li><a href="#"><img src="~/assets/img/icon/rose-gold-new.svg" style="width:30px;" /> Rose Gold</a></li>
                    <li><a href="#"><img src="~/assets/img/icon/platinum-new.svg" style="width:30px;" /> Platinum</a></li>
                </ul>
            </li>

            <li class="mega-title">
                <span></span>
                <ul>
                    <li><a href="#"><img src="~/assets/img/Menu-Image.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="~/assets/img/Menu-Image1.jpg" alt="" /></a></li>
                </ul>
            </li>

        </ul>
    </li>
    <li class="position-static">
        <a href="@Url.Action("Index","Products")">Jewelry </a>
        <ul class="megamenu dropdown jewelry-mega-menu-display">
            <li class="mega-title">
                <span>Rings</span>
                <ul>
                    @foreach (var item in Model.SubcategoryList.Where(x => x.CategoryName == SD.Rings))
                    {
                    <li><a href="#">@item.CategoryName</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Earrings</span>
                <ul>
                    @foreach (var item in Model.SubcategoryList.Where(x => x.CategoryName == SD.Earrings))
                    {
                    <li><a href="#">@item.StyleName</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Necklaces</span>
                <ul>
                    @foreach (var item in Model.SubcategoryList.Where(x => x.CategoryName == SD.Nackleces))
                    {
                    <li><a href="#">@item.StyleName</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Bracelets</span>
                <ul>
                    @foreach (var item in Model.SubcategoryList.Where(x => x.CategoryName == SD.Bracelets))
                    {
                    <li><a href="#">@item.StyleName</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Men's</span>
                <ul>
                    @foreach (var item in Model.CategoryList)
                    {
                    <li><a href="#">@item.Name</a></li>
                    }
                </ul>
            </li>
            <li class="megamenu-banners">
                <a href="#">

                    <video autoplay="autoplay" loop="loop" muted="muted" playsinline preload="auto" style="width:170px;height:250px;">
                        <source src="~/assets/img/video/diamonds-jewellery.mp4" type="video/mp4" />
                    </video>
                </a>
            </li>
        </ul>

    </li>
    <li class="position-static">
        <a href="@Url.Action("Index","Diamond")">Diamond </a>
        <ul class="megamenu dropdown">
            <li class="mega-title">
                <span>Shop by Shape</span>
                <ul>
                    @foreach (var item in firstDHalf)
                    {
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=item.Id})"><img src="@SD.ImgUrl/@item.IconPath" style="width:40px;"> @item.Name</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span></span>
                <ul>
                    @foreach (var item in secondDHalf)
                    {
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=item.Id})"><img src="@SD.ImgUrl/@item.IconPath" style="width:40px;"> @item.Name</a></li>
                    }
                </ul>
            </li>
            <li class="megamenu-banners d-none d-lg-block">
                <a href="#">
                    <img src="~/assets/img/Menu-Image3.jpg" alt="" />
                </a>
            </li>
        </ul>
    </li>
    @*<li><a href="#">Custom</a></li>*@
    @*<li>
        <ul class="megamenu dropdown">
            <li class="mega-title">


            </li>
            <li class="megamenu-banners d-none d-lg-block">
                <a href="#">
                    <img src="~/assets/img/Menu-Image3.jpg" alt="" />
                </a>
            </li>
        </ul>
    </li>*@
    <li class="position-static">
        <a href="@Url.Action("Index","Products")">Collection </a>
        <ul class="megamenu dropdown jewelry-mega-menu-display">
            <li class="mega-title">
                <span>Shop by Collection</span>
                <ul>
                    @foreach (var item in Model.ProductCollectionList)
                    {
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=item.Id})">@item.CollectionName</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Earrings</span>
                <ul>
                    @foreach (var item in Model.SubcategoryList.Where(x => x.CategoryName == SD.Earrings))
                    {
                    <li><a href="#">@item.StyleName</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Necklaces</span>
                <ul>
                    @foreach (var item in Model.SubcategoryList.Where(x => x.CategoryName == SD.Nackleces))
                    {
                    <li><a href="#">@item.StyleName</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Bracelets</span>
                <ul>
                    @foreach (var item in Model.SubcategoryList.Where(x => x.CategoryName == SD.Bracelets))
                    {
                    <li><a href="#">@item.StyleName</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Men's</span>
                <ul>
                    @foreach (var item in Model.CategoryList)
                    {
                    <li><a href="#">@item.Name</a></li>
                    }
                </ul>
            </li>
            <li class="megamenu-banners">
                <a href="#">
                    <video autoplay="autoplay" loop="loop" muted="muted" playsinline preload="auto" style="width:170px;height:250px;">
                        <source src="~/assets/img/video/diamonds-jewellery.mp4" type="video/mp4" />
                    </video>
                </a>
            </li>
        </ul>

    </li>
    @*<li class="position-static">
        <a href="@Url.Action("Index","Products")">Collection </a>
        <ul class="megamenu dropdown jewelry-mega-menu-display">
            <li class="mega-title">
                <span>Shop by Collection</span>
                <ul>
                    @foreach (var item in Model.ProductCollectionList)
                    {
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=item.Id})">@item.CollectionName</a></li>
                    }
                </ul>
            </li>
        </ul>
    </li>*@
    <li><a href="@Url.Action("Index","Education")">Education</a></li>
</ul>
