@model Models.NavMenuDTO
@using Common;

@{
    var firstHalf = Model.ProductShapeList.Take(5).ToList();
    var secondHalf = Model.ProductShapeList.Skip(5).Take(5).ToList();
}


<ul>
    <li class="active position-static">
        <a href="@Url.Action("Index","Product",new {type="Solitaire"})">Engagement</a>
        <ul class="megamenu dropdown">
            <li class="mega-title">
                <span>Shop by Style</span>
                <ul>
                    @if (Model != null && Model.SubcategoryList.Count() > 0)
                    {
                        foreach (var item in Model.SubcategoryList)
                        {
                            <li>
                                <a href="@Url.Action("Index","ProductPrograms",new {programName="Engagement",type=item.Id})">
                                    <img src="@SD.ImgUrl/@item.ImageFile" style="width:30px;">
                                    @item.StyleName
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Shop by Shape</span>
                <ul>
                    @foreach (var item in firstHalf)
                    {
                        <li><a href="#"><img src="@SD.ImgUrl/@item.IconPath" style="width:30px;">@item.Name</a></li>
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span></span>
                <ul>
                    @if (Model != null && Model.ProductShapeList.Count() > 0)
                    {
                        @foreach (var item in secondHalf)
                        {
                            <li><a href="#"><img src="@SD.ImgUrl/@item.IconPath" style="width:30px;">@item.Name</a></li>
                        }
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Shop by Metal</span>
                <ul>
                    <li><a href="#"><img src="~/assets/img/icon/yellow-gold-new.svg" style="width:30px;" /> Yellow Gold</a></li>
                    <li><a href="#"><img src="~/assets/img/icon/white-gold-new.svg" style="width:30px;" /> White Gold</a></li>
                    <li><a href="#"><img src="~/assets/img/icon/rose-gold-new.svg" style="width:30px;" /> Rose Gold</a></li>
                    <li><a href="#"><img src="~/assets/img/icon/platinum-new.svg" style="width:30px;" /> Platinum</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="position-static">
        <a href="@Url.Action("Index","ProductPrograms",new {type="Bands"})">Wedding</a>
        <ul class="megamenu dropdown">
            <li class="mega-title">
                <span>Shop by Style</span>
                <ul>
                    @if (Model != null)
                    {
                        foreach (var item in Model.SubcategoryList.Where(x => x.IsActivated == true))
                        {
                            <li><a href="@Url.Action("Index","Product",new { programName="Wedding",type="WeddingAndAnniversary"})">@item.StyleName</a></li>
                        }
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Shop by Shape</span>
                <ul>
                    @for (int i = 0; i < 5; i++)
                    {
                        foreach (var prodt in Model.ProductShapeList)
                        {
                            <li>
                                <a href="#">
                                    <img src="@SD.ImgUrl/@prodt.IconPath" style="width:30px;">
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span></span>
                <ul>
                    @for (int i = 6; i < 10; i++)
                    {
                        foreach (var prodt in Model.ProductShapeList)
                        {
                            <li>
                                <a href="#">
                                    <img src="@SD.ImgUrl/@prodt.IconPath" style="width:30px;">
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>
            <li class="mega-title">
                <span>Shop by Metal</span>
                <ul>
                    <li><a href="#"><img src="~/assets/img/icon/yellow-gold-new.svg" style="width:30px;" /> Yellow Gold</a></li>
                    <li><a href="#"><img src="~/assets/img/icon/white-gold-new.svg" style="width:30px;" /> White Gold</a></li>
                    <li><a href="#"><img src="~/assets/img/icon/rose-gold-new.svg" style="width:30px;" /> Rose Gold</a></li>
                    <li><a href="#"><img src="~/assets/img/icon/platinum-new.svg" style="width:30px;" /> Platinum</a></li>
                </ul>
            </li>

            <li class="mega-title">
                <span></span>
                <ul>
                    <li><a href="#"><img src="~/assets/img/Menu-Image.jpg" alt="" /></a></li>
                    <li><a href="#"><img src="~/assets/img/Menu-Image1.jpg" alt="" /></a></li>
                </ul>
            </li>

        </ul>
    </li>
    <li class="position-static">
        <a href="@Url.Action("Index","Products")">Jewelry </a>
        <ul class="megamenu dropdown jewelry-mega-menu-display">
            <li class="mega-title">
                <span>Rings</span>
                <ul>
                    <li><a href="#">Fashion</a></li>
                    <li><a href="#">Gemstone</a></li>
                    <li><a href="#">Gold</a></li>
                    <li><a href="#">High Jewelry</a></li>
                    <li><a href="#">Customer Favorites</a></li>
                </ul>
            </li>
            <li class="mega-title">
                <span>Earrings</span>
                <ul>
                    <li><a href="#">Studs</a></li>
                    <li><a href="#">Hoops</a></li>
                    <li><a href="#">Fashion</a></li>
                    <li><a href="#">Jackets</a></li>
                    <li><a href="#">Gemstone</a></li>
                    <li><a href="#">Gold</a></li>
                    <li><a href="#">High Jewelry</a></li>
                    <li><a href="#">Customer Favorites</a></li>
                </ul>
            </li>
            <li class="mega-title">
                <span>Necklaces</span>
                <ul>
                    <li><a href="#">Tennis</a></li>
                    <li><a href="#">Pendants</a></li>
                    <li><a href="#">Fashion</a></li>
                    <li><a href="#">Gemstone</a></li>
                    <li><a href="#">Gold</a></li>
                    <li><a href="#">High Jewelry</a></li>
                    <li><a href="#">Customer Favorites</a></li>
                </ul>
            </li>
            <li class="mega-title">
                <span>Bracelets</span>
                <ul>
                    <li><a href="#">Tennis</a></li>
                    <li><a href="#">Fashion</a></li>
                    <li><a href="#">Bangles</a></li>
                    <li><a href="#">Anklets</a></li>
                    <li><a href="#">Gemstone</a></li>
                    <li><a href="#">Gold</a></li>
                    <li><a href="#">High Jewelry</a></li>
                    <li><a href="#">Customer Favorites</a></li>
                </ul>
            </li>
            <li class="mega-title">
                <span>Men's</span>
                <ul>
                    <li><a href="#">Rings</a></li>
                    <li><a href="#">Earrings</a></li>
                    <li><a href="#">Necklaces</a></li>
                    <li><a href="#">Bracelets</a></li>
                    <li><a href="#">Cufflinks</a></li>
                </ul>
            </li>
            <li class="megamenu-banners">
                <a href="#">

                    <video autoplay="autoplay" loop="loop" muted="muted" playsinline preload="auto" style="width:170px;height:250px;">
                        <source src="~/assets/img/video/diamonds-jewellery.mp4" type="video/mp4" />
                    </video>
                </a>
            </li>
        </ul>

    </li>
    <li class="position-static">
        <a href="@Url.Action("Index","Diamond")">Diamond </a>
        <ul class="megamenu dropdown">
            <li class="mega-title">
                <span>Shop by Shape</span>
                <ul>
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=457})"><img src="~/assets/img/diamond-svg/Princess.svg" style="width:30px;"> Princess</a></li>
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=456})"><img src="~/assets/img/diamond-svg/Round.svg" style="width:30px;"> Round</a></li>
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=464})"><img src="~/assets/img/diamond-svg/Radiant.svg" style="width:30px;"> Radiant-Cut</a></li>
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=463})"><img src="~/assets/img/diamond-svg/Emerald.svg" style="width:30px;"> Emerald</a></li>
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=461})"><img src="~/assets/img/diamond-svg/Oval.svg" style="width:30px;"> Oval</a></li>
                </ul>
            </li>
            <li class="mega-title">
                <span></span>
                <ul>
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=462})"><img src="~/assets/img/diamond-svg/Cushion.svg" style="width:30px;"> CushionLong</a></li>
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=460})"><img src="~/assets/img/diamond-svg/Heart.svg" style="width:30px;"> Heart</a></li>
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=458})"><img src="~/assets/img/diamond-svg/Marquise.svg" style="width:30px;"> Marquise</a></li>
                    <li><a href="@Url.Action("Index","Diamond",new { shapeId=465})"><img src="~/assets/img/diamond-svg/Square Emerald.svg" style="width:30px;"> Sq.Emerald</a></li>
                    @*<li><a href="@Url.Action("Index","Diamond",new { shapeId="Asscher"})"><img src="~/assets/img/diamond-svg/Asscher.svg" style="width:30px;"> Asscher</a></li>*@
                </ul>
            </li>
            <li class="megamenu-banners d-none d-lg-block">
                <a href="#">
                    <img src="~/assets/img/Menu-Image3.jpg" alt="" />
                </a>
            </li>
        </ul>
    </li>
    @*<li><a href="#">Custom</a></li>*@
    <li>
        <a href="#">Collection </a>
    </li>
    <li><a href="@Url.Action("Index","Education")">Education</a></li>
</ul>