@using Common;
@{
    ViewData["Title"] = "Home Page";
}

<section class="header" id="homeHeader">
</section>

<section class="section-padding padding-top-10 padding-bottom-10">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <center>
                    <img src="~/assets/img/banner/FreeGiftPurchaseBanner.jpg" class="img-fluid" alt="" />
                </center>
            </div>
        </div>
    </div>
</section>


<section class="section-padding padding-top-40 padding-bottom-40 bg-light-pink">
    <div class="container">
        <div class="row text-center">
            <!-- section title -->
            <div class="section-title col-12">
                <h2 class="title text-uppercase text-theme-color-font mb-2">SHOP FOR LAB GROWN DIAMONDS</h2>
                <center>
                    <img src="~/assets/img/Title Line.png" />
                </center>
            </div>
        </div>

        <div class="row">
            <!-- Left side for the diamond category image -->
            @*<div class="col-lg-4">
                    <div class="text-center mb-4">
                        <img src="~/assets/img/banner/Sustainable_Diamond_Banner.png" class="img-fluid img-thumbnail category-image" alt="Diamonds" style="max-width: 100%; height: auto;">
                    </div>
                </div>*@

            <!-- Right side for the diamond shape icons -->
            <div class="col-lg-12">
                <div class="diamond-grid">
                    <!-- Product Item 1 -->
                    <div class="diamond-item">
                        <a href="@Url.Action("Index","Diamond",new { shapeId=457})">
                            <img src="~/assets/img/diamond-svg/Princess.svg" class="diamond-icon" alt="Princess Diamond">
                            <h5>Princess</h5>
                        </a>
                    </div>

                    <!-- Product Item 2 -->
                    <div class="diamond-item">
                        <a href="@Url.Action("Index","Diamond",new { shapeId=456})">
                            <img src="~/assets/img/diamond-svg/Round.svg" class="diamond-icon" alt="Round Diamond">
                            <h5>Round</h5>
                        </a>
                    </div>

                    <!-- Product Item 3 -->
                    <div class="diamond-item">
                        <a href="@Url.Action("Index","Diamond",new { shapeId=464})">
                            <img src="~/assets/img/diamond-svg/Radiant.svg" class="diamond-icon" alt="Radiant Cut Diamond">
                            <h5>Radiant-Cut</h5>
                        </a>
                    </div>

                    <!-- Product Item 4 -->
                    <div class="diamond-item">
                        <a href="@Url.Action("Index","Diamond",new { shapeId=463})">
                            <img src="~/assets/img/diamond-svg/Emerald.svg" class="diamond-icon" alt="Emerald Diamond">
                            <h5>Emerald</h5>
                        </a>
                    </div>

                    <!-- Product Item 5 -->
                    <div class="diamond-item">
                        <a href="@Url.Action("Index","Diamond",new { shapeId=461})">
                            <img src="~/assets/img/diamond-svg/Oval.svg" class="diamond-icon" alt="Oval Diamond">
                            <h5>Oval</h5>
                        </a>
                    </div>

                    <!-- Product Item 6 -->
                    <div class="diamond-item">
                        <a href="@Url.Action("Index","Diamond",new { shapeId=462})">
                            <img src="~/assets/img/diamond-svg/Cushion.svg" class="diamond-icon" alt="Cushion Long Diamond">
                            <h5>CushionLong</h5>
                        </a>
                    </div>

                    <!-- Product Item 7 -->
                    <div class="diamond-item">
                        <a href="@Url.Action("Index","Diamond",new { shapeId=460})">
                            <img src="~/assets/img/diamond-svg/Heart.svg" class="diamond-icon" alt="Heart Diamond">
                            <h5>Heart</h5>
                        </a>
                    </div>

                    <!-- Product Item 8 -->
                    <div class="diamond-item">
                        <a href="@Url.Action("Index","Diamond",new { shapeId=458})">
                            <img src="~/assets/img/diamond-svg/Marquise.svg" class="diamond-icon" alt="Marquise Diamond">
                            <h5>Marquise</h5>
                        </a>
                    </div>

                    <!-- Product Item 9 -->
                    <div class="diamond-item">
                        <a href="@Url.Action("Index","Diamond",new { shapeId=465})">
                            <img src="~/assets/img/diamond-svg/Square Emerald.svg" class="diamond-icon" alt="Square Emerald Diamond">
                            <h5>Sq.Emerald</h5>
                        </a>
                    </div>

                    <!-- Product Item 10 -->
                    <div class="diamond-item">
                        <a href="@Url.Action("Index","Diamond",new { shapeId="Asscher"})">
                            <img src="~/assets/img/diamond-svg/Asscher.svg" class="diamond-icon" alt="Asscher Diamond">
                            <h5>Asscher</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding padding-top-30 padding-bottom-30" id="section2">
    <div class="custom-container">
        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="slider-item">
                    <a href="@Url.Action("Index","Products")">
                        <figure class="slider-thumb">
                            <img src="~/assets/img/collection-img/1.jpg" class="img-fluid" alt="" />
                        </figure>
                        <div class="slider-item-content">
                            <h2>Gifts for Her</h2>
                            <div class="btn btn-dark shop-now-btn">SHOP NOW</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="slider-item">
                    <a href="#">
                        <figure class="slider-thumb">
                            <img src="~/assets/img/banner/Mens-banner.jpg" alt="gift-for-you" />
                        </figure>
                        <div class="slider-item-content">
                            <h2>Gifts for Him</h2>
                            <div class="btn btn-dark shop-now-btn">SHOP NOW</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="slider-item">
                    <a href="@Url.Action("Index","Products")">
                        <figure class="slider-thumb">
                            <img src="~/assets/img/collection-img/2.jpg" class="img-fluid" alt="" />
                        </figure>
                        <div class="slider-item-content">
                            <h2>Quick Ship Gifts</h2>
                            <div class="btn btn-dark shop-now-btn">SHOP NOW</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="slider-item">
                    <a href="#">
                        <figure class="slider-thumb">
                            <img src="~/assets/img/collection-img/3.jpg" class="img-fluid" alt="" />
                        </figure>
                        <div class="slider-item-content">
                            <h2>Gifts under $1000</h2>
                            <div class="btn btn-dark shop-now-btn">SHOP NOW</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="slider-item">
                    <a href="@Url.Action("ProductPrograms","Product")">
                        <figure class="slider-thumb">
                            <img src="~/assets/img/collection-img/4.jpg" class="img-fluid" alt="" />
                        </figure>
                        <div class="slider-item-content">
                            <h2>Anniversary Gifts</h2>
                            <div class="btn btn-dark shop-now-btn">SHOP NOW</div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="product-banner-statistics padding-top-20 padding-bottom-20 bg-theme-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- section title start -->
                <div class="section-title text-center">
                    <h2 class="text-uppercase text-white">Shop by Category</h2>
                </div>
                <!-- section title end -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 product-type-padding-section">
                <div class="mt-2 mb-3 shopby-section">
                    <button class="btn btn-dark-style-2 titleuppercase no-border shopby-category-card" id="btnRingsTab">
                        <div class="d-grid product-type-box text-center">
                            <center><img src="~/assets/img/product/Ring.png" style="height:120px;" /> </center>
                            <span class="font-size16 PlayfairDisplay-title">Rings</span>
                        </div>
                    </button>
                    <button class="btn btn-dark-style-2 titleuppercase no-border shopby-category-card" id="btnEarringsTab">
                        <div class="d-grid product-type-box text-center">
                            <center><img src="~/assets/img/product/Earring.png" style="height: 120px;" /></center>
                            <span class="font-size16 PlayfairDisplay-title">Earrings</span>
                        </div>
                    </button>
                    <button class="btn btn-dark-style-2 titleuppercase no-border shopby-category-card" id="btnBraceletsTab">
                        <div class="d-grid product-type-box text-center">
                            <center><img src="~/assets/img/product/Bracelets.png" style="height: 120px;" /></center>
                            <span class="font-size16 PlayfairDisplay-title">Bracelets</span>
                        </div>
                    </button>
                    <button class="btn btn-dark-style-2 titleuppercase no-border shopby-category-card" id="btnNecklacesTab">
                        <div class="d-grid product-type-box text-center">
                            <center><img src="~/assets/img/product/Necklaces.png" style="height: 120px;" /></center>
                            <span class="font-size16 PlayfairDisplay-title">Necklaces</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <div class="product-type-detail-section">
            <div class="row" id="divRings">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 ">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Ring01.jpg" alt="">
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Wedding Bands</p>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Ring02.jpg" alt="">
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Eternity</p>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Ring03.jpg" alt="">
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Fashion</p>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Ring04.jpg" alt="">
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Ring Enhancers</p>
                            </div>
                        </figure>
                    </div>
                </div>

            </div>

            <div class="row" id="divEarrings" style="display:none;">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Earring01.jpg" alt="" />
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Stud Earrings</p>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Earring02.jpg" alt="" />
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Hoops</p>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Earring03.jpg" alt="" />
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Fashion</p>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Earring04.jpg" alt="" />
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Earring Jackets</p>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="row" id="divBracelets" style="display:none;">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Bracelets01.jpg" alt="" />
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Tennis</p>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Bracelets02.jpg" alt="" />
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Fashion</p>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Bracelets03.jpg" alt="" />
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Bangle</p>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Bracelets04.jpg" alt="" />
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">New Arrivals</p>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="row" id="divNecklaces" style="display:none;">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Necklaces01.jpg" alt="" />
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Tennis</p>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Necklaces02.jpg" alt="" />
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Fashion</p>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Necklaces03.jpg" alt="" />
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Solitaire</p>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="banner-slide-item">
                        <figure class="banner-statistics hvr-grow">
                            <a href="#">
                                <img class="banner-image border-radius-15" src="~/assets/img/product/Necklaces04.jpg" alt="" />
                            </a>
                            <div class="category-detail">
                                <p class="sub-hd1">Pendants</p>
                            </div>
                        </figure>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>


<section class="slider-area padding-bottom-30 padding-top-30 ">
    <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">

        <div class="hero-single-slide hero-overlay">
            <div class="hero-slider-item bg-img" data-bg="@SD.ShapeImgUrl/assets/img/collection-img/1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-slider-content slide-1">
                                <h2 class="slide-title">Family Jewelry <span>Collection</span></h2>
                                <h4 class="slide-desc">Designer Jewelry Necklaces-Bracelets-Earings</h4>
                                <a href="#" class="btn btn-hero">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-single-slide hero-overlay">
            <div class="hero-slider-item bg-img" data-bg="@SD.ShapeImgUrl/assets/img/collection-img/2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-slider-content slide-2 float-md-end float-none">
                                <h2 class="slide-title">Diamonds Jewelry<span>Collection</span></h2>
                                <h4 class="slide-desc">Shukra Yogam & Silver Power Silver Saving Schemes.</h4>
                                <a href="#" class="btn btn-hero">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-single-slide hero-overlay">
            <div class="hero-slider-item bg-img" data-bg="@SD.ShapeImgUrl/assets/img/collection-img/3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-slider-content slide-3">
                                <h2 class="slide-title">Grace Designer<span>Jewelry</span></h2>
                                <h4 class="slide-desc">Rings, Occasion Pieces, Pandora & More.</h4>
                                <a href="#" class="btn btn-hero">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- hero slider area end -->


<div class="padding-top-20 padding-bottom-20">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title text-uppercase text-theme-color-font mb-2">The Jewel Facets Guarantee</h2>
                    <center>
                        <img src="~/assets/img/Title Line.png" />
                    </center>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-2 mb-3 hvr-wobble-horizontal">
                <div class="promise-box">
                    <img src="~/assets/img/icon/100-exchange-2.png" alt="100% Exchange">
                    <div class="promise-title">100% Exchange</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 mb-3 hvr-wobble-horizontal">
                <div class="promise-box">
                    <img src="~/assets/img/icon/Free-shipping-insurance-1.png" alt="Easy 15 Days Return">
                    <div class="promise-title">Easy 15 Days Return</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 mb-3 hvr-wobble-horizontal">
                <div class="promise-box">
                    <img src="~/assets/img/icon/Certified-jewelery.png" alt="Certified Jewellery">
                    <div class="promise-title">Certified Jewellery</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 mb-3 hvr-wobble-horizontal">
                <div class="promise-box">
                    <img src="~/assets/img/icon/Hallmarked-Gold.png" alt="Hallmarked Gold">
                    <div class="promise-title">Hallmarked Gold</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 mb-3 hvr-wobble-horizontal">
                <div class="promise-box">
                    <img src="~/assets/img/icon/transportation.png" alt="Free Shipping & Insurance">
                    <div class="promise-title">Free Shipping & Insurance</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 mb-3 hvr-wobble-horizontal">
                <div class="promise-box">
                    <img src="~/assets/img/icon/Savings compared to mine diamonds 4.png" alt="Savings compared to mine diamonds">
                    <div class="promise-title">Savings compared to mine diamonds</div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<section class="padding-top-40 padding-bottom-40 creative-studio-section-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="creative-studio-section-details">
                        <h6 class="pb-2 text-white">INTRODUCING CREATIVE STUDIO</h6>
                        <h3 class="pb-2 text-white">Tailor-Made by You</h3>
                        <p>Our Creative Studio allows you to design your engagement ring exactly the way you want it—with control over every detail. Use our unique tools to create something exceptional, online or in showrooms.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

<section class="useful-info-area section-padding bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2 class="title text-uppercase text-theme-color-font mb-2">Useful Information About Our Diamonds</h2>
                <center>
                    <img src="~/assets/img/Title Line.png" />
                </center>
            </div>
        </div>
        <div id="usefulInfoCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Item 1 -->
                <div class="carousel-item active">
                    <div class="info-card text-center p-4">
                        <h3 class="info-title">High-Quality Diamonds</h3>
                        <p class="info-description">Our diamonds are sourced from the most trusted mines, ensuring you get the best quality at competitive prices.</p>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="carousel-item">
                    <div class="info-card text-center p-4">
                        <h3 class="info-title">Certified Stones</h3>
                        <p class="info-description">All our diamonds come with certifications from renowned grading laboratories like GIA and AGS.</p>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="carousel-item">
                    <div class="info-card text-center p-4">
                        <h3 class="info-title">Customizable Designs</h3>
                        <p class="info-description">We offer customization options so you can create the perfect piece of jewelry that reflects your unique style.</p>
                    </div>
                </div>
                <!-- Item 4 -->
                <div class="carousel-item">
                    <div class="info-card text-center p-4">
                        <h3 class="info-title">Fast Delivery</h3>
                        <p class="info-description">We offer fast and secure delivery options to ensure that your diamonds arrive safely and on time.</p>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#usefulInfoCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#usefulInfoCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>



<section class="related-products section-padding padding-top-30 padding-bottom-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- section title start -->
                <div class="section-title text-center">
                    <h2 class="title text-uppercase text-theme-color-font mb-2">Shop by Collection</h2>
                    <center>
                        <img src="~/assets/img/Title Line.png" />
                    </center>
                </div>
                <!-- section title start -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-carousel-4 slick-row-10 slick-arrow-style">
                    <!-- product item start -->
                    <div class="product-item">
                        <figure class="product-thumb">
                            <a href="#">
                                <img class="pri-img" src="~/assets/img/product/product-11.jpg" alt="product">
                                <img class="sec-img" src="~/assets/img/product/product-8.jpg" alt="product">
                            </a>
                        </figure>
                        <div class="product-caption text-center">
                            <h6 class="product-name">
                                <a href="#">Perfect Diamond Jewelry</a>
                            </h6>
                        </div>
                    </div>
                    <!-- product item end -->
                    <!-- product item start -->
                    <div class="product-item">
                        <figure class="product-thumb">
                            <a href="#">
                                <img class="pri-img" src="~/assets/img/product/product-12.jpg" alt="product">
                                <img class="sec-img" src="~/assets/img/product/product-7.jpg" alt="product">
                            </a>
                        </figure>
                        <div class="product-caption text-center">
                            <h6 class="product-name">
                                <a href="#">Handmade Golden Necklace</a>
                            </h6>
                        </div>
                    </div>
                    <!-- product item end -->
                    <!-- product item start -->
                    <div class="product-item">
                        <figure class="product-thumb">
                            <a href="#">
                                <img class="pri-img" src="~/assets/img/product/product-13.jpg" alt="product">
                                <img class="sec-img" src="~/assets/img/product/product-6.jpg" alt="product">
                            </a>
                        </figure>
                        <div class="product-caption text-center">
                            <h6 class="product-name">
                                <a href="#">Perfect Diamond Jewelry</a>
                            </h6>
                        </div>
                    </div>
                    <!-- product item end -->
                    <!-- product item start -->
                    <div class="product-item">
                        <figure class="product-thumb">
                            <a href="#">
                                <img class="pri-img" src="~/assets/img/product/product-14.jpg" alt="product">
                                <img class="sec-img" src="~/assets/img/product/product-5.jpg" alt="product">
                            </a>
                        </figure>
                        <div class="product-caption text-center">
                            <h6 class="product-name">
                                <a href="#">Diamond Exclusive Ornament</a>
                            </h6>
                        </div>
                    </div>
                    <!-- product item end -->
                    <!-- product item start -->
                    <div class="product-item">
                        <figure class="product-thumb">
                            <a href="#">
                                <img class="pri-img" src="~/assets/img/product/product-15.jpg" alt="product">
                                <img class="sec-img" src="~/assets/img/product/product-4.jpg" alt="product">
                            </a>
                        </figure>
                        <div class="product-caption text-center">
                            <h6 class="product-name">
                                <a href="#">Citygold Exclusive Ring</a>
                            </h6>
                        </div>
                    </div>
                    <!-- product item end -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-bottom-20 padding-top-10">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 gift-thumb">
                <img src="~/assets/img/gift-for-you.jpg" alt="" />
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 gift-thumb">
                <img src="~/assets/img/1st-purchase.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<!-- Collection Slider Section -->
<section class="padding-bottom-10 padding-top-10">
    
    <div class="collection-slider-container">
        <button class="collection-nav-button left" onclick="scrollSlider(-1)">&#8592;</button>
        <div class="collection-slider-track" id="sliderTrack">
            <div class="collection-slide">
                <div class="collection-slide-content">
                    <img src="~/assets/img/collection-img/1.jpg" alt="" />
                    <div class="collection-text-overlay">
                        <h2 class="collection-slide-heading">Collection 1</h2>
                        <button class="collection-shop-now">Shop Now</button>
                    </div>
                </div>
            </div>
            <div class="collection-slide">
                <div class="collection-slide-content">
                    <img src="~/assets/img/collection-img/2.jpg" alt="" />
                    <div class="collection-text-overlay">
                        <h2 class="collection-slide-heading">Collection 2</h2>
                        <button class="collection-shop-now">Shop Now</button>
                    </div>
                </div>
            </div>
            <div class="collection-slide">
                <div class="collection-slide-content">
                    <img src="~/assets/img/collection-img/3.jpg" alt="" />
                    <div class="collection-text-overlay">
                        <h2 class="collection-slide-heading">Collection 3</h2>
                        <button class="collection-shop-now">Shop Now</button>
                    </div>
                </div>
            </div>
            <div class="collection-slide">
                <div class="collection-slide-content">
                    <img src="~/assets/img/collection-img/4.jpg" alt="" />
                    <div class="collection-text-overlay">
                        <h2 class="collection-slide-heading">Collection 4</h2>
                        <button class="collection-shop-now">Shop Now</button>
                    </div>
                </div>
            </div>

            <button class="collection-nav-button right" onclick="scrollSlider(1)">&#8594;</button>
        </div>
    </div>
</section>

<section class="testimonial-area section-padding bg-img padding-top-20 padding-bottom-20">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- section title start -->
                <div class="section-title text-center">
                    <h2 class="title text-uppercase text-theme-color-font mb-2">testimonials</h2>
                    <p class="sub-title">What they say</p>
                    <center>
                        <img src="~/assets/img/Title Line.png" />
                    </center>
                </div>
                <!-- section title start -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="testimonial-thumb-wrapper">
                    <div class="testimonial-thumb-carousel">
                        <div class="testimonial-thumb">
                            <img src="~/assets/img/testimonial/testimonial-1.png" alt="testimonial-thumb">
                        </div>
                        <div class="testimonial-thumb">
                            <img src="~/assets/img/testimonial/testimonial-2.png" alt="testimonial-thumb">
                        </div>
                        <div class="testimonial-thumb">
                            <img src="~/assets/img/testimonial/testimonial-3.png" alt="testimonial-thumb">
                        </div>
                        <div class="testimonial-thumb">
                            <img src="~/assets/img/testimonial/testimonial-2.png" alt="testimonial-thumb">
                        </div>
                    </div>
                </div>
                <div class="testimonial-content-wrapper">
                    <div class="testimonial-content-carousel">
                        <div class="testimonial-content">
                            <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                            <div class="ratings">
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                            </div>
                            <h5 class="testimonial-author">lindsy niloms</h5>
                        </div>
                        <div class="testimonial-content">
                            <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                            <div class="ratings">
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                            </div>
                            <h5 class="testimonial-author">Daisy Millan</h5>
                        </div>
                        <div class="testimonial-content">
                            <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                            <div class="ratings">
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                            </div>
                            <h5 class="testimonial-author">Anamika lusy</h5>
                        </div>
                        <div class="testimonial-content">
                            <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                            <div class="ratings">
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                            </div>
                            <h5 class="testimonial-author">Maria Mora</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="latest-blog-area padding-top-40 padding-bottom-40" id="blogList">
</section>


<div class="brand-logo padding-top-20 padding-bottom-10">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- section title start -->
                <div class="section-title text-center">
                    <h2 class="title text-uppercase text-theme-color-font mb-2">Associated With</h2>
                    <center>
                        <img src="~/assets/img/Title Line.png" />
                    </center>
                </div>
                <!-- section title start -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="brand-logo-carousel slick-row-10 slick-arrow-style">
                    <!-- single brand start -->
                    <div class="brand-item">
                        <a href="javascript:void(0)">
                            <img src="~/assets/img/certificate/GIA.png" alt="">
                        </a>
                    </div>
                    <!-- single brand end -->
                    <!-- single brand start -->
                    <div class="brand-item">
                        <a href="javascript:void(0)">
                            <img src="~/assets/img/certificate/IGI.png" alt="">
                        </a>
                    </div>
                    <!-- single brand end -->
                    <!-- single brand start -->
                    <div class="brand-item">
                        <a href="javascript:void(0)">
                            <img src="~/assets/img/certificate/GJEPC.png" alt="">
                        </a>
                    </div>
                    <!-- single brand end -->
                    <!-- single brand start -->
                    <div class="brand-item">
                        <a href="javascript:void(0)">
                            <img src="~/assets/img/certificate/green-build.png" alt="">
                        </a>
                    </div>
                    <!-- single brand end -->
                    <!-- single brand start -->
                    <div class="brand-item">
                        <a href="javascript:void(0)">
                            <img src="~/assets/img/certificate/rjc.png" alt="">
                        </a>
                    </div>
                    <!-- single brand end -->
                    <!-- single brand start -->
                    <div class="brand-item">
                        <a href="javascript:void(0)">
                            <img src="~/assets/img/certificate/SCS-007.png" alt="">
                        </a>
                    </div>
                    <!-- single brand end -->
                    <div class="brand-item">
                        <a href="javascript:void(0)">
                            <img src="~/assets/img/certificate/SCS-AH.png" alt="">
                        </a>
                    </div>

                    <div class="brand-item">
                        <a href="javascript:void(0)">
                            <img src="~/assets/img/certificate/sedex.png" alt="">
                        </a>
                    </div>

                    <div class="brand-item">
                        <a href="javascript:void(0)">
                            <img src="~/assets/img/certificate/Certification_Badge_cre_FEB-2024_2025.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-0 rounded shadow-lg overflow-hidden">
            <button type="button" id="closeButton" class="close position-absolute p-2"
                    data-dismiss="modal" aria-label="Close"
                    style="top: 10px; right: 10px; z-index: 1051;">
                <span aria-hidden="true" style="font-size: 1.5rem;">&times;</span>
            </button>

            <div class="row no-gutters">
                <!-- Image Section -->
                <div class="col-md-6">
                    <img src="~/assets/img/banner/Sustainable_Diamond_Banner.png"
                         class="img-fluid h-100 w-100 object-fit-cover" alt="Promo Image">
                </div>

                <!-- Form Section -->
                <div class="col-md-6 d-flex align-items-center">
                    <div class="p-4 w-100">
                        <h3 class="mb-3 text-dark font-weight-bold">Join Our Guest List</h3>
                        <p class="text-muted mb-4">Subscribe now and receive <strong>$100 off</strong> your next purchase!</p>

                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg"
                                       placeholder="Enter your email" required />
                            </div>
                            <button type="submit" class="btn btn-dark btn-block btn-lg mt-3">
                                Get $100 Off
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(function () {
            showHeader();
            showModal();
            blogList();


            $("#closeButton").click(function(){
                $("#modalPopup").modal("hide");
            });


            $("#btnRingsTab").click(function () {
                $("#divEarrings").hide();
                $("#divBracelets").hide();
                $("#divNecklaces").hide();
                $("#divRings").show();
            });

            $("#btnEarringsTab").click(function () {
                $("#divRings").hide();
                $("#divBracelets").hide();
                $("#divNecklaces").hide();
                $("#divEarrings").show();
            });

            $("#btnBraceletsTab").click(function () {
                $("#divRings").hide();
                $("#divNecklaces").hide();
                $("#divEarrings").hide();
                $("#divBracelets").show();
            });

            $("#btnNecklacesTab").click(function () {
                $("#divRings").hide();
                $("#divEarrings").hide();
                $("#divBracelets").hide();
                $("#divNecklaces").show();

            });

            updateVideoDisplay();

            $(window).resize(function () {
                updateVideoDisplay();
            });


            function updateVideoDisplay() {
                var desktopvideobanner = document.getElementById('desktop-video-banner');
                var desktopvideophone = document.getElementById('desktop-video-phone');

                // Ensure the videos are muted to allow autoplay on mobile
                desktopvideobanner.muted = true;
                desktopvideophone.muted = true;


                // Play videos only if the element is available
                if (desktopvideobanner) {
                    desktopvideobanner.play();
                }


                if (window.innerWidth <= 1040 && window.innerWidth >= 600) { // Tablet Video Display
                    $('.desktop-video').show();
                    $('.phone-video').hide();
                    desktopvideobanner.play();
                }
                else if (window.innerWidth <= 600) { // Mobile Video Display
                    $('.desktop-video').hide();
                    $('.phone-video').show();


                    if (desktopvideophone) {
                        desktopvideophone.play();
                    }

                }
                else { // Desktop Video Display
                    $('.desktop-video').show();
                    $('.phone-video').hide();
                    desktopvideobanner.play();
                }
            }


        });

        function showModal() {
            setTimeout(function () {
                $("#modalPopup").modal("show");
            }, 400);
        }

        function blogList()
        {
            $.ajax({
               url: '@Url.Action("GetBlogList", "Home")',
                type: 'Get',
                success: function (data) {
                    $('#blogList').html('');
                    $('#blogList').html(data);


                    $('.active-blog-carousel-active').slick({
                        autoplay: true,
                        speed: 1000,
                        slidesToShow: 3,
                        adaptiveHeight: true,
                        prevArrow: '<button type="button" class="slick-prev"><i class="pe-7s-angle-left"></i></button>',
                        nextArrow: '<button type="button" class="slick-next"><i class="pe-7s-angle-right"></i></button>',
                        responsive: [{
                            breakpoint: 992,
                            settings: {
                                slidesToShow: 2
                            }
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                arrows: false,
                                slidesToShow: 1
                            }
                        }]
                    });
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                }
            });
        }


        //homeHeader
        function showHeader()
        {
            $.ajax({
               url: '@Url.Action("ShowHomePageData", "Home")',
                type: 'Get',
                success: function (data) {
                    $('#homeHeader').html('');
                    $('#homeHeader').html(data);
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                }
            });
        }


    </script>

    <script>
        const slider = document.getElementById('sliderTrack');
        let slides = Array.from(slider.children);
        const gap = 20;

        // Clone the slides and append them to enable looping
        function cloneSlides() {
          slides.forEach(slide => {
            const clone = slide.cloneNode(true);
            slider.appendChild(clone);
          });
          slides = Array.from(slider.children);
        }

        cloneSlides();

        function scrollSlider(direction) {
          // Calculate current slide width dynamically
          const slideWidth = slider.querySelector('.collection-slide').offsetWidth + gap;
          slider.scrollBy({ left: direction * slideWidth, behavior: 'smooth' });

          const maxScrollLeft = slider.scrollWidth - slider.clientWidth - slideWidth;
          if (slider.scrollLeft >= maxScrollLeft - slideWidth) {
            cloneSlides();
          }
        }

        // Ensure responsiveness on resize
        window.addEventListener('resize', () => {
          // No action needed here anymore as we recalculate width on scroll
        });
    </script>

}